src/wsdl/Fedora-API-M.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdldoc="http://www.cs.cornell.edu/~cwilper/wsdldoc/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:fedora-api="http://www.fedora.info/definitions/1/0/api/" xmlns:fedora-auditing="http://www.fedora.info/definitions/1/0/auditing/" xmlns:fedora-types="http://www.fedora.info/definitions/1/0/types/" targetNamespace="http://www.fedora.info/definitions/1/0/api/" name="Fedora-API-M-WSDL">
	<import namespace="http://www.fedora.info/definitions/1/0/types/" location="fedora-types.xsd"/>
	<import namespace="http://www.fedora.info/definitions/1/0/auditing/" location="fedora-auditing.xsd"/>
	<types>
		<documentation>
			<wsdldoc:type name="xsd:string" url="http://www.w3.org/TR/2001/REC-xmlschema-2-20010502/#string"/>
			<wsdldoc:type name="xsd:base64Binary" url="http://www.w3.org/TR/2001/REC-xmlschema-2-20010502/#base64Binary"/>
			<wsdldoc:type name="fedora-types:ArrayOfString" url="http://www.fedora.info/definitions/1/0/types/#ArrayOfString"/>
			<wsdldoc:type name="fedora-types:ArrayOfDateTimeString" url="http://www.fedora.info/definitions/1/0/types/#ArrayOfDateTimeString"/>
			<wsdldoc:type name="fedora-types:Datastream" url="http://www.fedora.info/definitions/1/0/types/#Datastream"/>
			<wsdldoc:type name="fedora-types:ArrayOfDatastream" url="http://www.fedora.info/definitions/1/0/types/#ArrayOfDatastream"/>
			<wsdldoc:type name="fedora-types:DatastreamBindingMap" url="http://www.fedora.info/definitions/1/0/types/#DatastreamBindingMap"/>
			<wsdldoc:type name="fedora-types:Disseminator" url="http://www.fedora.info/definitions/1/0/types/#Disseminator"/>
			<wsdldoc:type name="fedora-types:ArrayOfDisseminator" url="http://www.fedora.info/definitions/1/0/types/#ArrayOfDisseminator"/>
			<wsdldoc:type name="fedora-types:UserInfo" url="http://www.fedora.info/definitions/1/0/types/#UserInfo"/>
			<wsdldoc:type name="fedora-types:ArrayOfProperty" url="http://www.fedora.info/definitions/1/0/types/#ArrayOfProperty"/>
			<wsdldoc:type name="fedora-auditing:ArrayOfAuditRecord" url="http://www.fedora.info/definitions/1/0/auditing/#ArrayOfAuditRecord"/>
		</documentation>
	</types>
	<message name="ingestRequest">
		<part name="XML" type="xsd:base64Binary"/>
		<part name="format" type="xsd:string"/>
		<part name="logMessage" type="xsd:string"/>
	</message>
	<message name="ingestObjectRequest">
		<documentation>(DEPRECATED IN FEDORA 2.0. USE INGEST INSTEAD.)</documentation>
		<part name="METSXML" type="xsd:base64Binary"/>
		<part name="logMessage" type="xsd:string"/>
	</message>
	<message name="ingestObjectResponse">
		<part name="response" type="xsd:string"/>
	</message>
	<message name="modifyObjectRequest">
		<part name="pid" type="xsd:string"/>
		<part name="state" type="xsd:string"/>
		<part name="label" type="xsd:string"/>
		<part name="logMessage" type="xsd:string"/>
	</message>
	<message name="modifyObjectResponse">
		<part name="response" type="xsd:string"/>
	</message>
	<message name="getObjectPropertiesRequest">
		<part name="pid" type="xsd:string"/>
	</message>
	<message name="getObjectPropertiesResponse">
		<part name="response" type="fedora-types:ArrayOfProperty"/>
	</message>
	<message name="getObjectXMLRequest">
		<part name="pid" type="xsd:string"/>
	</message>
	<message name="getObjectXMLResponse">
		<part name="response" type="xsd:base64Binary"/>
	</message>
	<message name="exportRequest">
		<part name="pid" type="xsd:string"/>
		<part name="format" type="xsd:string"/>
		<part name="context" type="xsd:string"/>
	</message>
	<message name="exportObjectRequest">
		<documentation>(DEPRECATED IN FEDORA 2.0. USE EXPORT INSTEAD.) 
		Object will be exported in the default export format configured for the repository.</documentation>
		<part name="pid" type="xsd:string"/>
	</message>
	<message name="exportObjectResponse">
		<part name="response" type="xsd:base64Binary"/>
	</message>
	<message name="purgeObjectRequest">
		<part name="pid" type="xsd:string"/>
		<part name="logMessage" type="xsd:string"/>
	</message>
	<message name="purgeObjectResponse">
		<part name="response" type="xsd:string"/>
	</message>
	<message name="addDatastreamRequest">
		<part name="pid" type="xsd:string"/>
		<part name="dsLabel" type="xsd:string"/>
		<part name="MIMEType" type="xsd:string"/>
		<part name="dsLocation" type="xsd:string"/>
		<part name="controlGroup" type="xsd:string"/>
		<part name="MDClass" type="xsd:string"/>
		<part name="MDType" type="xsd:string"/>
		<part name="dsState" type="xsd:string"/>
	</message>
	<message name="addDatastreamResponse">
		<part name="response" type="xsd:string"/>
	</message>
	<message name="createDatastreamRequest">
		<part name="pid" type="xsd:string"/>
		<part name="dsID" type="xsd:string"/>
		<part name="dsLabel" type="xsd:string"/>
		<part name="versionable" type="xsd:boolean"/>
		<part name="MIMEType" type="xsd:string"/>
		<part name="formatURI" type="xsd:string"/>
		<part name="dsLocation" type="xsd:string"/>
		<part name="controlGroup" type="xsd:string"/>
		<part name="dsState" type="xsd:string"/>
	</message>
	<message name="createDatastreamResponse">
		<part name="response" type="xsd:string"/>
	</message>
	<message name="addDisseminatorRequest">
		<part name="pid" type="xsd:string"/>
		<part name="bDefPid" type="xsd:string"/>
		<part name="bMechPid" type="xsd:string"/>
		<part name="dissLabel" type="xsd:string"/>
		<part name="bDefLabel" type="xsd:string"/>
		<part name="bMechLabel" type="xsd:string"/>
		<part name="bindingMap" type="fedora-types:DatastreamBindingMap"/>
		<part name="dissState" type="xsd:string"/>
	</message>
	<message name="addDisseminatorResponse">
		<part name="response" type="xsd:string"/>
	</message>
	<message name="describeUserRequest">
		<part name="id" type="xsd:string"/>
	</message>
	<message name="describeUserResponse">
		<part name="response" type="fedora-types:UserInfo"/>
	</message>
	<message name="modifyDatastreamByReferenceRequest">
		<part name="pid" type="xsd:string"/>
		<part name="dsID" type="xsd:string"/>
		<part name="dsLabel" type="xsd:string"/>
		<part name="logMessage" type="xsd:string"/>
		<part name="dsLocation" type="xsd:string"/>
		<part name="dsState" type="xsd:string"/>
	</message>
	<message name="modifyDatastreamByReferenceResponse">
		<part name="response" type="xsd:string"/>
	</message>
	<message name="modifyDatastreamByValueRequest">
		<part name="pid" type="xsd:string"/>
		<part name="dsID" type="xsd:string"/>
		<part name="dsLabel" type="xsd:string"/>
		<part name="logMessage" type="xsd:string"/>
		<part name="dsContent" type="xsd:base64Binary"/>
		<part name="dsState" type="xsd:string"/>
	</message>
	<message name="modifyDatastreamByValueResponse">
		<part name="response" type="xsd:string"/>
	</message>
	<message name="modifyDisseminatorRequest">
		<part name="pid" type="xsd:string"/>
		<part name="dissID" type="xsd:string"/>
		<part name="bMechPid" type="xsd:string"/>
		<part name="dissLabel" type="xsd:string"/>
		<part name="bDefLabel" type="xsd:string"/>
		<part name="bMechLabel" type="xsd:string"/>
		<part name="bindingMap" type="fedora-types:DatastreamBindingMap"/>
		<part name="logMessage" type="xsd:string"/>
		<part name="dissState" type="xsd:string"/>
	</message>
	<message name="modifyDisseminatorResponse">
		<part name="response" type="xsd:string"/>
	</message>
	<message name="setDatastreamStateRequest">
		<part name="pid" type="xsd:string"/>
		<part name="dsID" type="xsd:string"/>
		<part name="dsState" type="xsd:string"/>
		<part name="logMessage" type="xsd:string"/>
	</message>
	<message name="setDatastreamStateResponse">
		<part name="response" type="xsd:string"/>
	</message>
	<message name="setDisseminatorStateRequest">
		<part name="pid" type="xsd:string"/>
		<part name="dissID" type="xsd:string"/>
		<part name="dissState" type="xsd:string"/>
		<part name="logMessage" type="xsd:string"/>
	</message>
	<message name="setDisseminatorStateResponse">
		<part name="response" type="xsd:string"/>
	</message>
	<message name="getDatastreamRequest">
		<part name="pid" type="xsd:string"/>
		<part name="dsID" type="xsd:string"/>
		<part name="asOfDateTime" type="xsd:string"/>
	</message>
	<message name="getDatastreamResponse">
		<part name="response" type="fedora-types:Datastream"/>
	</message>
	<message name="getDatastreamsRequest">
		<part name="pid" type="xsd:string"/>
		<part name="asOfDateTime" type="xsd:string"/>
		<part name="dsState" type="xsd:string"/>
	</message>
	<message name="getDatastreamsResponse">
		<part name="response" type="fedora-types:ArrayOfDatastream"/>
	</message>
	<message name="getDatastreamHistoryRequest">
		<part name="pid" type="xsd:string"/>
		<part name="dsID" type="xsd:string"/>
	</message>
	<message name="getDatastreamHistoryResponse">
		<part name="response" type="fedora-types:ArrayOfDatastream"/>
	</message>
	<message name="getDisseminatorRequest">
		<part name="pid" type="xsd:string"/>
		<part name="dissID" type="xsd:string"/>
		<part name="asOfDateTime" type="xsd:string"/>
	</message>
	<message name="getDisseminatorResponse">
		<part name="response" type="fedora-types:Disseminator"/>
	</message>
	<message name="getDisseminatorsRequest">
		<part name="pid" type="xsd:string"/>
		<part name="asOfDateTime" type="xsd:string"/>
		<part name="dissState" type="xsd:string"/>
	</message>
	<message name="getDisseminatorsResponse">
		<part name="response" type="fedora-types:ArrayOfDisseminator"/>
	</message>
	<message name="getDisseminatorHistoryRequest">
		<part name="pid" type="xsd:string"/>
		<part name="dissID" type="xsd:string"/>
	</message>
	<message name="getDisseminatorHistoryResponse">
		<part name="response" type="fedora-types:ArrayOfDisseminator"/>
	</message>
	<message name="purgeDatastreamRequest">
		<part name="pid" type="xsd:string"/>
		<part name="dsID" type="xsd:string"/>
		<part name="endDT" type="xsd:string"/>
	</message>
	<message name="purgeDatastreamResponse">
		<part name="response" type="fedora-types:ArrayOfDateTimeString"/>
	</message>
	<message name="purgeDisseminatorRequest">
		<part name="pid" type="xsd:string"/>
		<part name="dissID" type="xsd:string"/>
		<part name="endDT" type="xsd:string"/>
	</message>
	<message name="purgeDisseminatorResponse">
		<part name="response" type="fedora-types:ArrayOfDateTimeString"/>
	</message>
	<message name="getNextPIDRequest">
		<part name="numPids" type="xsd:nonNegativeInteger"/>
		<part name="pidNamespace" type="xsd:string"/>
	</message>
	<message name="getNextPIDResponse">
		<part name="response" type="fedora-types:ArrayOfString"/>
	</message>
	<portType name="Fedora-API-M">
		<documentation>The Fedora Management service defines an open interface for
		administering the repository, including creating, modifying, and deleting digital objects, 
		or components within digital objects.  The Management service interacts with the 
		underlying repository system to read content from and write content to the digital 
		object and datastream storage areas.  The Management service exposes a set of 
		operations that enable a client to view and manipulate digital objects from an abstract 
		perspective, meaning that a client does not need to know anything about underlying 
		storage formats,  storage media, or storage management schemes for objects.  Also, the
		 underlying repository system handles the details of storing datastream content within the 
		 repository, as well as mediating connectivity for datastreams that reference external content.</documentation>
		<operation name="ingest">
			<documentation>Creates a new digital object in the repository using
			the provided XML ingest file.  The ingest file may be in one of several
			formats that Fedora supports.  As of Fedora 2.0, the valid formats are
			"foxml1.0" and "metslikefedora1".  After a successful ingest, the object's
			initial state will be A (active).   If the XML document does not specify a pid, 
			the repository will generate and return a new pid for the object as a result of
			this request.  That pid will have the namespace of that is configured as the
			default for the repository.  If the XML ingest file specifies a pid, it will be assigned
			to the digital object provided that 1) it conforms to the Fedora pid syntax, 
			2) it does not specify the namespace of the repository, and 3) it does not collide 
			with an existing pid of an object in the repository.</documentation>
			<input message="fedora-api:ingestRequest"/>
			<output message="fedora-api:ingestObjectResponse"/>
		</operation>
		<operation name="ingestObject">
			<documentation>(DEPRECATED IN FEDORA 2.0. USE INGEST INSTEAD.)
			Creates a new digital object in the repository using the provided XML ingest file
			which must be in the Fedora METS format ("metslikefedora1").   The object's initial
			state will be A (active).   If the XML document does not specify a pid, the repository 
			will generate and return a new pid for the object resulting from this request.  That pid 
			will have the namespace of the repository.  If the XML document specifies a pid, it will 
			be assigned to the digital object provided that 1) it conforms to the Fedora pid syntax, 
			2) it does not specify the namespace of the repository, and 3) it does not collide with an 
			existing pid of an object in the repository.</documentation>
			<input message="fedora-api:ingestObjectRequest"/>
			<output message="fedora-api:ingestObjectResponse"/>
		</operation>
		<operation name="describeUser">
			<documentation>Gets key information about the named user.</documentation>
			<input message="fedora-api:describeUserRequest"/>
			<output message="fedora-api:describeUserResponse"/>
		</operation>
		<operation name="modifyObject">
			<documentation>Changes the state and/or label of the object.</documentation>
			<input message="fedora-api:modifyObjectRequest"/>
			<output message="fedora-api:modifyObjectResponse"/>
		</operation>
		<operation name="getObjectProperties">
			<documentation>Get the object's properties as an array of name/value pairs.</documentation>
			<input message="fedora-api:getObjectPropertiesRequest"/>
			<output message="fedora-api:getObjectPropertiesResponse"/>
		</operation>
		<operation name="getObjectXML">
			<documentation>Gets the entire XML-encoded  digital object in the 
			internal storage format configured for the repository. This operation is intended to get
			a copy of the object as it looks in the repository persistent storage area.</documentation>
			<input message="fedora-api:getObjectXMLRequest"/>
			<output message="fedora-api:getObjectXMLResponse"/>
		</operation>
		<operation name="export">
			<documentation>Gets the entire XML-encoded digital object in the default 
			export format configured for the repository ("metslikefedora1" or "foxml1.0").  
			The request specifies the desired export format.  The request also specifies the 
			desired export context, which determines how datastream content will appear 
			in the export output.  Valid export contexts are "public," "migrate" and "archive"   
			-  The "public" context will provide output where all datastreams have absolute
			URLs.  URLs that refer to the host:port of the exporting repository are encoded as 
			absolute callback URLs to the repository.  This is context is appropriate when the 
			exporting repository will 	continue to exist and will continue to support callback URLs 
			for datastream content and disseminations.
			- The "migrate" context will provide output that is appropriate for migrating objects
			from one Fedora repository to another.  An export with the "migrate" context is necessary
			to maintain relative repository URLs in a *new* repository.  Specificallly, this will
			ensure that URLs that were relative to the exporting repository, will become
			relative to a *new* repository if the export file is subsequently ingested into another
			Fedora repository.   This context is appropriate when the exporting repository will NOT 
			be available after objects have been migrated to a new repository.
			- (FUTURE) The "archive" context will produce output that has all datastream 
			content (both xml and binary content) inlined.  Binary content is base-64 encoded.  
			This export output is a self-contained entity that does not require any URLs to be resolved to obtain
			datastream content. </documentation>
			<input message="fedora-api:exportRequest"/>
			<output message="fedora-api:exportObjectResponse"/>
		</operation>
		<operation name="exportObject">
			<documentation>(DEPRECATED IN FEDORA 2.0. USE EXPORT INSTEAD.)
			Gets the entire XML-encoded digital object in the default export format configured
			for the repository ("metslikefedora1" or "foxml1.0").  The export format is intended
			for external use (viewing, editing, moving to another repository).	XML metadata 
			datastreams will be included inline, content datastreams will be included inline 
			(base64-encoded), and external datastreams will be referenced by url.</documentation>
			<input message="fedora-api:exportObjectRequest"/>
			<output message="fedora-api:exportObjectResponse"/>
		</operation>
		<operation name="purgeObject">
			<documentation>Permanently removes an object from the repository.
      </documentation>
			<input message="fedora-api:purgeObjectRequest"/>
			<output message="fedora-api:purgeObjectResponse"/>
		</operation>
		<!--
    <operation name="getObjectAuditTrail">
      <documentation>Gets all audit trail records for the object.</documentation>
      <input message="fedora-api:getObjectAuditTrailRequest"/>
      <output message="fedora-api:getObjectAuditTrailResponse"/>
    </operation>
-->
		<operation name="addDatastream">
			<documentation>THIS METHOD HAS BEEN DEPRECATED - USE CREATEDATASTREAM INSTEAD.  
			Creates a new datastream in the object.</documentation>
			<input message="fedora-api:addDatastreamRequest"/>
			<output message="fedora-api:addDatastreamResponse"/>
		</operation>
		<operation name="createDatastream">
			<documentation>Creates a new datastream in the object.</documentation>
			<input message="fedora-api:createDatastreamRequest"/>
			<output message="fedora-api:createDatastreamResponse"/>
		</operation>
		<operation name="addDisseminator">
			<documentation>Creates a disseminator in the object.</documentation>
			<input message="fedora-api:addDisseminatorRequest"/>
			<output message="fedora-api:addDisseminatorResponse"/>
		</operation>
		<operation name="modifyDatastreamByReference">
			<documentation>Modifies an existing datastream in an object, by reference.
			</documentation>
			<input message="fedora-api:modifyDatastreamByReferenceRequest"/>
			<output message="fedora-api:modifyDatastreamByReferenceResponse"/>
		</operation>
		<operation name="modifyDatastreamByValue">
			<documentation>Modifies an existing datastream in an object, by value.</documentation>
			<input message="fedora-api:modifyDatastreamByValueRequest"/>
			<output message="fedora-api:modifyDatastreamByValueResponse"/>
		</operation>
		<operation name="modifyDisseminator">
			<documentation>Modifies a disseminator in the object.</documentation>
			<input message="fedora-api:modifyDisseminatorRequest"/>
			<output message="fedora-api:modifyDisseminatorResponse"/>
		</operation>
		<operation name="setDatastreamState">
			<documentation>Sets the state of a datastream to the specified state value.</documentation>
			<input message="fedora-api:setDatastreamStateRequest"/>
			<output message="fedora-api:setDatastreamStateResponse"/>
		</operation>
		<operation name="setDisseminatorState">
			<documentation>Sets the state of a disseminator to the specified value.</documentation>
			<input message="fedora-api:setDisseminatorStateRequest"/>
			<output message="fedora-api:setDisseminatorStateResponse"/>
		</operation>
		<operation name="getDatastream">
			<documentation>Gets a datastream in an object.</documentation>
			<input message="fedora-api:getDatastreamRequest"/>
			<output message="fedora-api:getDatastreamResponse"/>
		</operation>
		<operation name="getDatastreams">
			<documentation>Gets all the datastreams in an object as of a certain date/time and in a certain state.</documentation>
			<input message="fedora-api:getDatastreamsRequest"/>
			<output message="fedora-api:getDatastreamsResponse"/>
		</operation>
		<operation name="getDatastreamHistory">
			<documentation>Gets all versions of a datastream, sorted from most to least recent.</documentation>
			<input message="fedora-api:getDatastreamHistoryRequest"/>
			<output message="fedora-api:getDatastreamHistoryResponse"/>
		</operation>
		<operation name="getDisseminator">
			<documentation>Gets a disseminator in an object.</documentation>
			<input message="fedora-api:getDisseminatorRequest"/>
			<output message="fedora-api:getDisseminatorResponse"/>
		</operation>
		<operation name="getDisseminators">
			<documentation>Gets all disseminators in an object.</documentation>
			<input message="fedora-api:getDisseminatorsRequest"/>
			<output message="fedora-api:getDisseminatorsResponse"/>
		</operation>
		<operation name="getDisseminatorHistory">
			<documentation>Gets the creation dates of each version of a disseminator.</documentation>
			<input message="fedora-api:getDisseminatorHistoryRequest"/>
			<output message="fedora-api:getDisseminatorHistoryResponse"/>
		</operation>
		<operation name="purgeDatastream">
			<documentation>Permanently removes one or more versions of a datastream from an object.</documentation>
			<input message="fedora-api:purgeDatastreamRequest"/>
			<output message="fedora-api:purgeDatastreamResponse"/>
		</operation>
		<operation name="purgeDisseminator">
			<documentation>Permanently removes one or more versions of a disseminator from an object.</documentation>
			<input message="fedora-api:purgeDisseminatorRequest"/>
			<output message="fedora-api:purgeDisseminatorResponse"/>
		</operation>
		<operation name="getNextPID">
			<documentation>Retrieves the specified number of next available pid(s) for a given pid namespace.</documentation>
			<input message="fedora-api:getNextPIDRequest"/>
			<output message="fedora-api:getNextPIDResponse"/>
		</operation>
	</portType>
	<binding name="Fedora-API-M-Binding-SOAPHTTP" type="fedora-api:Fedora-API-M">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ingest">
			<soap:operation soapAction="http://www.fedora.info/definitions/1/0/api/#ingest" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="ingestObject">
			<soap:operation soapAction="http://www.fedora.info/definitions/1/0/api/#ingestObject" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="describeUser">
			<soap:operation soapAction="http://www.fedora.info/definitions/1/0/api/#describeUser" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="modifyObject">
			<soap:operation soapAction="http://www.fedora.info/definitions/1/0/api/#modifyObject" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="getObjectProperties">
			<soap:operation soapAction="http://www.fedora.info/definitions/1/0/api/#getObjectProperties" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="getObjectXML">
			<soap:operation soapAction="http://www.fedora.info/definitions/1/0/api/#getObjectXML" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="export">
			<soap:operation soapAction="http://www.fedora.info/definitions/1/0/api/#export" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="exportObject">
			<soap:operation soapAction="http://www.fedora.info/definitions/1/0/api/#exportObject" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="purgeObject">
			<soap:operation soapAction="http://www.fedora.info/definitions/1/0/api/#purgeObject" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<!--
    <operation name="getObjectAuditTrail">
      <soap:operation style="rpc" 
          soapAction="http://www.fedora.info/definitions/1/0/api/#getObjectAuditTrail"/>
      <input>
        <soap:body use="encoded" 
            encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
            namespace="http://www.fedora.info/definitions/1/0/api/"/>
      </input>
      <output>
        <soap:body use="encoded" 
            encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
            namespace="http://www.fedora.info/definitions/1/0/api/"/>
      </output>
    </operation>
-->
		<operation name="addDatastream">
			<soap:operation soapAction="http://www.fedora.info/definitions/1/0/api/#addDatastream" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="createDatastream">
			<soap:operation soapAction="http://www.fedora.info/definitions/1/0/api/#createDatastream" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="addDisseminator">
			<soap:operation soapAction="http://www.fedora.info/definitions/1/0/api/#addDisseminator" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="modifyDatastreamByReference">
			<soap:operation soapAction="http://www.fedora.info/definitions/1/0/api/#modifyDatastreamByReference" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="modifyDatastreamByValue">
			<soap:operation soapAction="http://www.fedora.info/definitions/1/0/api/#modifyDatastreamByValue" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="modifyDisseminator">
			<soap:operation soapAction="http://www.fedora.info/definitions/1/0/api/#modifyDisseminator" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="setDatastreamState">
			<soap:operation soapAction="http://www.fedora.info/definitions/1/0/api/#setDatastreamState" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="setDisseminatorState">
			<soap:operation soapAction="http://www.fedora.info/definitions/1/0/api/#setDisseminatorState" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="getDatastream">
			<soap:operation soapAction="http://www.fedora.info/definitions/1/0/api/#getDatastream" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="getDatastreams">
			<soap:operation soapAction="http://www.fedora.info/definitions/1/0/api/#getDatastreams" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="getDatastreamHistory">
			<soap:operation soapAction="http://www.fedora.info/definitions/1/0/api/#getDatastreamHistory" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="getDisseminator">
			<soap:operation soapAction="http://www.fedora.info/definitions/1/0/api/#getDisseminator" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="getDisseminators">
			<soap:operation soapAction="http://www.fedora.info/definitions/1/0/api/#getDisseminators" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="getDisseminatorHistory">
			<soap:operation soapAction="http://www.fedora.info/definitions/1/0/api/#getDisseminatorHistory" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="purgeDatastream">
			<soap:operation soapAction="http://www.fedora.info/definitions/1/0/api/#purgeDatastream" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="purgeDisseminator">
			<soap:operation soapAction="http://www.fedora.info/definitions/1/0/api/#purgeDisseminator" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="getNextPID">
			<soap:operation soapAction="http://www.fedora.info/definitions/1/0/api/#getNextPID" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
	</binding>
	<service name="Fedora-API-M-Service">
		<port name="Fedora-API-M-Port-SOAPHTTP" binding="fedora-api:Fedora-API-M-Binding-SOAPHTTP">
			<soap:address location="http://localhost:8080/fedora/management/soap"/>
		</port>
	</service>
	<!--
  <message name="getObjectAuditTrailRequest">
    <part name="pid" type="xsd:string">
      <documentation>The pid of the object.</documentation>
    </part>
  </message>
  <message name="getObjectAuditTrailResponse">
    <part name="response" type="fedora-auditing:ArrayOfAuditRecord">
      <documentation>The ordered audit records for the object.</documentation>
    </part>
  </message>
  -->
</definitions>
