src/wsdl/Fedora-API-A.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:fedora-types="http://www.fedora.info/definitions/1/0/types/"
  name="Fedora-API-A">
  <message name="GetBehaviorDefinitionRequest">
    <part name="PID" type="xsd:string"/>
    <part name="asOfDateTime" type="xsd:dateTime"/>
  </message>
  <message name="GetBehaviorDefinitionResponse">
    <part name="response" type="fedora-types:ArrayOfString"/>
  </message>
  <message name="GetBehaviorMethodsRequest">
    <part name="PID" type="xsd:string"/>
    <part name="bDefPID" type="xsd:string"/>
    <part name="asOfDateTime" type="xsd:dateTime"/>
  </message>
  <message name="GetBehaviorMethodsResponse">
    <part name="response" type="wsdl:definitions"/>
  </message>
  <message name="GetDisseminationRequest">
    <part name="PID" type="xsd:string"/>
    <part name="bDefPID" type="xsd:string"/>
    <part name="methodName" type="xsd:string"/>
    <part name="parameters" type="fedora-types:ArrayOfProperty"/>
    <part name="asOfDateTime" type="xsd:dateTime"/>
  </message>
  <message name="GetDisseminationResponse">
    <part name="response" type="fedora-types:MIMETypedStream"/>
  </message>
  <portType name="Fedora-API-A-PortType">
    <operation name="GetBehaviorDefinitions">
      <input message="GetBehaviorDefinitionRequest"/>
      <output message="GetBehaviorDefinitionResponse"/>
    </operation>
    <operation name="GetBehaviorMethods">
      <input message="GetBehaviorMethodsRequest"/>
      <output message="GetBehaviorMethodsResponse"/>
    </operation>
    <operation name="GetDissemination">
      <input message="GetDisseminationRequest"/>
      <output message="GetDisseminationResponse"/>
    </operation>
  </portType>
  <binding name="Fedora-API-A-Binding-HTTPGET" type="Fedora-API-A-PortType">
    <http:binding verb="GET"/>
    <operation name="GetBehaviorDefinitions">
      <http:operation location="GetBehaviorDefinitions"/>
      <input>
        <http:urlEncoded/>           
      </input>
      <output>
        <mime:mimeXml part="response"/>
      </output>
    </operation>
    <operation name="GetBehaviorMethods">
      <http:operation location="GetBehaviorMethods"/>
      <input>
        <http:urlEncoded/>
      </input>
      <output>
        <mime:mimeXml part="response"/>
      </output>
    </operation>
    <operation name="GetDissemination">
      <http:operation location="GetDissemination"/>
      <input>
        <http:urlEncoded>
          <documentation>Inside the 'parameters' input message, 
          mechanism-specific parameters may be given.  When given as an HTTP 
          GET API-A request to Fedora, the mechanism-specific parameters are to 
          be further encoded in the HTTP GET request in the value of the 
          'parameters' message.  When demarshaling the request, the Fedora 
          server will un-URL-encode the the value of 'parameters', and pass the 
          provided value(s) to the underlying service.</documentation>
        </http:urlEncoded>
      </input>
      <output>
        <mime:content type="*/*"/>
      </output>
    </operation>
  </binding>
  <binding name="Fedora-API-A-Binding-SOAPHTTP" type="Fedora-API-A-PortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetBehaviorDefinitions">
      <soap:operation style="rpc"
        soapAction="http://www.fedora.info/definitions/1/0/operations/GetBehaviorDefinitions"/>
      <input>
        <soap:body use="encoded" 
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
          namespace="http://www.fedora.info/definitions/1/0/types/"/>
      </input>
      <output>
        <soap:body use="encoded" 
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
          namespace="http://www.fedora.info/definitions/1/0/types/"/>
      </output>
    </operation>
    <operation name="GetBehaviorMethods">
      <soap:operation style="rpc"
        soapAction="http://www.fedora.info/definitions/1/0/operations/GetBehaviorMethods"/>
      <input>
        <soap:body use="encoded" 
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
          namespace="http://www.fedora.info/definitions/1/0/types/"/>
      </input>
      <output>
        <soap:body use="encoded" 
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
          namespace="http://www.fedora.info/definitions/1/0/types/"/>
      </output>
    </operation>
    <operation name="GetDissemination">
      <soap:operation style="rpc"
        soapAction="http://www.fedora.info/definitions/1/0/operations/GetDissemination"/>
      <input>
        <soap:body use="encoded" 
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
          namespace="http://www.fedora.info/definitions/1/0/types/"/>
      </input>
      <output>
        <soap:body use="encoded" 
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
          namespace="http://www.fedora.info/definitions/1/0/types/"/>
      </output>
    </operation>
  </binding>
  <service name="Fedora-API-A-Service">
    <port name="Fedora-API-A-Port-HTTPGET" binding="Fedora-API-A-Binding-HTTPGET">
      <http:address location="http://$$HOSTNAME$$:$$PORT$$/$$MOUNTPOINT$$access/"/>
    </port>
    <port name="Fedora-API-A-Port-SOAPHTTP" binding="Fedora-API-A-Binding-SOAPHTTP">
      <soap:address location="http://$$HOSTNAME$$:$$PORT$$/$$MOUNTPOINT$$access/"/>
    </port>
  </service>
</definitions>
