src/wsdl/Fedora-API-A.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:wsdldoc="http://www.cs.cornell.edu/~cwilper/wsdldoc/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:fedora-types="http://www.fedora.info/definitions/1/0/types/"
  name="Fedora-API-A-WSDL">
  <types>
    <documentation>
      <wsdldoc:type name="xsd:string" 
          url="http://www.w3.org/TR/2001/REC-xmlschema-2-20010502/#string"/>
      <wsdldoc:type name="xsd:dateTime" 
          url="http://www.w3.org/TR/2001/REC-xmlschema-2-20010502/#dateTime"/>
      <wsdldoc:type name="wsdl:definitions" 
          url="http://www.w3.org/TR/2001/NOTE-wsdl-20010315#_document-s"/>
      <wsdldoc:type name="fedora-types:ArrayOfString" 
          url="http://www.fedora.info/definitions/1/0/types/#ArrayOfString"/>
      <wsdldoc:type name="fedora-types:ArrayOfProperty" 
          url="http://www.fedora.info/definitions/1/0/types/#ArrayOfProperty"/>
      <wsdldoc:type name="fedora-types:MIMETypedStream" 
          url="http://www.fedora.info/definitions/1/0/types/#MIMETypedStream"/>
    </documentation>
  </types>
  <message name="GetBehaviorDefinitionsRequest">
    <part name="PID" type="xsd:string">
      <documentation>the PID of the object.</documentation>
    </part>
    <part name="asOfDateTime" type="xsd:dateTime">
      <documentation>the date/time stamp specifying the desired view of the 
      object.  If null, the current view of the object (the most recent time) 
      is assumed.</documentation>
    </part>
  </message>
  <message name="GetBehaviorDefinitionsResponse">
    <part name="response" type="fedora-types:ArrayOfString">
      <documentation>the PIDs of the behavior definitions, in no particular order.</documentation>
    </part>
  </message>
  <message name="GetBehaviorMethodsRequest">
    <part name="PID" type="xsd:string">
      <documentation>the PID of the object.</documentation>
    </part>
    <part name="bDefPID" type="xsd:string">
      <documentation>the PID of the behavior definition.</documentation>
    </part>
    <part name="asOfDateTime" type="xsd:dateTime">
      <documentation>the date/time stamp specifying the desired view of the 
      object.  If null, the current view of the object (the most recent time) 
      is assumed.</documentation>
    </part>
  </message>
  <message name="GetBehaviorMethodsResponse">
    <part name="response" type="wsdl:definitions">
      <documentation>pre-bound WSDL that the client may use to formulate
      dissemination requests for the given digital object and behavior 
      definition.</documentation>
    </part>
  </message>
  <message name="GetDisseminationRequest">
    <part name="PID" type="xsd:string">
      <documentation>the PID of the object.</documentation>
    </part>
    <part name="bDefPID" type="xsd:string">
      <documentation>the PID of the behavior definition.</documentation>
    </part>
    <part name="methodName" type="xsd:string">
      <documentation>the name of the method to invoke.</documentation>
    </part>
    <part name="parameters" type="fedora-types:ArrayOfProperty">
      <documentation>a set of name-value pairs that act as parameters to the
      method.</documentation>
    </part>
    <part name="asOfDateTime" type="xsd:dateTime">
      <documentation>the date/time stamp specifying the desired view of the 
      object.  If null, the current view of the object (the most recent time) 
      is assumed.</documentation>
    </part>
  </message>
  <message name="GetDisseminationResponse">
    <part name="response" type="fedora-types:MIMETypedStream">
      <documentation>the desired view of the object as a mime-typed stream.</documentation>
    </part>
  </message>
  <portType name="Fedora-API-A">
    <documentation>The Fedora Access service defines an open interface for
    accessing digital objects.  The access operations include methods to do
    reflection on a digital object (i.e., to discover the kinds of
    disseminations that are available on the object), and to request
    disseminations.  The major function of the Fedora Access service is 
    to fulfill a client's request for dissemination.  To support disseminations,
    the underlying repository system must evaluate the behavior associations
    specified in a digital object, and figure out how to dispatch a service
    request to a supporting service with which the digital object associates.
    The supporting service may be internal to the repository system, or it may
    be an external web service that the repository must call upon.  The
    underlying repostitory system facilitates all external service bindings
    on behalf of the client, simply returning a dissemination result via the
    Access service layer.</documentation>
    <operation name="GetBehaviorDefinitions">
      <documentation>Gets a list of behavior definitions supported by a
      digital object.  This is a set of PIDs, one for each behavior
      definition type associated with the object's disseminator(s).</documentation>
      <input message="GetBehaviorDefinitionsRequest"/>
      <output message="GetBehaviorDefinitionsResponse"/>
    </operation>
    <operation name="GetBehaviorMethods">
      <documentation>Gets a list of the method descriptions for a given
      behavior definition type associated with the digital object.</documentation>
      <input message="GetBehaviorMethodsRequest"/>
      <output message="GetBehaviorMethodsResponse"/>
    </operation>
    <operation name="GetDissemination">
      <documentation>Gets a MIME-typed view of the digital
      object, given the behavior definition id and any parameters
      that might be optional/required for the dissemination. This
      hides from the client the details of how a behavior method
      is fulfilled (i.e., what behavior mechanism performs the
      work, and how the request is invoked upon the behavior
      mechanism).</documentation>
      <input message="GetDisseminationRequest"/>
      <output message="GetDisseminationResponse"/>
    </operation>
  </portType>
  <binding name="Fedora-API-A-Binding-HTTPGET" type="Fedora-API-A">
    <http:binding verb="GET"/>
    <operation name="GetBehaviorDefinitions">
      <http:operation location="GetBehaviorDefinitions"/>
      <input>
        <http:urlEncoded/>           
      </input>
      <output>
        <mime:mimeXml part="response"/>
      </output>
    </operation>
    <operation name="GetBehaviorMethods">
      <http:operation location="GetBehaviorMethods"/>
      <input>
        <http:urlEncoded/>
      </input>
      <output>
        <mime:mimeXml part="response"/>
      </output>
    </operation>
    <operation name="GetDissemination">
      <http:operation location="GetDissemination"/>
      <input>
        <http:urlEncoded>
          <documentation>Inside the 'parameters' input message, 
          mechanism-specific parameters may be given.  When given as an HTTP 
          GET API-A request to Fedora, the mechanism-specific parameters are to 
          be further encoded in the HTTP GET request in the value of the 
          'parameters' message.  When demarshaling the request, the Fedora 
          server will un-URL-encode the the value of 'parameters', and pass the 
          provided value(s) to the underlying service.</documentation>
        </http:urlEncoded>
      </input>
      <output>
        <mime:content type="*/*"/>
      </output>
    </operation>
  </binding>
  <binding name="Fedora-API-A-Binding-SOAPHTTP" type="Fedora-API-A">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetBehaviorDefinitions">
      <soap:operation style="rpc"
        soapAction="http://www.fedora.info/definitions/1/0/actions/GetBehaviorDefinitions"/>
      <input>
        <soap:body use="encoded" 
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
          namespace="http://www.fedora.info/definitions/1/0/types/"/>
      </input>
      <output>
        <soap:body use="encoded" 
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
          namespace="http://www.fedora.info/definitions/1/0/types/"/>
      </output>
    </operation>
    <operation name="GetBehaviorMethods">
      <soap:operation style="rpc"
        soapAction="http://www.fedora.info/definitions/1/0/actions/GetBehaviorMethods"/>
      <input>
        <soap:body use="encoded" 
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
          namespace="http://www.fedora.info/definitions/1/0/types/"/>
      </input>
      <output>
        <soap:body use="encoded" 
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
          namespace="http://www.fedora.info/definitions/1/0/types/"/>
      </output>
    </operation>
    <operation name="GetDissemination">
      <soap:operation style="rpc"
        soapAction="http://www.fedora.info/definitions/1/0/actions/GetDissemination"/>
      <input>
        <soap:body use="encoded" 
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
          namespace="http://www.fedora.info/definitions/1/0/types/"/>
      </input>
      <output>
        <soap:body use="encoded" 
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
          namespace="http://www.fedora.info/definitions/1/0/types/"/>
      </output>
    </operation>
  </binding>
  <service name="Fedora-API-A-Service">
    <port name="Fedora-API-A-Port-HTTPGET" binding="Fedora-API-A-Binding-HTTPGET">
      <http:address location="http://$$HOSTNAME$$:$$PORT$$/$$MOUNTPOINT$$access/"/>
    </port>
    <port name="Fedora-API-A-Port-SOAPHTTP" binding="Fedora-API-A-Binding-SOAPHTTP">
      <soap:address location="http://$$HOSTNAME$$:$$PORT$$/$$MOUNTPOINT$$access/"/>
    </port>
  </service>
</definitions>
