src/wsdl/Fedora-API-M.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:fedora-types="http://www.fedora.info/definitions/1/0/types/"
  xmlns:fedora-audit="http://www.fedora.info/definitions/1/0/audit/"
  name="Fedora-API-M">
  <message name="CreateObjectResponse">
    <part name="response" type="xsd:string">
	  <documentation>the PID of the newly created object.</documentation>
     </part>
  </message>
  <message name="IngestObjectRequest">
    <part name="METSXML" type="xsd:base64Binary">
      <documentation>the digital object in METS format.</documentation>
    </part>
  </message>
  <message name="IngestObjectResponse">
    <part name="response" type="xsd:string">
      <documentation>the PID of the newly created object.</documentation>
    </part>
  </message>
  <message name="GetObjectXMLRequest">
    <part name="PID" type="xsd:string">
	  <documentation>the PID of the object.</documentation>
	</part>
  </message>
  <message name="GetObjectXMLResponse">
    <part name="response" type="xsd:base64Binary">
      <documentation>the digital object in METS format.</documentation>
    </part>
  </message>
  <message name="ExportObjectRequest">
    <part name="PID" type="xsd:string">
	  <documentation>the PID of the object.</documentation>
	</part>
  </message>
  <message name="ExportObjectResponse">
    <part name="response" type="xsd:base64Binary">
      <documentation>the digital object in METS format.</documentation>
    </part>
  </message>
  <message name="WithdrawObjectRequest">
    <part name="PID" type="xsd:string">
	  <documentation>the PID of the object.</documentation>
	</part>
  </message>
  <message name="DeleteObjectRequest">
    <part name="PID" type="xsd:string">
	  <documentation>the PID of the object.</documentation>
	</part>
  </message>
  <message name="PurgeObjectRequest">
    <part name="PID" type="xsd:string">
	  <documentation>the PID of the object.</documentation>
	</part>
  </message>
  <message name="ObtainLockRequest">
    <part name="PID" type="xsd:string">
	  <documentation>the PID of the object.</documentation>
	</part>
  </message>
  <message name="ReleaseLockRequest">
    <part name="PID" type="xsd:string">
      <documentation>the PID of the object.</documentation>
    </part>
    <part name="logMessage" type="xsd:string">
      <documentation>an explanation of the change.  If commit is true, this message is used in the audit record describing the modification.</documentation>
	 </part>
    <part name="commit" type="xsd:boolean">
      <documentation>whether the change(s) should be committed.</documentation>
    </part>
  </message>
  <message name="GetLockingUserRequest">
    <part name="PID" type="xsd:string">
	  <documentation>the PID of the object.</documentation>
	</part>
  </message>
  <message name="GetLockingUserResponse">
    <part name="response" type="xsd:string">
	  <documentation>the userID of the user with the lock.</documentation>
    </part>
  </message>
  <message name="GetObjectStateRequest">
    <part name="PID" type="xsd:string">
	  <documentation>the PID of the object.</documentation>
	</part>
  </message>
  <message name="GetObjectStateResponse">
    <part name="response" type="xsd:string">
	  <documentation>the state of the object.</documentation>
	</part>
  </message>
  <message name="GetObjectCreateDateRequest">
    <part name="PID" type="xsd:string">
	  <documentation>the PID of the object.</documentation>
	</part>
  </message>
  <message name="GetObjectCreateDateResponse">
    <part name="response" type="xsd:dateTime">
	  <documentation>the date/time of the creation of the object.</documentation>
	</part>
  </message>
  <message name="GetObjectLastModDateRequest">
    <part name="PID" type="xsd:string">
	  <documentation>the PID of the object.</documentation>
	</part>
  </message>
  <message name="GetObjectLastModDateResponse">
    <part name="response" type="xsd:dateTime">
	  <documentation>the date/time of the last modification of the object.</documentation>
	</part>
  </message>
  <message name="GetObjectAuditTrailRequest">
    <part name="PID" type="xsd:string">
	  <documentation>the PID of the object.</documentation>
	</part>
  </message>
  <message name="GetObjectAuditTrailResponse">
    <part name="response" type="fedora-audit:ArrayOfAuditRecord">
	  <documentation>the ordered audit records for the object.</documentation>
	</part>
  </message>
  <message name="ListObjectPIDsRequest">
    <part name="state" type="xsd:string">
      <documentation>the state of the objects to list.  If null, objects in any 
      state will be listed.</documentation>
    </part>
  </message>
  <message name="ListObjectPIDsResponse">
    <part name="response" type="fedora-types:ArrayOfString">
      <documentation>the PIDs of the objects.</documentation>
    </part>
  </message>
  <message name="AddDatastreamExternalRequest">
    <part name="PID" type="xsd:string">
      <documentation>the PID of the object.</documentation>
    </part>
    <part name="dsLabel" type="xsd:string">
      <documentation>the label for the datastream.</documentation>
    </part>
    <part name="dsLocation" type="xsd:string">
      <documentation>the url to the datastream.</documentation>
    </part>
  </message>
  <message name="AddDatastreamExternalResponse">
    <part name="response" type="xsd:string">
      <documentation>the datastreamID of the newly added datastream.
      </documentation>
    </part>
  </message>
  <message name="AddDatastreamManagedContentRequest">
    <part name="PID" type="xsd:string">
      <documentation>the PID of the object.</documentation>
    </part>
    <part name="dsLabel" type="xsd:string">
      <documentation>the label for the datastream.</documentation>
    </part>
    <part name="MIMEType" type="xsd:string">
      <documentation>the url to the datastream.</documentation>
    </part>
    <part name="dsContent" type="xsd:base64Binary">
      <documentation>the content of the datastream.</documentation>
    </part>
  </message>
  <message name="AddDatastreamManagedContentResponse">
    <part name="response" type="xsd:string">
      <documentation>the datastreamID of the newly added datastream.
      </documentation>
    </part>
  </message>
  <message name="AddDatastreamXMLMetadataRequest">
    <part name="PID" type="xsd:string">
      <documentation>the PID of the object.</documentation>
    </part>
    <part name="dsLabel" type="xsd:string">
      <documentation>the label for the datastream.</documentation>
    </part>
    <part name="MDType" type="xsd:string">
      <documentation>the type of metadata.  This may be digiprov, rights, 
      technical, source, or descriptive.</documentation>
    </part>
    <part name="dsInlineMetadata" type="xsd:base64Binary">
      <documentation>the XML metadata.  This must be well-formed XML.
      </documentation>
    </part>
  </message>
  <message name="AddDatastreamXMLMetadataResponse">
    <part name="response" type="xsd:string">
      <documentation>the datastreamID of the newly added datastream.
      </documentation>
    </part>
  </message>
  <message name="ModifyDatastreamExternalRequest">
    <part name="PID" type="xsd:string">
      <documentation>the PID of the object.</documentation>
    </part>
    <part name="datastreamID" type="xsd:string">
      <documentation>the ID of the datastream.</documentation>
    </part>
    <part name="dsLabel" type="xsd:string">
      <documentation>the label for the datastream.</documentation>
    </part>
    <part name="dsLocation" type="xsd:string">
      <documentation>the url to the datastream.</documentation>
    </part>
  </message>
  <message name="ModifyDatastreamManagedContentRequest">
    <part name="PID" type="xsd:string">
      <documentation>the PID of the object.</documentation>
    </part>
    <part name="datastreamID" type="xsd:string">
      <documentation>the ID of the datastream.</documentation>
    </part>
    <part name="dsLabel" type="xsd:string">
      <documentation>the label for the datastream.</documentation>
    </part>
    <part name="MIMEType" type="xsd:string">
      <documentation>the url to the datastream.</documentation>
    </part>
    <part name="dsContent" type="xsd:base64Binary">
      <documentation>the content of the datastream.</documentation>
    </part>
  </message>
  <message name="ModifyDatastreamXMLMetadataRequest">
    <part name="PID" type="xsd:string">
      <documentation>the PID of the object.</documentation>
    </part>
    <part name="datastreamID" type="xsd:string">
      <documentation>the ID of the datastream.</documentation>
    </part>
    <part name="dsLabel" type="xsd:string">
      <documentation>the label for the datastream.</documentation>
    </part>
    <part name="MDType" type="xsd:string">
      <documentation>the type of metadata.  This may be digiprov, rights, 
      technical, source, or descriptive.</documentation>
    </part>
    <part name="dsInlineMetadata" type="xsd:base64Binary">
      <documentation>the XML metadata.</documentation>
    </part>
  </message>
  <message name="WithdrawDatastreamRequest">
    <part name="PID" type="xsd:string">
	  <documentation>the PID of the object.</documentation>
    </part>
    <part name="datastreamID" type="xsd:string">
	  <documentation>the ID of the datastream.</documentation>
    </part>
  </message>
  <message name="DeleteDatastreamRequest">
    <part name="PID" type="xsd:string">
	  <documentation>the PID of the object.</documentation>
    </part>
    <part name="datastreamID" type="xsd:string">
	  <documentation>the ID of the datastream.</documentation>
    </part>
  </message>
  <message name="PurgeDatastreamRequest">
    <part name="PID" type="xsd:string">
	  <documentation>the PID of the object.</documentation>
    </part>
    <part name="datastreamID" type="xsd:string">
	  <documentation>the ID of the datastream.</documentation>
    </part>
    <part name="startDT" type="xsd:dateTime">
	  <documentation>the (inclusive) starting date-time stamp of the range. If 
     null, this is taken to be the smallest possible value.</documentation>
    </part>
    <part name="endDT" type="xsd:dateTime">
	  <documentation>the (inclusive) ending date-time stamp of the range. If 
     null, this is taken to be the greatest possible value.</documentation>
    </part>
  </message>
  <message name="PurgeDatastreamResponse">
    <part name="response" type="fedora-types:ArrayOfDateTime">
      <documentation>the creation date/time of each deleted datastream.
      </documentation>
    </part>
  </message>
  <message name="GetDatastreamRequest">
    <part name="PID" type="xsd:string">
	  <documentation>the PID of the object.</documentation>
    </part>
    <part name="datastreamID" type="xsd:string">
	  <documentation>the ID of the datastream.</documentation>
    </part>
    <part name="asOfDateTime" type="xsd:dateTime">
      <documentation>the date/time stamp specifying the desired view of the 
      object.  If null, the current view of the object (the most recent time) 
      is assumed.</documentation>
    </part>
  </message>
  <message name="GetDatastreamResponse">
    <part name="response" type="fedora-types:Datastream">
	  <documentation>the datastream.</documentation>
    </part>
  </message>
  <message name="GetDatastreamsRequest">
    <part name="PID" type="xsd:string">
	  <documentation>the PID of the object.</documentation>
    </part>
    <part name="asOfDateTime" type="xsd:dateTime">
      <documentation>the date/time stamp specifying the desired view of the 
      object.  If null, the current view of the object (the most recent time) 
      is assumed.</documentation>
    </part>
  </message>
  <message name="GetDatastreamsResponse">
    <part name="response" type="fedora-types:ArrayOfDatastream">
	  <documentation>the datastreams.</documentation>
    </part>
  </message>
  <message name="ListDatastreamIDsRequest">
    <part name="PID" type="xsd:string">
	  <documentation>the PID of the object.</documentation>
    </part>
    <part name="state" type="xsd:string">
	  <documentation>the state of the datastreams to list.</documentation>
    </part>
  </message>
  <message name="ListDatastreamIDsResponse">
    <part name="response" type="fedora-types:ArrayOfString">
	  <documentation>the IDs of the datastreams.</documentation>
    </part>
  </message>
  <message name="GetDatastreamHistoryRequest">
    <part name="PID" type="xsd:string">
	  <documentation>the PID of the object.</documentation>
    </part>
    <part name="datastreamID" type="xsd:string">
	  <documentation>the ID of the datastream.</documentation>
    </part>
  </message>
  <message name="GetDatastreamHistoryResponse">
    <part name="response" type="fedora-types:ArrayOfComponentInfo">
	  <documentation>component information for each version of the datastream,
      ordered earliest first.</documentation>
    </part>
  </message>
  <message name="AddDisseminatorRequest">
    <part name="PID" type="xsd:string">
	  <documentation>the PID of the object.</documentation>
    </part>
    <part name="bMechPID" type="xsd:string">
	  <documentation>the PID of the behavior mechanism object.</documentation>
    </part>
    <part name="dissLabel" type="xsd:string">
	  <documentation>the label of the disseminator.</documentation>
    </part>
    <part name="bindingMap" type="fedora-types:dsBindingMap">
	  <documentation>the binding map.</documentation>
    </part>
  </message>
  <message name="AddDisseminatorResponse">
    <part name="response" type="xsd:string">
	  <documentation>the ID of the newly created disseminator.</documentation>
    </part>
  </message>
  <message name="ModifyDisseminatorRequest">
    <part name="PID" type="xsd:string">
	  <documentation>the PID of the object.</documentation>
    </part>
    <part name="disseminatorID" type="xsd:string">
	  <documentation>the ID of the disseminator.</documentation>
    </part>
    <part name="bMechPID" type="xsd:string">
	  <documentation>the PID of the behavior mechanism object.</documentation>
    </part>
    <part name="dissLabel" type="xsd:string">
	  <documentation>the label of the disseminator.</documentation>
    </part>
    <part name="bindingMap" type="fedora-types:dsBindingMap">
	  <documentation>the binding map.</documentation>
    </part>
  </message>
  <message name="WithdrawDisseminatorRequest">
    <part name="PID" type="xsd:string">
	  <documentation>the PID of the object.</documentation>
    </part>
    <part name="disseminatorID" type="xsd:string">
	  <documentation>the ID of the disseminator.</documentation>
    </part>
  </message>
  <message name="DeleteDisseminatorRequest">
    <part name="PID" type="xsd:string">
	  <documentation>the PID of the object.</documentation>
    </part>
    <part name="disseminatorID" type="xsd:string">
	  <documentation>the ID of the disseminator.</documentation>
    </part>
  </message>
  <message name="PurgeDisseminatorRequest">
    <part name="PID" type="xsd:string">
	  <documentation>the PID of the object.</documentation>
    </part>
    <part name="disseminatorID" type="xsd:string">
	  <documentation>the ID of the disseminator.</documentation>
    </part>
    <part name="startDT" type="xsd:dateTime">
	  <documentation>the (inclusive) starting date-time stamp of the range. If 
     null, this is taken to be the smallest possible value.</documentation>
    </part>
    <part name="endDT" type="xsd:dateTime">
	  <documentation>the (inclusive) ending date-time stamp of the range. If 
     null, this is taken to be the greatest possible value.</documentation>
    </part>
  </message>
  <message name="PurgeDisseminatorResponse">
    <part name="response" type="fedora-types:ArrayOfDateTime">
      <documentation>the creation date/time of each deleted disseminator, 
      earliest first.</documentation>
    </part>
  </message>
  <message name="GetDisseminatorRequest">
    <part name="PID" type="xsd:string">
      <documentation>the PID of the object.</documentation>
    </part>
    <part name="disseminatorID" type="xsd:string">
      <documentation>the ID of the disseminator.</documentation>
    </part>
    <part name="asOfDateTime" type="xsd:dateTime">
      <documentation>the date/time stamp specifying the desired view of the 
      object.  If null, the current view of the object (the most recent time) 
      is assumed.</documentation>
    </part>
  </message>
  <message name="GetDisseminatorResponse">
    <part name="response" type="fedora-types:Disseminator"/>
  </message>
  <message name="GetDisseminatorsRequest">
    <part name="PID" type="xsd:string">
      <documentation>the PID of the object.</documentation>
    </part>
    <part name="asOfDateTime" type="xsd:dateTime">
      <documentation>the date/time stamp specifying the desired view of the 
      object.  If null, the current view of the object (the most recent time) 
      is assumed.</documentation>
    </part>
  </message>
  <message name="GetDisseminatorsResponse">
    <part name="response" type="fedora-types:ArrayOfDisseminator">
      <documentation>the disseminators.</documentation>
    </part>
  </message>  
  <message name="ListDisseminatorIDsRequest">
    <part name="PID" type="xsd:string">
      <documentation>the PID of the object.</documentation>
    </part>
    <part name="state" type="xsd:string">
      <documentation>the state of the disseminators to list.</documentation>
    </part>
  </message>
  <message name="ListDisseminatorIDsResponse">
    <part name="response" type="fedora-types:ArrayOfString">
      <documentation>the disseminator ids.</documentation>
    </part>
  </message>
  <message name="GetDisseminatorHistoryRequest">
    <part name="PID" type="xsd:string">
	  <documentation>the PID of the object.</documentation>
    </part>
    <part name="disseminatorID" type="xsd:string">
	  <documentation>the ID of the disseminator.</documentation>
    </part>
  </message>
  <message name="GetDisseminatorHistoryResponse">
    <part name="response" type="fedora-types:ArrayOfComponentInfo">
	  <documentation>component information for each version of the disseminator,
      ordered earliest first.</documentation>
    </part>
  </message>
  <portType name="Fedora-API-M-PortType">
    <operation name="CreateObject">
      <documentation>creates a new, empty digital object in the repository. The 
      object's initial state will be N.  The repository will generate and return 
      a new PID for the object resulting from this request.  The PID will have 
      the namespace of the repository.</documentation>
	  <output message="CreateObjectResponse"/>
    </operation>
    <operation name="IngestObject">
      <documentation>creates a new digital object in the repository, given the 
      data in the provided METS document.  The object's initial state will be N.  
      If the METS document does not specify a PID in the OBJID attribute of the 
      root element, the repository will generate and return a new PID for the 
      object resulting from this request.  That PID will have the namespace of 
      the repository.  If the METS document specifies a PID, it will be assigned 
      to the digital object provided that 1) it conforms to the Fedora PID 
      Syntax, 2) it does not specify the namespace of the repository, and 3) 
      it does not collide with an existing PID of an object in the repository.
      </documentation>
	  <input message="IngestObjectRequest"/>
	  <output message="IngestObjectResponse"/>
    </operation>
    <operation name="GetObjectXML">
      <documentation>gets the XML portion of the entire METS-encoded 
      digital object for external use (viewing, editing, moving to another 
      repository).  XML metadata datastreams will be included inline, content 
      datastreams will not be included, and external datastreams will be 
      referenced by url.</documentation>
      <input message="GetObjectXMLRequest"/>
      <output message="GetObjectXMLResponse"/>
    </operation>
    <operation name="ExportObject">
      <documentation>gets the entire METS-encoded digital object for 
      external use (viewing, editing, moving to another repository).  XML 
      metadata datastreams will be included inline, content datastreams will 
      be included inline (base64-encoded), and external datastreams will be 
      referenced by url.</documentation>
      <input message="ExportObjectRequest"/>
      <output message="ExportObjectResponse"/>
    </operation>
    <operation name="WithdrawObject">
      <documentation>changes the object's state to W, making it inaccessible 
      from API-A.</documentation>
	  <input message="WithdrawObjectRequest"/>
    </operation>
    <operation name="DeleteObject">
      <documentation>marks an object as deleted, changing its state to D.  
      This makes it inaccessible from API-A, and eligible for purging by the 
      cleanup process.</documentation>
      <input message="DeleteObjectRequest"/>
    </operation>
    <operation name="PurgeObject">
      <documentation>permanently removes an object from the repository.
      </documentation>
      <input message="PurgeObjectRequest"/>
    </operation>
    <operation name="ObtainLock">
      <documentation>locks an object for writing.  Upon obtaining a lock, a 
      user may execute write methods on an object.</documentation>
      <input message="ObtainLockRequest"/>
	 </operation>
    <operation name="ReleaseLock">
      <documentation>unlocks an object for writing.</documentation>
      <input message="ReleaseLockRequest"/>
    </operation>
    <operation name="GetLockingUser">
      <documentation>tells who has a write lock on an object.</documentation>
      <input message="GetLockingUserRequest"/>
      <output message="GetLockingUserResponse"/>
    </operation>
    <operation name="GetObjectState">
      <documentation>gets the state of the object.</documentation>
      <input message="GetObjectStateRequest"/>
      <output message="GetObjectStateResponse"/>
    </operation>
    <operation name="GetObjectCreateDate">
      <documentation>gets the date/time of the object's creation in this 
      repository.</documentation>
      <input message="GetObjectCreateDateRequest"/>
      <output message="GetObjectCreateDateResponse"/>
    </operation>
    <operation name="GetObjectLastModDate">
      <documentation>gets the date/time of the object's most recent modification 
      in this repository.  The modification date of an object is set when changes
      to an object are committed via the ReleaseLock method.
      </documentation>
      <input message="GetObjectLastModDateRequest"/>
      <output message="GetObjectLastModDateResponse"/>
    </operation>
    <operation name="GetObjectAuditTrail">
      <documentation>gets all audit trail records for the object.</documentation>
      <input message="GetObjectAuditTrailRequest"/>
      <output message="GetObjectAuditTrailResponse"/>
    </operation>
    <operation name="PurgeObject">
      <documentation>permanently removes the object.</documentation>
      <input message="PurgeObjectRequest"/>
    </operation>
    <operation name="ListObjectPIDs">
      <documentation>gets a list of the PIDs of the objects in the 
      repository.</documentation>
      <input message="ListObjectPIDsRequest"/>
      <output message="ListObjectPIDsResponse"/>
    </operation>
    <operation name="AddDatastreamExternal">
      <documentation>creates a Referenced External Content Datastream in the 
      object.  The MIME type is determined by the repository, which uses the 
      value of the Content-Type HTTP response header provided by an HTTP GET 
      request of the URL.</documentation>
      <input message="AddDatastreamExternalRequest"/>
      <output message="AddDatastreamExternalResponse"/>
    </operation>
    <operation name="AddDatastreamManagedContent">
      <documentation>creates a Repository-Managed Content Datastream in the 
      object.  The repository uses the value of dsContent as the content of 
      the datastream.</documentation>
      <input message="AddDatastreamManagedContentRequest"/>
      <output message="AddDatastreamManagedContentResponse"/>
    </operation>
    <operation name="AddDatastreamXMLMetadata">
      <documentation>creates an Implementor-Defined XML Metadata Datastream in 
      the object.</documentation>
      <input message="AddDatastreamXMLMetadataRequest"/>
      <output message="AddDatastreamXMLMetadataResponse"/>
    </operation>
    <operation name="AddDisseminator">
      <documentation>creates a disseminator in the object.</documentation>
      <input message="AddDisseminatorRequest"/>
      <output message="AddDisseminatorResponse"/>
    </operation>
    <operation name="ModifyDisseminator">
      <documentation>modifies a disseminator in the object.</documentation>
      <input message="ModifyDisseminatorRequest"/>
    </operation>
    <operation name="ModifyDatastreamExternal">
      <documentation>modifies a Referenced External Content Datastream in the 
      object.</documentation>
      <input message="ModifyDatastreamExternalRequest"/>
    </operation>
    <operation name="ModifyDatastreamManagedContent">
      <documentation>modifies a Repository-Managed Content Datastream in the 
      object.</documentation>
      <input message="ModifyDatastreamManagedContentRequest"/>
    </operation>
    <operation name="ModifyDatastreamXMLMetadata">
      <documentation>modifies an Implementor-Defined XML Metadata Datastream in 
      the object.</documentation>
      <input message="ModifyDatastreamXMLMetadataRequest"/>
    </operation>
    <operation name="WithdrawDatastream">
      <documentation>changes a datastream's state to W, making it inaccessible 
      from API-A.</documentation>
      <input message="WithdrawDatastreamRequest"/>
    </operation>
    <operation name="DeleteDatastream">
      <documentation>marks a datastream as deleted, changing its state to D.  
      This makes it inaccessible from API-A, and eligible for purging by the 
      cleanup process.</documentation>
      <input message="DeleteDatastreamRequest"/>
    </operation>
    <operation name="PurgeDatastream">
      <documentation>permanently removes one or more versions of a datastream 
      from an object.</documentation>
      <input message="PurgeDatastreamRequest"/>
      <output message="PurgeDatastreamResponse"/>
    </operation>
    <operation name="WithdrawDisseminator">
      <documentation>changes a disseminator's state to W, making it inaccessible 
      from API-A.</documentation>
      <input message="WithdrawDisseminatorRequest"/>
    </operation>
    <operation name="DeleteDisseminator">
      <documentation>marks a disseminator as deleted, changing its state to D.  
      This makes it inaccessible from API-A, and eligible for purging by the 
      cleanup process.</documentation>
      <input message="DeleteDisseminatorRequest"/>
    </operation>
    <operation name="PurgeDisseminator">
      <documentation>permanently removes one or more versions of a disseminator 
      from an object.</documentation>
      <input message="PurgeDisseminatorRequest"/>
      <output message="PurgeDisseminatorResponse"/>
    </operation>
    <operation name="GetDatastream">
      <documentation>gets a datastream in an object.</documentation>
      <input message="GetDatastreamRequest"/>
      <input message="GetDatastreamResponse"/>
    </operation>
    <operation name="GetDatastreams">
      <documentation>gets all datastreams in an object.</documentation>
      <input message="GetDatastreamsRequest"/>
      <input message="GetDatastreamsResponse"/>
	</operation>
	<operation name="ListDatastreamIDs">
      <documentation>gets a list of datastreams in an object.</documentation>
	  <input message="ListDatastreamIDsRequest"/>
	  <input message="ListDatastreamIDsResponse"/>
	</operation>
	<operation name="GetDatastreamHistory">
      <documentation>gets the componentID, createDT, state, and label history
      of a datastream.</documentation>
	  <input message="GetDatastreamHistoryRequest"/>
	  <input message="GetDatastreamHistoryResponse"/>
	</operation>
	<operation name="GetDisseminator">
      <documentation>gets a disseminator in an object.</documentation>
	  <input message="GetDisseminatorRequest"/>
	  <input message="GetDisseminatorResponse"/>
	</operation>
	<operation name="GetDisseminators">
      <documentation>gets all disseminators in an object.</documentation>
	  <input message="GetDisseminatorsRequest"/>
	  <input message="GetDisseminatorsResponse"/>
	</operation>
	<operation name="ListDisseminatorIDs">
      <documentation>gets a list of disseminators in an object.</documentation>
	  <input message="ListDisseminatorIDsRequest"/>
	  <input message="ListDisseminatorIDsResponse"/>
	</operation>
	<operation name="GetDisseminatorHistory">
      <documentation>gets the componentID, createDT, state, and label history
      of a disseminator.</documentation>
	  <input message="GetDisseminatorHistoryRequest"/>
	  <input message="GetDisseminatorHistoryResponse"/>
	</operation>
  </portType>
  <binding name="Fedora-API-M-Binding-SOAPHTTP" type="Fedora-API-M-PortType">
  </binding>
  <service name="Fedora-API-M-Service">
    <port name="Fedora-API-M-Port-HTTPGET" binding="Fedora-API-M-Binding-HTTPGET">
      <http:address location="http://$$HOSTNAME$$:$$PORT$$/$$MOUNTPOINT$$management/"/>
    </port>
    <port name="Fedora-API-M-Port-SOAPHTTP" binding="Fedora-API-M-Binding-SOAPHTTP">
      <soap:address location="http://$$HOSTNAME$$:$$PORT$$/$$MOUNTPOINT$$management/"/>
    </port>
  </service>
</definitions>
