src/wsdl/Fedora-API-A-LITE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Fedora-API-A-LITE:  This is the WSDL definition for Fedora API-A-LITE which is a simple HTTP-oriented service definition for the Fedora Access web service. -->
<!-- Version:  1.0 -->
<!-- Author:  Sandy Payette,  payette@cs.cornell.edu -->
<!-- Author:  Ross Wayland,  rlw@virginia.edu -->
<!-- Author:  Chris Wilper,  cwilper@cs.cornell.edu -->
<!-- Description:  Fedora API-A-LITE is a  URI-oriented service definition that is intended to support a REST style binding to the Fedora Access web service (in contrast to a traditional SOAP web service binding).  This means that we define a simple URL syntax that can be used to issue service requests to the Fedora Access service. API-A-Lite does not provide service bindings for all of the operations defined in the complete Fedora Access web service (see Fedora-API-A).  API-A-Lite only provides bindings for getDissemination and getObjectProfile.  The result of the getDissemination request is a MIME-typed stream.  The result of the getObjectProfile request is either HTML or XML, whichever the client requested. The main purpose of defining API-A-Lite is to provide a simple way to run Fedora disseminations via a URL. -->
<definitions targetNamespace="http://www.fedora.info/definitions/1/0/api/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdldoc="http://www.cs.cornell.edu/~cwilper/wsdldoc/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:apachesoap="http://xml.apache.org/xml-soap/" xmlns:fedora-api="http://www.fedora.info/definitions/1/0/api/" xmlns:fedora-types="http://www.fedora.info/definitions/1/0/types/" name="Fedora-API-A-LITE-WSDL">
	<import namespace="http://www.fedora.info/definitions/1/0/types/" location="fedora-types.xsd"/>
	<types>
		<documentation>
			<wsdldoc:type name="xsd:string" url="http://www.w3.org/TR/2001/REC-xmlschema-2-20010502/#string"/>
			<wsdldoc:type name="wsdl:tDefinitions" url="http://www.w3.org/TR/2001/NOTE-wsdl-20010315#_document-s"/>
			<wsdldoc:type name="fedora-types:MIMETypedStream" url="http://www.fedora.info/definitions/1/0/types/#MIMETypedStream"/>
			<wsdldoc:type name="fedora-types:FieldSearchResult" url="http://www.fedora.info/definitions/1/0/types/#FieldSearchResult"/>
			<wsdldoc:type name="fedora-types:RepositoryInfo" url="http://www.fedora.info/definitions/1/0/types/#RepositoryInfo"/>
		</documentation>
	</types>
	<message name="describeRepositoryRequest">
		<!-- NOTE!!  all message parts are defined as type xsd:string since messages will be constructed as URLs using HTTP-only bindings -->
		<part name="xml" type="xsd:string">
			<documentation>a string value of "true" or "false" indicating that the repository info should be XML encoded. 
				Fedora will assume a default of "false" if the xml part is not specified.
			</documentation>
		</part>
	</message>
	<message name="describeRepositoryResponse">
		<part name="response" type="fedora-types:MIMETypedStream">
			<documentation> The repository info response contains key metadata about the Fedora
				repository server including repository name, version, baseURL, pid namespace, and
				sample request URLs.  The repository info will be returned as either XML or HTML.
			</documentation>
		</part>
	</message>
	<message name="getObjectProfileRequest">
		<!-- NOTE!!  all message parts are defined as type xsd:string since messages will be constructed as URLs using HTTP-only bindings -->
		<part name="pid" type="xsd:string">
			<documentation>the persistent identifier of the object.</documentation>
		</part>
		<part name="asOfDateTime" type="xsd:string">
			<documentation>the date/time stamp specifying the desired view of the 
			      object.  If this part is not present in the request, or if it is empty,  the current 
			      view of the object (the most recent time) is assumed.
			</documentation>
		</part>
		<part name="xml" type="xsd:string">
			<documentation>a string value of "true" or "false" indicating that the list of object methods should be XML encoded. 
				Fedora will assume a default of "false" if the xml part is not specified.
			</documentation>
		</part>
	</message>
	<message name="getObjectProfileResponse">
		<part name="response" type="fedora-types:MIMETypedStream">
			<documentation> The object profile response contains key metadata about the object
				and URLs for the object's Dissemination Index and Item Index.  The object
				profile will be returned as either XML or HTML.
			</documentation>
		</part>
	</message>
	<message name="listMethodsRequest">
		<part name="pid" type="xsd:string">
			<documentation>the pid of the object.</documentation>
		</part>
		<part name="asOfDateTime" type="xsd:string">
			<documentation>the date/time stamp specifying the desired view of the 
			      object.  If null, the current view of the object (the most recent time) 
			      is assumed.
			</documentation>
		</part>
	</message>
	<message name="listMethodsResponse">
		<part name="response" type="fedora-types:ArrayOfObjectMethodsDef">
			<documentation>A set of method definitions that represent 
				all possible disseminations that can be run on the object.
			</documentation>
		</part>
	</message>
	<message name="listDatastreamsRequest">
		<part name="pid" type="xsd:string">
			<documentation>the pid of the object.</documentation>
		</part>
		<part name="asOfDateTime" type="xsd:string">
			<documentation>the date/time stamp specifying the desired view of the 
			      object.  If null, the current view of the object (the most recent time) 
			      is assumed.
			</documentation>
		</part>
	</message>
	<message name="listDatastreamsResponse">
		<part name="response" type="fedora-types:ArrayOfDatastreamDef">
			<documentation>A set of method definitions that represent 
				all possible disseminations that can be run on the object.
			</documentation>
		</part>
	</message>
	<message name="getDatastreamDisseminationRequest">
		<part name="pid" type="xsd:string">
			<documentation>the persistent identifier of the object.</documentation>
		</part>
		<part name="dsID" type="xsd:string">
			<documentation>the identifier of the datastream to get.</documentation>
		</part>
		<part name="asOfDateTime" type="xsd:string">
			<documentation>the date/time stamp specifying that the dissemination should reflect
				what the object looked like at a certain date and time.  If this part is not present 
				in the request, or if it is empty,  the current view of the object (the most recent time)
				 is assumed.
			</documentation>
		</part>
	</message>
	<message name="getDatastreamDisseminationResponse">
		<part name="response" type="fedora-types:MIMETypedStream">
			<documentation>the datastream as a mime-typed stream.</documentation>
		</part>
	</message>
	<message name="getDisseminationRequest">
		<!-- NOTE!!  all message parts are defined as type xsd:string since messages will be constructed as URLs using HTTP-only bindings -->
		<part name="pid" type="xsd:string">
			<documentation>the persistent identifier of the object.</documentation>
		</part>
		<part name="bDefPid" type="xsd:string">
			<documentation>the persistent identifier of the behavior definition.</documentation>
		</part>
		<part name="methodName" type="xsd:string">
			<documentation>the name of the behavior method to invoke.</documentation>
		</part>
		<part name="asOfDateTime" type="xsd:string">
			<documentation>the date/time stamp specifying that the dissemination should reflect
				what the object looked like at a certain date and time.  If this part is not present 
				in the request, or if it is empty,  the current view of the object (the most recent time)
				 is assumed.
			</documentation>
		</part>
		<part name="parameters" type="xsd:string">
			<documentation>a set of name-value pairs that are parameters to the behavior method.</documentation>
		</part>
	</message>
	<message name="getDisseminationResponse">
		<part name="response" type="fedora-types:MIMETypedStream">
			<documentation>the desired view of the object as a mime-typed stream.</documentation>
		</part>
	</message>
	<message name="findObjectsRequest">
		<part name="terms" type="xsd:string">
			<documentation>a sequence of characters (including the ? and * wildcards) 
           for the search.  If this sequence is found in any of the fields for an 
           object, the object is considered a match.  This parameter cannot
           be used in combination with the query parameter.</documentation>
		</part>
		<part name="query" type="xsd:string">
			<documentation>a sequence of space-separated conditions.  A condition
           consists of a field name followed directly by an operator, followed
           directly be a value.  Valid field names are (pid, label, fType, cModel,
           state, ownerId, cDate, mDate, dcmDate, bDef, bMech, title, creator, subject,
           description, publisher, contributor, date, type, format, identifier,
           source, language, relation, coverage, rights).
           Valid operators are =, ~, &gt;, &gt;=, &lt;, &lt;=.  The contains (~) operator
           may be used in combination with the ? and * wildcards to query for simple
           string patterns.  The inequality operators should only be used with
           date-based fields (cDate, mDate, dcmDate, date).
           Values may be any string.  If the string contains a space, the
           value should begin and end with a single quote character ('). If all conditions
           are met for an object, the object is considered a match. This parameter
           cannot be used in combination with the terms parameter.</documentation>
		</part>
		<part name="maxResults" type="xsd:string">
			<documentation>the maximum number of results that the server should
                provide at once.  If this is unspecified, the server will default
                to a small value.</documentation>
		</part>
		<part name="xml" type="xsd:string">
			<documentation>whether to return the result as an xml document.  If this is
           given as true, the result will be in xml.  Otherwise, the result will be
           provided in a simple html document.</documentation>
		</part>
		<part name="pid" type="xsd:string">
			<documentation>if true, the pids of matching objects will be included in the response.</documentation>
		</part>
		<part name="label" type="xsd:string">
			<documentation>if true, the labels of matching objects will be included in the response.</documentation>
		</part>
		<part name="fType" type="xsd:string">
			<documentation>if true, the fedora object types of matching objects will be included in the response.</documentation>
		</part>
		<part name="cModel" type="xsd:string">
			<documentation>if true, the content models of matching objects will be included in the response.</documentation>
		</part>
		<part name="state" type="xsd:string">
			<documentation>if true, the states of matching objects will be included in the response.</documentation>
		</part>
		<part name="ownerId" type="xsd:string">
			<documentation>if true, the userids of users who own the objects will be included in the response.</documentation>
		</part>
		<part name="cDate" type="xsd:string">
			<documentation>if true, the create date of objects will be included in the response.</documentation>
		</part>
		<part name="mDate" type="xsd:string">
			<documentation>if true, the modified date of objects will be included in the response.</documentation>
		</part>
		<part name="dcmDate" type="xsd:string">
			<documentation>if true, the modified date of the dublin core record for the objects will be included in the response.</documentation>
		</part>
		<part name="title" type="xsd:string">
			<documentation>if true, the dc:titles of the objects will be included in the response.</documentation>
		</part>
		<part name="creator" type="xsd:string">
			<documentation>if true, the dc:creators of the objects will be included in the response.</documentation>
		</part>
		<part name="subject" type="xsd:string">
			<documentation>if true, the dc:subjects of the objects will be included in the response.</documentation>
		</part>
		<part name="description" type="xsd:string">
			<documentation>if true, the dc:descriptions of the objects will be included in the response.</documentation>
		</part>
		<part name="publisher" type="xsd:string">
			<documentation>if true, the dc:publishers of the objects will be included in the response.</documentation>
		</part>
		<part name="contributor" type="xsd:string">
			<documentation>if true, the dc:contributors of the objects will be included in the response.</documentation>
		</part>
		<part name="date" type="xsd:string">
			<documentation>if true, the dc:dates of the objects will be included in the response.</documentation>
		</part>
		<part name="type" type="xsd:string">
			<documentation>if true, the dc:types of the objects will be included in the response.</documentation>
		</part>
		<part name="format" type="xsd:string">
			<documentation>if true, the dc:formats of the objects will be included in the response.</documentation>
		</part>
		<part name="identifier" type="xsd:string">
			<documentation>if true, the dc:identifiers of the objects will be included in the response.</documentation>
		</part>
		<part name="source" type="xsd:string">
			<documentation>if true, the dc:sources of the objects will be included in the response.</documentation>
		</part>
		<part name="language" type="xsd:string">
			<documentation>if true, the dc:languages of the objects will be included in the response.</documentation>
		</part>
		<part name="relation" type="xsd:string">
			<documentation>if true, the dc:relations of the objects will be included in the response.</documentation>
		</part>
		<part name="coverage" type="xsd:string">
			<documentation>if true, the dc:coverages of the objects will be included in the response.</documentation>
		</part>
		<part name="rights" type="xsd:string">
			<documentation>if true, the dc:rights of the objects will be included in the response.</documentation>
		</part>
	</message>
	<message name="findObjectsResponse">
		<part name="response" type="fedora-types:MIMETypedStream">
			<documentation>An xml chunk containing an array of ObjectFields and, possibly,
            a listSession.</documentation>
		</part>
	</message>
	<message name="resumeFindObjectsRequest">
		<part name="sessionToken" type="xsd:string">
			<documentation>the token of the session in which the next few
                results can be found.</documentation>
		</part>
		<part name="xml" type="xsd:string">
			<documentation>whether to return the result as an xml document.  If this is
           given as true, the result will be in xml.  Otherwise, the result will be
           provided in a simple html document.</documentation>
		</part>
	</message>
	<message name="getObjectHistoryRequest">
		<part name="pid" type="xsd:string">
			<documentation>the persistent identifier of the object.</documentation>
		</part>
		<part name="xml" type="xsd:string">
			<documentation>a string value of "true" or "false" indicating that the list of timestamps should be XML encoded. Fedora will assume a default of "false" if the xml part is not specified.
			</documentation>
		</part>
	</message>
	<message name="getObjectHistoryResponse">
		<part name="response" type="fedora-types:MIMETypedStream">
			<documentation> Provides a list of timestamps indicating when a component of the object was created or modified.  These timestamps can be used to request timestamped disseminations of the object to view the object as it appeared on a specific date and to indicate the change history of the object.The list of timestamps will be returned as either XML or HTML.
			</documentation>
		</part>
	</message>
	<portType name="Fedora-API-A-LITE">
		<documentation>  This is a simple URI-oriented service definition for the Access service 
			of a Fedora repository.  It is intended to support a REST-like style of access to the 
			Fedora Access web service (in contrast to a traditional SOAP web service definition).  
			This means that we define a simple URL syntax that can be used to issue service requests.
			API-A-Lite does not provide service bindings for all of the operations defined in Fedora's full
			Access service (API-A).  API-A-Lite only provides bindings for getDissemination, getObjectProfile,
           findObjects, and resumeFindObjects. 
			The result of the getDissemination request is a MIME-typed stream.  The result of the getObjectProfile 
			request is either HTML or XML, whichever the client requested.  The result of the search methods
           is also either HTML or XML.  When URL syntax is shown below, green indicates required parts and red indicates optional parts.
		</documentation>
		<operation name="describeRepository">
			<documentation>
				<p>Gets key metadata elements about the Fedora repository
				server including repository name, version, baseURL, pid namespace,
				and sample request URLs.  The repository info can be returned as XML data 
				or as an HTML presentation.</p>
				<p>URL Syntax:</p>
				<p>
					<b>http(s)://<font color="#22cc22">host:port</font>/fedora/describe?{<font color="#22cc22">xml=boolean</font>}</b>
				</p>
				<p> A complete example URL conforming to this syntax is:</p>
				<p>
					<i>http://localhost:8080/fedora/describe?xml=true</i>
				</p>
			</documentation>
			<input message="fedora-api:describeRepositoryRequest"/>
			<output message="fedora-api:describeRepositoryResponse"/>
		</operation>
		<operation name="getObjectProfile">
			<documentation> Gets a profile of the digital object, which contains
				key metadata elements about the object, and URLs for the object's
				Dissemination Index and Item Index.  The object profile is a sort of
				"home base" for the object from which the object can be investigated.
				The object profile can be returned as XML data or as an HTML presentation.
			</documentation>
			<input message="fedora-api:getObjectProfileRequest"/>
			<output message="fedora-api:getObjectProfileResponse"/>
		</operation>
		<operation name="listMethods">
			<documentation>Inquires upon all object Disseminators to obtain Behavior Definition pids,
				and methodNames supported by a digital object.  This returns a set of method definitions
				that represent all possible disseminations that can be run on the object.
			</documentation>
			<input message="fedora-api:listMethodsRequest"/>
			<output message="fedora-api:listMethodsResponse"/>
		</operation>
		<operation name="listDatastreams">
			<documentation>Inquires upon all object Datastreams to obtain datastreams contained
				by a digital object.  This returns a set of datastream locations
				that represent all possible datastreams available in the object.
			</documentation>
			<input message="fedora-api:listDatastreamsRequest"/>
			<output message="fedora-api:listDatastreamsResponse"/>
		</operation>
		<operation name="getDissemination">
			<documentation>Gets a MIME-typed view of the digital object, given the 
				behavior definition id, the behavior method name and any parameters to the 
				behavior method. The getDissemination request hides from the client the details
				of how a behavior method is fulfilled by the Fedora Access service  (i.e., it does
				not require the client to know about the behavior mechanism that performs the work, 
				or how the request is invoked upon the behavior mechanism).  The client need only
				specify an abstract behavior definition information in the request.
			</documentation>
			<input message="fedora-api:getDisseminationRequest"/>
			<output message="fedora-api:getDisseminationResponse"/>
		</operation>
		<operation name="getDatastreamDissemination">
			<documentation>Gets a datastream in the digital object.  This is
            a shorter, convenience method for getDissemination 
            http(s)://hostname:port/fedora/get/pid/fedora-system:3/getItem?itemID=dsID.
            Note that if a particular date/timestamped view of a datastream is
            needed, getDissemination still must be used.  When making direct 
            links to datastreams within web pages or applications, this
            syntax is recommended.
            </documentation>
			<input message="fedora-api:getDatastreamDisseminationRequest"/>
			<output message="fedora-api:getDatastreamDisseminationResponse"/>
		</operation>
		<operation name="findObjects">
			<documentation>
				<p>Gets the requested ObjectFields on all objects in the 
            repository matching the given criteria.  This is like a SQL query on a table that
            indexes all objects in the repository with key fields, including unqualified dublin core
            metadata.</p>
				<p>URL Syntax:</p>
				<p>
					<b>http(s)://<font color="#22cc22">host:port</font>/fedora/search?{<font color="#22cc22">terms=TERMS</font>|<font color="#22cc22">query=QUERY</font>}<font color="#cc2222">&amp;maxResults=MAXRESULTS<br/>
&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&amp;xml=true&amp;pid=true&amp;label=true&amp;fType=true&amp;cModel=true&amp;state=true&amp;ownerId=true<br/>
&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&amp;cDate=true&amp;mDate=true&amp;dcmDate=true&amp;bDef=true&amp;bMech=true&amp;title=true<br/>
&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&amp;creator=true&amp;subject=true&amp;description=true&amp;publisher=true&amp;contributor=true<br/>
&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&amp;date=true&amp;type=true&amp;format=true&amp;identifier=true&amp;source=true&amp;language=true<br/>
&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&amp;relation=true&amp;coverage=true&amp;rights=true</font>
					</b>
				</p>
				<p> A couple complete example URLs conforming to this syntax, are:</p>
				<p>
					<i>http://localhost:8080/fedora/search?terms=fedora&amp;pid=true</i>
				</p>
				<dir>
This example requests that the server provide the pids of objects where any of the indexed fields contain the word fedora.
Since maxResults and xml aren't specified, the maxResults the server uses will be a small number, and the result will
be provided in html.
</dir>
				<p>
					<i>http://localhost:8080/fedora/search?query=pid~*1&amp;maxResults=50&amp;xml=true&amp;pid=true&amp;creator=true</i>
				</p>
				<dir>
This example requests that the server provide the pids and dc:creators of objects where the pid ends with the number 1.
It asks for up to 50 results at a time from the server, and requests that the result is provided in xml.
</dir>
				<p>At least one of the object fields should be specified as true.  Object fields are the optional fields
            beginning with <b>pid</b>, above.  The result of the search will be a simple HTML document if
            the xml parameter is not specified.  If it is, the result will look like:
</p>
				<pre>
&lt;result&gt;
  &lt;listSession&gt;
    &lt;token&gt;abcdef123456&lt;/token&gt;
    &lt;cursor&gt;0&lt;/cursor&gt;
    &lt;completeListSize&gt;500&lt;/completeListSize&gt;
    &lt;expirationDate&gt;2003-03-04T12:53:00Z&lt;/expirationDate&gt;
  &lt;/listSession&gt;
  &lt;resultList&gt;
    &lt;objectFields&gt;
        &lt;pid&gt;demo:5&lt;/pid&gt;
        &lt;bDef&gt;demo:1&lt;/bDef&gt;
        &lt;bDef&gt;demo:3&lt;/bDef&gt;
        &lt;subject&gt;My Subject&lt;/subject&gt;
        ...
    &lt;/objectFields&gt;
    ...
  &lt;/resultList&gt;
&lt;/result&gt;
</pre>
				<p>...where dots indicate possible repeating elements in the xml.  The listSession element is only provided if the result is a partial result. (See resumeFindObjects below)</p>
			</documentation>
			<input message="fedora-api:findObjectsRequest"/>
			<output message="fedora-api:findObjectsResponse"/>
		</operation>
		<operation name="resumeFindObjects">
			<documentation>Gets the next list of results from a truncated
                findObjects response.  When a call to findObjects returns
                only part of a result, it will provide a session token
                that can be used to get the next chunk of results.  Repeated
                calls to resumeFindObjects can then be made, until no listSession
                element is given in the response.  When the result is requested in
                html format, the &quot;next&quot; button causes this method to
                be invoked.  The url syntax for this method is the same as
                that for findObjects, but with the parameters below.  sessionToken
                is required and xml is optional.
			</documentation>
			<input message="fedora-api:resumeFindObjectsRequest"/>
			<output message="fedora-api:findObjectsResponse"/>
		</operation>
		<operation name="getObjectHistory">
			<documentation> Provides a list of timestamps indicating when a component of the object was created or modified.  These timestamps can be used to request timestamped disseminations providing views of the object on a specific date. The list of timestamps can be returned as XML data or as an HTML presentation.
			</documentation>
			<input message="fedora-api:getObjectHistoryRequest"/>
			<output message="fedora-api:getObjectHistoryResponse"/>
		</operation>
	</portType>
	<service name="Fedora-API-A-LITE">
		<port name="Fedora-API-A-LITE-Port" binding="fedora-api:Fedora-API-A-LITE-Binding">
			<http:address location="http://localhost:8080/fedora/"/>
		</port>
		<port name="Fedora-API-A-LITE-Port-SSL" binding="fedora-api:Fedora-API-A-LITE-Binding">
			<http:address location="https://localhost:8443/fedora/"/>
		</port>
	</service>
	<binding name="Fedora-API-A-LITE-Binding" type="fedora-api:Fedora-API-A-LITE">
		<http:binding verb="GET"/>
		<operation name="describeRepository">
			<http:operation location="describe[?xml=(boolean)]"/>
			<input>
				<documentation>  This URL replacement syntax is used to request a description
					of the Fedora repository server.  The request will return key metadata elements
					about the repository server including repository name, version, baseURL,
					pid namespace, and sample request URLs.  When putting together a proper URL, 
					the client should replace parenthesized parts of the operation location URL with actual values.  
					For example, "(boolean)" 	should be replaced with a "true" or "false" to indicate
					whether the repository information should be returned as XML (alternative is HTML).
					Parts of the operation location URL that are surrounded by brackets ("[ ]") are optional.  
					To construct a proper URL the client must replace the following variables with real information:
					 	- boolean : an optional parameter.  Client can specify that the output of 
					 	  the operation be HTML or XML.   A value of "true" indicates a return type of 
					 	  text/xml; the absence of the boolean parameter or a value of "false" indicates 
					 	  format is to be text/html.
				</documentation>
				<http:urlReplacement/>
			</input>
			<output>
				<mime:content type="text/xml"/>
				<mime:content type="text/html"/>
			</output>
		</operation>
		<operation name="getObjectProfile">
			<http:operation location="get/(pid)[/(asOfDateTime)][?xml=(boolean)]"/>
			<input>
				<documentation>  This URL replacement syntax is used to request the object profile.
					When putting together a proper URL, the client should replace parenthesized
					parts of the operation location URL with actual values.  For example, "(pid)" 
					should be replaced with an actual pid of an object for which the client wants 
					to get information about (e.g. uva-lib:10).	Parts of the operation location URL that
					are surrounded by brackets ("[ ]") are optional.  To construct a proper URL the
					client must replace the following variables with real information:
						- pid : a required parameter. Client must provide the persistent identifier of the object.
					 	- asOfDateTime : an optional parameter.  Client can specifiy a dateTime value 
					 	  indicating that the client wants the object profile to reflect how the object looked 
					 	  as of a particular date and time.
					 	- boolean : an optional parameter.  Client can specify that the output of 
					 	  the operation be HTML or XML.   A value of "true" indicates a return type of 
					 	  text/xml; the absence of the boolean parameter or a value of "false" indicates 
					 	  format is to be text/html.
				</documentation>
				<http:urlReplacement/>
			</input>
			<output>
				<mime:content type="text/xml"/>
				<mime:content type="text/html"/>
			</output>
		</operation>
		<operation name="listMethods">
			<http:operation location="listMethods/(pid)[/(asOfDateTime)][?xml=(boolean)]"/>
			<input>
				<documentation>  This URL replacement syntax is used to request the list of all
				    methods within a digital  object.	
				    When putting together a proper URL, the client should replace parenthesized
					parts of the operation location URL with actual values.  For example, "(pid)" 
					should be replaced with an actual pid of an object for which the client wants 
					to get information about (e.g. uva-lib:10).	Parts of the operation location URL that
					are surrounded by brackets ("[ ]") are optional.  To construct a proper URL the
					client must replace the following variables with real information:
						- pid : a required parameter. Client must provide the persistent identifier of the object.
					 	- asOfDateTime : an optional parameter.  Client can specifiy a dateTime value 
					 	  indicating that the client wants the object profile to reflect how the object looked 
					 	  as of a particular date and time.
					 	- boolean : an optional parameter.  Client can specify that the output of 
					 	  the operation be HTML or XML.   A value of "true" indicates a return type of 
					 	  text/xml; the absence of the boolean parameter or a value of "false" indicates 
					 	  format is to be text/html.
				</documentation>
				<http:urlReplacement/>
			</input>
			<output>
				<mime:content type="text/xml"/>
				<mime:content type="text/html"/>
			</output>
		</operation>
		<operation name="listDatastreams">
			<http:operation location="listDatastreams/(pid)[/(asOfDateTime)][?xml=(boolean)]"/>
			<input>
				<documentation>  This URL replacement syntax is used to request a list of all
				     datastream in a digital object.
					When putting together a proper URL, the client should replace parenthesized
					parts of the operation location URL with actual values.  For example, "(pid)" 
					should be replaced with an actual pid of an object for which the client wants 
					to get information about (e.g. uva-lib:10).	Parts of the operation location URL that
					are surrounded by brackets ("[ ]") are optional.  To construct a proper URL the
					client must replace the following variables with real information:
						- pid : a required parameter. Client must provide the persistent identifier of the object.
					 	- asOfDateTime : an optional parameter.  Client can specifiy a dateTime value 
					 	  indicating that the client wants the object profile to reflect how the object looked 
					 	  as of a particular date and time.
					 	- boolean : an optional parameter.  Client can specify that the output of 
					 	  the operation be HTML or XML.   A value of "true" indicates a return type of 
					 	  text/xml; the absence of the boolean parameter or a value of "false" indicates 
					 	  format is to be text/html.
				</documentation>
				<http:urlReplacement/>
			</input>
			<output>
				<mime:content type="text/xml"/>
				<mime:content type="text/html"/>
			</output>
		</operation>
		<operation name="getDatastreamDissemination">
			<http:operation location="get/(pid)/(dsID)"/>
			<input>
				<documentation>
                  		- pid : a required parameter.  The pid of the digital object.
                  		- dsID : a required parameter.  The ID of the datastream in the object.
                	</documentation>
				<http:urlReplacement/>
			</input>
			<output>
				<mime:content type="*/*"/>
			</output>
		</operation>
		<operation name="getDissemination">
			<http:operation location="get/(pid)/(bDefPid)/(methodName)[/(asOfDateTime)][?(parameters)]"/>
			<input>
				<documentation>  This URL replacement syntax is used to request a dissemination of the object.
					When putting together a proper URL, the client should replace parenthesized
					parts of the operation location URL with actual values.  For example, "(pid)" 
					should be replaced with an actual pid of an object that the client wants to request a
					dissemination of (for example a pid value of "uva-lib:10").  Those parts of the operation 
					location syntax that are surrounded by brackets ("[ ]") are optional.  
					To construct a proper URL the client must replace the following variables with real information:
						- pid : a required parameter. Client must provide the persistent identifier of the digital object.
						- bDefPid : a required parameter. Client must provide the persistent identifier of the 
						  behavior definition object to which the digital object subscribes.
						- methodName - a required parameter.  Client must provide the name of the behavior
						  method to be executed.  A behavior method is also known as a dissemination method.
						- asOfDateTime : an optional parameter.  Client can specifiy a dateTime value 
					 	  indicating that the client wants the object profile to reflect how the object looked 
					 	  as of a particular date and time.
						- parameters - an optional array of parameters to the behavior method.  The parameter array
						  must begin with a question mark to delimit it from the rest of the URL.  Then, the
						  parameters follow as a set of name/value pairs separated by ampersands. 
						  Each name and value is connected by an equal sign. This is in accordance with normal
						  URL syntax for encoding parameters.
				</documentation>
				<http:urlReplacement/>
			</input>
			<output>
				<mime:content type="*/*"/>
			</output>
		</operation>
		<operation name="findObjects">
			<http:operation location="search?{terms=(terms)|query=(query)}[&amp;maxResults=(maxResults)][&amp;xml=(boolean)][&amp;pid=(pid)][&amp;label=(label)][&amp;fType=(fType)][&amp;cModel=(cModel)][&amp;state=(state)][&amp;ownerId=(ownerId)][&amp;cDate=(cDate)][&amp;mDate=(mDate)][&amp;dcmDate=(dcmDate)][&amp;bDef=(bDef)][&amp;bMech=(bMech)][&amp;title=(title)][&amp;creator=(creator)][&amp;subject=(subject)][&amp;description=(description)][&amp;publisher=(publisher)][&amp;contributor=(contributor)][&amp;date=(date)][&amp;type=(type)][&amp;format=(format)][&amp;identifier=(identifier)][&amp;source=(source)][&amp;language=(language)][&amp;relation=(relation)][&amp;coverage=(coverage)][&amp;rights=(rights)]"/>
			<input>
				<documentation>This URL replacement syntax is used to perform a search on the objects in the repository.
               The brace ({ and }) characters are used to denote a choice between items separated by the pipe (|) character.
               Parentheses around a string indicate that the value of that part of the url should be replaced with the
               value of the named parameter.  Square brackets indicate optional text.
               Descriptions of each named parameter can be found in the appropriate message part documentation above.
			</documentation>
				<http:urlReplacement/>
			</input>
			<output>
				<mime:content type="text/xml"/>
				<mime:content type="text/html"/>
			</output>
		</operation>
		<operation name="resumeFindObjects">
			<http:operation location="search?sessionToken=(sessionToken)[&amp;xml=(boolean)]"/>
			<input>
				<documentation>This operation is used to resume a findObjects operation.  
               	The sessionToken value comes from the previous response.  The URL replacement 
               	uses the same syntax conventions as the findObjects operation.</documentation>
				<http:urlReplacement/>
			</input>
			<output>
				<mime:content type="text/xml"/>
				<mime:content type="text/html"/>
			</output>
		</operation>
		<operation name="getObjectHistory">
			<http:operation location="getObjectHistory/(pid)[?xml=(boolean)]"/>
			<input>
				<documentation>  This URL replacement syntax is used to request the object change history request.
					When putting together a proper URL, the client should replace parenthesized
					parts of the operation location URL with actual values.  For example, "(pid)" 
					should be replaced with an actual pid of an object for which the client wants 
					to get information about (e.g. uva-lib:10).	Parts of the operation location URL that
					are surrounded by brackets ("[ ]") are optional.  To construct a proper URL the
					client must replace the following variables with real information:
						- pid : a required parameter. Client must provide the persistent identifier of the object.
					 	- boolean : an optional parameter.  Client can specify that the output of 
					 	  the operation be HTML or XML.   A value of "true" indicates a return type of 
					 	  text/xml; the absence of the xml parameter or a value of "false" indicates 
					 	  format is to be text/html.
				</documentation>
				<http:urlReplacement/>
			</input>
			<output>
				<mime:content type="text/xml"/>
				<mime:content type="text/html"/>
			</output>
		</operation>
	</binding>
</definitions>
