src/wsdl/Fedora-API-M.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.fedora.info/definitions/1/0/api/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdldoc="http://www.cs.cornell.edu/~cwilper/wsdldoc/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:fedora-api="http://www.fedora.info/definitions/1/0/api/" xmlns:fedora-auditing="http://www.fedora.info/definitions/1/0/auditing/" xmlns:fedora-types="http://www.fedora.info/definitions/1/0/types/" name="Fedora-API-M-WSDL">
	<import namespace="http://www.fedora.info/definitions/1/0/types/" location="fedora-types.xsd"/>
	<import namespace="http://www.fedora.info/definitions/1/0/auditing/" location="fedora-auditing.xsd"/>
	<types>
		<documentation>
			<wsdldoc:type name="xsd:string" url="http://www.w3.org/TR/2001/REC-xmlschema-2-20010502/#string"/>
			<wsdldoc:type name="xsd:dateTime" url="http://www.w3.org/TR/2001/REC-xmlschema-2-20010502/#dateTime"/>
			<wsdldoc:type name="xsd:base64Binary" url="http://www.w3.org/TR/2001/REC-xmlschema-2-20010502/#base64Binary"/>
			<wsdldoc:type name="fedora-types:ArrayOfString" url="http://www.fedora.info/definitions/1/0/types/#ArrayOfString"/>
			<wsdldoc:type name="fedora-types:ArrayOfDateTime" url="http://www.fedora.info/definitions/1/0/types/#ArrayOfDateTime"/>
			<wsdldoc:type name="fedora-types:Datastream" url="http://www.fedora.info/definitions/1/0/types/#Datastream"/>
			<wsdldoc:type name="fedora-types:ArrayOfDatastream" url="http://www.fedora.info/definitions/1/0/types/#ArrayOfDatastream"/>
			<wsdldoc:type name="fedora-types:DatastreamBindingMap" url="http://www.fedora.info/definitions/1/0/types/#DatastreamBindingMap"/>
			<wsdldoc:type name="fedora-types:Disseminator" url="http://www.fedora.info/definitions/1/0/types/#Disseminator"/>
			<wsdldoc:type name="fedora-types:ArrayOfDisseminator" url="http://www.fedora.info/definitions/1/0/types/#ArrayOfDisseminator"/>
			<wsdldoc:type name="fedora-auditing:ArrayOfAuditRecord" url="http://www.fedora.info/definitions/1/0/auditing/#ArrayOfAuditRecord"/>
		</documentation>
	</types>
	<!--
  <message name="createObjectResponse">
    <part name="response" type="xsd:string">
      <documentation>the PID of the newly created object.</documentation>
    </part>
  </message>
-->
	<message name="ingestObjectRequest">
		<part name="METSXML" type="xsd:base64Binary">
			<documentation>the digital object in METS format.</documentation>
		</part>
		<part name="logMessage" type="xsd:string">
			<documentation>a log message.</documentation>
		</part>
	</message>
	<message name="ingestObjectResponse">
		<part name="response" type="xsd:string">
			<documentation>the PID of the newly created object.</documentation>
		</part>
	</message>
	<message name="getObjectXMLRequest">
		<part name="PID" type="xsd:string">
			<documentation>the PID of the object.</documentation>
		</part>
	</message>
	<message name="getObjectXMLResponse">
		<part name="response" type="xsd:base64Binary">
			<documentation>the digital object in METS format.</documentation>
		</part>
	</message>
	<message name="exportObjectRequest">
		<part name="PID" type="xsd:string">
			<documentation>the PID of the object.</documentation>
		</part>
	</message>
	<message name="exportObjectResponse">
		<part name="response" type="xsd:base64Binary">
			<documentation>the digital object in METS format.</documentation>
		</part>
	</message>
	<!--
  <message name="withdrawObjectRequest">
    <part name="PID" type="xsd:string">
      <documentation>the PID of the object.</documentation>
    </part>
    <part name="logMessage" type="xsd:string">
      <documentation>an explanation of the withdrawal.</documentation>
    </part>
  </message>
  <message name="deleteObjectRequest">
    <part name="PID" type="xsd:string">
      <documentation>the PID of the object.</documentation>
    </part>
    <part name="logMessage" type="xsd:string">
      <documentation>an explanation of the deletion.</documentation>
    </part>
  </message>
-->
	<message name="purgeObjectRequest">
		<part name="PID" type="xsd:string">
			<documentation>the PID of the object.</documentation>
		</part>
		<part name="logMessage" type="xsd:string">
			<documentation>an explanation of the purge.</documentation>
		</part>
	</message>
	<!--
  <message name="obtainLockRequest">
    <part name="PID" type="xsd:string">
      <documentation>the PID of the object.</documentation>
    </part>
  </message>
  <message name="releaseLockRequest">
    <part name="PID" type="xsd:string">
      <documentation>the PID of the object.</documentation>
    </part>
    <part name="logMessage" type="xsd:string">
      <documentation>an explanation of the change.  If commit is true, this 
      message is used in the audit record describing the modification.</documentation>
    </part>
    <part name="commit" type="xsd:boolean">
      <documentation>whether the change(s) should be committed.</documentation>
    </part>
  </message>
  <message name="getObjectAuditTrailRequest">
    <part name="PID" type="xsd:string">
      <documentation>the PID of the object.</documentation>
    </part>
  </message>
  <message name="getObjectAuditTrailResponse">
    <part name="response" type="fedora-auditing:ArrayOfAuditRecord">
      <documentation>the ordered audit records for the object.</documentation>
    </part>
  </message>
  <message name="addDatastreamExternalRequest">
    <part name="PID" type="xsd:string">
      <documentation>the PID of the object.</documentation>
    </part>
    <part name="dsLabel" type="xsd:string">
      <documentation>the label for the datastream.</documentation>
    </part>
    <part name="dsLocation" type="xsd:string">
      <documentation>the url to the datastream.</documentation>
    </part>
  </message>
  <message name="addDatastreamExternalResponse">
    <part name="response" type="xsd:string">
      <documentation>the datastreamID of the newly added datastream.
      </documentation>
    </part>
  </message>
  <message name="addDatastreamManagedContentRequest">
    <part name="PID" type="xsd:string">
      <documentation>the PID of the object.</documentation>
    </part>
    <part name="dsLabel" type="xsd:string">
      <documentation>the label for the datastream.</documentation>
    </part>
    <part name="MIMEType" type="xsd:string">
      <documentation>the MIME type of the datastream.</documentation>
    </part>
    <part name="dsContent" type="xsd:base64Binary">
      <documentation>the content of the datastream.</documentation>
    </part>
  </message>
  <message name="addDatastreamManagedContentResponse">
    <part name="response" type="xsd:string">
      <documentation>the datastreamID of the newly added datastream.
      </documentation>
    </part>
  </message>
  <message name="addDatastreamXMLMetadataRequest">
    <part name="PID" type="xsd:string">
      <documentation>the PID of the object.</documentation>
    </part>
    <part name="dsLabel" type="xsd:string">
      <documentation>the label for the datastream.</documentation>
    </part>
    <part name="MDType" type="xsd:string">
      <documentation>the type of metadata.  This may be digiprov, rights, 
      technical, source, or descriptive.</documentation>
    </part>
    <part name="dsInlineMetadata" type="xsd:base64Binary">
      <documentation>the XML metadata.  This must be well-formed XML.
      </documentation>
    </part>
  </message>
  <message name="addDatastreamXMLMetadataResponse">
    <part name="response" type="xsd:string">
      <documentation>the datastreamID of the newly added datastream.
      </documentation>
    </part>
  </message>
-->
	<message name="modifyDatastreamByReferenceRequest">
		<part name="PID" type="xsd:string">
			<documentation>the PID of the object.</documentation>
		</part>
		<part name="datastreamID" type="xsd:string">
			<documentation>the ID of the datastream.</documentation>
		</part>
		<part name="dsLabel" type="xsd:string">
			<documentation>the label for the datastream.</documentation>
		</part>
		<part name="logMessage" type="xsd:string">
			<documentation>a message about the change.</documentation>
		</part>
		<part name="dsLocation" type="xsd:string">
			<documentation>the url to the datastream.</documentation>
		</part>
		<part name="dsState" type="xsd:string">
			<documentation>the state of the datastream.</documentation>
		</part>		
	</message>
	<message name="modifyDatastreamByValueRequest">
		<part name="PID" type="xsd:string">
			<documentation>the PID of the object.</documentation>
		</part>
		<part name="datastreamID" type="xsd:string">
			<documentation>the ID of the datastream.</documentation>
		</part>
		<part name="dsLabel" type="xsd:string">
			<documentation>the label for the datastream.</documentation>
		</part>
		<part name="logMessage" type="xsd:string">
			<documentation>a message about the change.</documentation>
		</part>
		<part name="dsContent" type="xsd:base64Binary">
			<documentation>the content of the datastream.</documentation>
		</part>
		<part name="dsState" type="xsd:string">
			<documentation>the state of the datastream.</documentation>
		</part>
	</message>
	<message name="withdrawDatastreamRequest">
		<part name="PID" type="xsd:string">
			<documentation>the PID of the object.</documentation>
		</part>
		<part name="datastreamID" type="xsd:string">
			<documentation>the ID of the datastream.</documentation>
		</part>
		<part name="logMessage" type="xsd:string">
			<documentation>a message about the change.</documentation>
		</part>
	</message>
	<message name="deleteDatastreamRequest">
		<part name="PID" type="xsd:string">
			<documentation>the PID of the object.</documentation>
		</part>
		<part name="datastreamID" type="xsd:string">
			<documentation>the ID of the datastream.</documentation>
		</part>
		<part name="logMessage" type="xsd:string">
			<documentation>a message about the change.</documentation>
		</part>
	</message>
	<message name="purgeDatastreamRequest">
		<part name="PID" type="xsd:string">
			<documentation>the PID of the object.</documentation>
		</part>
		<part name="datastreamID" type="xsd:string">
			<documentation>the ID of the datastream.</documentation>
		</part>
		<part name="endDT" type="xsd:dateTime">
			<documentation>the (inclusive) ending date-time stamp of the range. If 
          null, this is taken to be the greatest possible value, and thus,
          the entire version history of the datastream will be purged.</documentation>
		</part>
	</message>
	<message name="purgeDatastreamResponse">
		<part name="response" type="fedora-types:ArrayOfDateTime">
			<documentation>the creation date/time of each deleted datastream.
        </documentation>
		</part>
	</message>
	<message name="getDatastreamRequest">
		<part name="PID" type="xsd:string">
			<documentation>the PID of the object.</documentation>
		</part>
		<part name="datastreamID" type="xsd:string">
			<documentation>the ID of the datastream.</documentation>
		</part>
		<part name="asOfDateTime" type="xsd:dateTime">
			<documentation>the date/time stamp specifying the desired view of the 
      object.  If null, the current view of the object (the most recent time) 
      is assumed.</documentation>
		</part>
	</message>
	<message name="getDatastreamResponse">
		<part name="response" type="fedora-types:Datastream">
			<documentation>the datastream.</documentation>
		</part>
	</message>
	<!--
  <message name="getDatastreamsRequest">
    <part name="PID" type="xsd:string">
      <documentation>the PID of the object.</documentation>
    </part>
    <part name="asOfDateTime" type="xsd:dateTime">
      <documentation>the date/time stamp specifying the desired view of the 
      object.  If null, the current view of the object (the most recent time) 
      is assumed.</documentation>
    </part>
  </message>
  <message name="getDatastreamsResponse">
    <part name="response" type="fedora-types:ArrayOfDatastream">
      <documentation>the datastreams.</documentation>
    </part>
  </message>
-->
	<message name="listDatastreamIDsRequest">
		<part name="PID" type="xsd:string">
			<documentation>the PID of the object.</documentation>
		</part>
		<part name="state" type="xsd:string">
			<documentation>the state of the datastreams to list.</documentation>
		</part>
	</message>
	<message name="listDatastreamIDsResponse">
		<part name="response" type="fedora-types:ArrayOfString">
			<documentation>the IDs of the datastreams.</documentation>
		</part>
	</message>
	<message name="getDatastreamHistoryRequest">
		<part name="PID" type="xsd:string">
			<documentation>the PID of the object.</documentation>
		</part>
		<part name="datastreamID" type="xsd:string">
			<documentation>the ID of the datastream.</documentation>
		</part>
	</message>
	<message name="getDatastreamHistoryResponse">
		<part name="response" type="fedora-types:ArrayOfDateTime">
			<documentation>creation dates for each version of the datastream.</documentation>
		</part>
	</message>
	<!--
  <message name="addDisseminatorRequest">
    <part name="PID" type="xsd:string">
      <documentation>the PID of the object.</documentation>
    </part>
    <part name="bMechPID" type="xsd:string">
      <documentation>the PID of the behavior mechanism object.</documentation>
    </part>
    <part name="dissLabel" type="xsd:string">
      <documentation>the label of the disseminator.</documentation>
    </part>
    <part name="bindingMap" type="fedora-types:DatastreamBindingMap">
      <documentation>the binding map.</documentation>
    </part>
  </message>
  <message name="addDisseminatorResponse">
    <part name="response" type="xsd:string">
      <documentation>the ID of the newly created disseminator.</documentation>
    </part>
  </message>
  <message name="modifyDisseminatorRequest">
    <part name="PID" type="xsd:string">
      <documentation>the PID of the object.</documentation>
    </part>
    <part name="disseminatorID" type="xsd:string">
      <documentation>the ID of the disseminator.</documentation>
    </part>
    <part name="bMechPID" type="xsd:string">
      <documentation>the PID of the behavior mechanism object.</documentation>
    </part>
    <part name="dissLabel" type="xsd:string">
      <documentation>the label of the disseminator.</documentation>
    </part>
    <part name="bindingMap" type="fedora-types:DatastreamBindingMap">
      <documentation>the binding map.</documentation>
    </part>
  </message>
  <message name="withdrawDisseminatorRequest">
    <part name="PID" type="xsd:string">
      <documentation>the PID of the object.</documentation>
    </part>
    <part name="disseminatorID" type="xsd:string">
      <documentation>the ID of the disseminator.</documentation>
    </part>
  </message>
  <message name="deleteDisseminatorRequest">
    <part name="PID" type="xsd:string">
      <documentation>the PID of the object.</documentation>
    </part>
    <part name="disseminatorID" type="xsd:string">
      <documentation>the ID of the disseminator.</documentation>
    </part>
  </message>
  <message name="purgeDisseminatorRequest">
    <part name="PID" type="xsd:string">
      <documentation>the PID of the object.</documentation>
    </part>
    <part name="disseminatorID" type="xsd:string">
      <documentation>the ID of the disseminator.</documentation>
    </part>
    <part name="startDT" type="xsd:dateTime">
      <documentation>the (inclusive) starting date-time stamp of the range. If 
     null, this is taken to be the smallest possible value.</documentation>
    </part>
    <part name="endDT" type="xsd:dateTime">
      <documentation>the (inclusive) ending date-time stamp of the range. If 
      null, this is taken to be the greatest possible value.</documentation>
    </part>
  </message>
  <message name="purgeDisseminatorResponse">
    <part name="response" type="fedora-types:ArrayOfDateTime">
      <documentation>the creation date/time of each deleted disseminator, 
      earliest first.</documentation>
    </part>
  </message>
  <message name="getDisseminatorRequest">
    <part name="PID" type="xsd:string">
      <documentation>the PID of the object.</documentation>
    </part>
    <part name="disseminatorID" type="xsd:string">
      <documentation>the ID of the disseminator.</documentation>
    </part>
    <part name="asOfDateTime" type="xsd:dateTime">
      <documentation>the date/time stamp specifying the desired view of the 
      object.  If null, the current view of the object (the most recent time) 
      is assumed.</documentation>
    </part>
  </message>
  <message name="getDisseminatorResponse">
    <part name="response" type="fedora-types:Disseminator"/>
  </message>
  <message name="getDisseminatorsRequest">
    <part name="PID" type="xsd:string">
      <documentation>the PID of the object.</documentation>
    </part>
    <part name="asOfDateTime" type="xsd:dateTime">
      <documentation>the date/time stamp specifying the desired view of the 
      object.  If null, the current view of the object (the most recent time) 
      is assumed.</documentation>
    </part>
  </message>
  <message name="getDisseminatorsResponse">
    <part name="response" type="fedora-types:ArrayOfDisseminator">
      <documentation>the disseminators.</documentation>
    </part>
  </message>
  <message name="listDisseminatorIDsRequest">
    <part name="PID" type="xsd:string">
      <documentation>the PID of the object.</documentation>
    </part>
    <part name="state" type="xsd:string">
      <documentation>the state of the disseminators to list.</documentation>
    </part>
  </message>
  <message name="listDisseminatorIDsResponse">
    <part name="response" type="fedora-types:ArrayOfString">
      <documentation>the disseminator ids.</documentation>
    </part>
  </message>
  <message name="getDisseminatorHistoryRequest">
    <part name="PID" type="xsd:string">
      <documentation>the PID of the object.</documentation>
    </part>
    <part name="disseminatorID" type="xsd:string">
      <documentation>the ID of the disseminator.</documentation>
    </part>
  </message>
  <message name="getDisseminatorHistoryResponse">
    <part name="response" type="fedora-types:ArrayOfDateTime">
      <documentation>creation dates for each version of the disseminator.</documentation>
    </part>
  </message>
-->
	<portType name="Fedora-API-M">
		<documentation>The Fedora Management service defines an open interface for
    administering the repository, including creating, modifying, and deleting
    digital objects, or components within digital objects.  The Management
    service interacts with the underlying repository system to read content from
    and write content to the digital object and datastream storage areas.  The
    Management service exposes a set of operations that enable a client to view
    and manipulate digital objects from an abstract perspective, meaning that
    a client does not need to know anything about underlying storage formats,
    storage media, or storage management schemes for objects.  Also, the
    underlying repository system handles the details of storing datastream
    content within the repository, as well as mediating connectivity for
    datastreams that reference external content.</documentation>
		<!--
    <operation name="createObject">
      <documentation>Creates a new, empty digital object in the repository. The 
      object's initial state will be N.  The repository will generate and return 
      a new PID for the object resulting from this request.  The PID will have 
      the namespace of the repository.</documentation>
      <input message="null"/>
      <output message="fedora-api:createObjectResponse"/>
    </operation>
-->
		<operation name="ingestObject">
			<documentation>Creates a new digital object in the repository, given the 
      data in the provided METS document.  The object's initial state will be N.  
      If the METS document does not specify a PID in the OBJID attribute of the 
      root element, the repository will generate and return a new PID for the 
      object resulting from this request.  That PID will have the namespace of 
      the repository.  If the METS document specifies a PID, it will be assigned 
      to the digital object provided that 1) it conforms to the Fedora PID 
      Syntax, 2) it does not specify the namespace of the repository, and 3) 
      it does not collide with an existing PID of an object in the repository.
      </documentation>
			<input message="fedora-api:ingestObjectRequest"/>
			<output message="fedora-api:ingestObjectResponse"/>
		</operation>
		<operation name="getObjectXML">
			<documentation>Gets the XML portion of the entire METS-encoded 
      digital object for external use (viewing, editing, moving to another 
      repository).  XML metadata datastreams will be included inline, content 
      datastreams will not be included, and external datastreams will be 
      referenced by url.</documentation>
			<input message="fedora-api:getObjectXMLRequest"/>
			<output message="fedora-api:getObjectXMLResponse"/>
		</operation>
		<operation name="exportObject">
			<documentation>Gets the entire METS-encoded digital object for 
      external use (viewing, editing, moving to another repository).  XML 
      metadata datastreams will be included inline, content datastreams will 
      be included inline (base64-encoded), and external datastreams will be 
      referenced by url.</documentation>
			<input message="fedora-api:exportObjectRequest"/>
			<output message="fedora-api:exportObjectResponse"/>
		</operation>
		<!--
    <operation name="withdrawObject">
      <documentation>Changes the object's state to W, making it inaccessible 
      from API-A.</documentation>
      <input message="fedora-api:withdrawObjectRequest"/>
    </operation>
    <operation name="deleteObject">
      <documentation>Marks an object as deleted, changing its state to D.  
      This makes it inaccessible from API-A, and eligible for purging by the 
      cleanup process.</documentation>
      <input message="fedora-api:deleteObjectRequest"/>
    </operation>
-->
		<operation name="purgeObject">
			<documentation>Permanently removes an object from the repository.
      </documentation>
			<input message="fedora-api:purgeObjectRequest"/>
		</operation>
		<!--
    <operation name="obtainLock">
      <documentation>Locks an object for writing.  Upon obtaining a lock, a 
      user may execute write methods on an object.</documentation>
      <input message="fedora-api:obtainLockRequest"/>
    </operation>
    <operation name="releaseLock">
      <documentation>Unlocks an object for writing.</documentation>
      <input message="fedora-api:releaseLockRequest"/>
    </operation>
    <operation name="getObjectAuditTrail">
      <documentation>Gets all audit trail records for the object.</documentation>
      <input message="fedora-api:getObjectAuditTrailRequest"/>
      <output message="fedora-api:getObjectAuditTrailResponse"/>
    </operation>
    <operation name="addDatastreamExternal">
      <documentation>Creates a Referenced External Content Datastream in the 
      object.  The MIME type is determined by the repository, which uses the 
      value of the Content-Type HTTP response header provided by an HTTP GET 
      request of the URL.</documentation>
      <input message="fedora-api:addDatastreamExternalRequest"/>
      <output message="fedora-api:addDatastreamExternalResponse"/>
    </operation>
    <operation name="addDatastreamManagedContent">
      <documentation>Creates a Repository-Managed Content Datastream in the 
      object.  The repository uses the value of dsContent as the content of 
      the datastream.</documentation>
      <input message="fedora-api:addDatastreamManagedContentRequest"/>
      <output message="fedora-api:addDatastreamManagedContentResponse"/>
    </operation>
    <operation name="addDatastreamXMLMetadata">
      <documentation>Creates an Implementor-Defined XML Metadata Datastream in 
      the object.</documentation>
      <input message="fedora-api:addDatastreamXMLMetadataRequest"/>
      <output message="fedora-api:addDatastreamXMLMetadataResponse"/>
    </operation>
    <operation name="addDisseminator">
      <documentation>Creates a disseminator in the object.</documentation>
      <input message="fedora-api:addDisseminatorRequest"/>
      <output message="fedora-api:addDisseminatorResponse"/>
    </operation>
    <operation name="modifyDisseminator">
      <documentation>Modifies a disseminator in the object.</documentation>
      <input message="fedora-api:modifyDisseminatorRequest"/>
    </operation>
-->
		<operation name="modifyDatastreamByReference">
			<documentation>Modifies an existing datastream in an object, by reference.
			</documentation>
			<input message="fedora-api:modifyDatastreamByReferenceRequest"/>
		</operation>
		<operation name="modifyDatastreamByValue">
			<documentation>Modifies an existing datastream in an object, by value.</documentation>
			<input message="fedora-api:modifyDatastreamByValueRequest"/>
		</operation>
		<operation name="withdrawDatastream">
			<documentation>Changes a datastream's state to W, making it inaccessible 
      from API-A.</documentation>
			<input message="fedora-api:withdrawDatastreamRequest"/>
		</operation>
		<operation name="deleteDatastream">
			<documentation>Marks a datastream as deleted, changing its state to D.  
      This makes it inaccessible from API-A, and eligible for purging by the 
      cleanup process.</documentation>
			<input message="fedora-api:deleteDatastreamRequest"/>
		</operation>
		<operation name="purgeDatastream">
			<documentation>Permanently removes one or more versions of a datastream 
      from an object.</documentation>
			<input message="fedora-api:purgeDatastreamRequest"/>
			<output message="fedora-api:purgeDatastreamResponse"/>
		</operation>
		<!--
    <operation name="withdrawDisseminator">
      <documentation>Changes a disseminator's state to W, making it inaccessible 
      from API-A.</documentation>
      <input message="fedora-api:withdrawDisseminatorRequest"/>
    </operation>
    <operation name="deleteDisseminator">
      <documentation>Marks a disseminator as deleted, changing its state to D.  
      This makes it inaccessible from API-A, and eligible for purging by the 
      cleanup process.</documentation>
      <input message="fedora-api:deleteDisseminatorRequest"/>
    </operation>
    <operation name="purgeDisseminator">
      <documentation>Permanently removes one or more versions of a disseminator 
      from an object.</documentation>
      <input message="fedora-api:purgeDisseminatorRequest"/>
      <output message="fedora-api:purgeDisseminatorResponse"/>
    </operation>
-->
		<operation name="getDatastream">
			<documentation>Gets a datastream in an object.</documentation>
			<input message="fedora-api:getDatastreamRequest"/>
			<output message="fedora-api:getDatastreamResponse"/>
		</operation>
		<!--
    <operation name="getDatastreams">
      <documentation>Gets all datastreams in an object.</documentation>
      <input message="fedora-api:getDatastreamsRequest"/>
      <output message="fedora-api:getDatastreamsResponse"/>
    </operation>
-->
		<operation name="listDatastreamIDs">
			<documentation>Gets a list of datastreams in an object.</documentation>
			<input message="fedora-api:listDatastreamIDsRequest"/>
			<output message="fedora-api:listDatastreamIDsResponse"/>
		</operation>
		<operation name="getDatastreamHistory">
			<documentation>Gets the creation dates of each version of a datastream.</documentation>
			<input message="fedora-api:getDatastreamHistoryRequest"/>
			<output message="fedora-api:getDatastreamHistoryResponse"/>
		</operation>
		<!--
    <operation name="getDisseminator">
      <documentation>Gets a disseminator in an object.</documentation>
      <input message="fedora-api:getDisseminatorRequest"/>
      <output message="fedora-api:getDisseminatorResponse"/>
    </operation>
    <operation name="getDisseminators">
      <documentation>Gets all disseminators in an object.</documentation>
      <input message="fedora-api:getDisseminatorsRequest"/>
      <output message="fedora-api:getDisseminatorsResponse"/>
    </operation>
    <operation name="listDisseminatorIDs">
      <documentation>Gets a list of disseminators in an object.</documentation>
      <input message="fedora-api:listDisseminatorIDsRequest"/>
      <output message="fedora-api:listDisseminatorIDsResponse"/>
    </operation>
    <operation name="getDisseminatorHistory">
      <documentation>Gets the creation dates of each version of a disseminator.</documentation>
      <input message="fedora-api:getDisseminatorHistoryRequest"/>
      <output message="fedora-api:getDisseminatorHistoryResponse"/>
    </operation>
-->
	</portType>
	<binding name="Fedora-API-M-Binding-SOAPHTTP" type="fedora-api:Fedora-API-M">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<!--
    <operation name="createObject">
      <soap:operation style="rpc" 
          soapAction="http://www.fedora.info/definitions/1/0/api/#createObject"/>
      <input>
        <soap:body use="encoded" 
            encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
            namespace="http://www.fedora.info/definitions/1/0/api/"/>
      </input>
      <output>
        <soap:body use="encoded" 
            encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
            namespace="http://www.fedora.info/definitions/1/0/api/"/>
      </output>
    </operation>
-->
		<operation name="ingestObject">
			<soap:operation style="rpc" soapAction="http://www.fedora.info/definitions/1/0/api/#ingestObject"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="getObjectXML">
			<soap:operation style="rpc" soapAction="http://www.fedora.info/definitions/1/0/api/#getObjectXML"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="exportObject">
			<soap:operation style="rpc" soapAction="http://www.fedora.info/definitions/1/0/api/#exportObject"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<!--
    <operation name="withdrawObject">
      <soap:operation style="rpc" 
          soapAction="http://www.fedora.info/definitions/1/0/api/#withdrawObject"/>
      <input>
        <soap:body use="encoded" 
            encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
            namespace="http://www.fedora.info/definitions/1/0/api/"/>
      </input>
    </operation>
    <operation name="deleteObject">
      <soap:operation style="rpc" 
          soapAction="http://www.fedora.info/definitions/1/0/api/#deleteObject"/>
      <input>
        <soap:body use="encoded" 
            encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
            namespace="http://www.fedora.info/definitions/1/0/api/"/>
      </input>
    </operation>
-->
		<operation name="purgeObject">
			<soap:operation style="rpc" soapAction="http://www.fedora.info/definitions/1/0/api/#purgeObject"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
		</operation>
		<!--
    <operation name="obtainLock">
      <soap:operation style="rpc" 
          soapAction="http://www.fedora.info/definitions/1/0/api/#obtainLock"/>
      <input>
        <soap:body use="encoded" 
            encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
            namespace="http://www.fedora.info/definitions/1/0/api/"/>
      </input>
    </operation>
    <operation name="releaseLock">
      <soap:operation style="rpc" 
          soapAction="http://www.fedora.info/definitions/1/0/api/#releaseLock"/>
      <input>
        <soap:body use="encoded" 
            encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
            namespace="http://www.fedora.info/definitions/1/0/api/"/>
      </input>
    </operation>
    <operation name="getObjectAuditTrail">
      <soap:operation style="rpc" 
          soapAction="http://www.fedora.info/definitions/1/0/api/#getObjectAuditTrail"/>
      <input>
        <soap:body use="encoded" 
            encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
            namespace="http://www.fedora.info/definitions/1/0/api/"/>
      </input>
      <output>
        <soap:body use="encoded" 
            encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
            namespace="http://www.fedora.info/definitions/1/0/api/"/>
      </output>
    </operation>
    <operation name="addDatastreamExternal">
      <soap:operation style="rpc" 
          soapAction="http://www.fedora.info/definitions/1/0/api/#addDatastreamExternal"/>
      <input>
        <soap:body use="encoded" 
            encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
            namespace="http://www.fedora.info/definitions/1/0/api/"/>
      </input>
      <output>
        <soap:body use="encoded" 
            encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
            namespace="http://www.fedora.info/definitions/1/0/api/"/>
      </output>
    </operation>
    <operation name="addDatastreamManagedContent">
      <soap:operation style="rpc" 
          soapAction="http://www.fedora.info/definitions/1/0/api/#addDatastreamManagedContent"/>
      <input>
        <soap:body use="encoded" 
            encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
            namespace="http://www.fedora.info/definitions/1/0/api/"/>
      </input>
      <output>
        <soap:body use="encoded" 
            encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
            namespace="http://www.fedora.info/definitions/1/0/api/"/>
      </output>
    </operation>
    <operation name="addDatastreamXMLMetadata">
      <soap:operation style="rpc" 
          soapAction="http://www.fedora.info/definitions/1/0/api/#addDatastreamXMLMetadata"/>
      <input>
        <soap:body use="encoded" 
            encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
            namespace="http://www.fedora.info/definitions/1/0/api/"/>
      </input>
      <output>
        <soap:body use="encoded" 
            encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
            namespace="http://www.fedora.info/definitions/1/0/api/"/>
      </output>
    </operation>
-->
		<operation name="modifyDatastreamByReference">
			<soap:operation style="rpc" soapAction="http://www.fedora.info/definitions/1/0/api/#modifyDatastreamByReference"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
		</operation>
		<operation name="modifyDatastreamByValue">
			<soap:operation style="rpc" soapAction="http://www.fedora.info/definitions/1/0/api/#modifyDatastreamByValue"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
		</operation>
		<operation name="withdrawDatastream">
			<soap:operation style="rpc" soapAction="http://www.fedora.info/definitions/1/0/api/#withdrawDatastream"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
		</operation>
		<!--
    		<operation name="withdrawDisseminator">
      		<soap:operation style="rpc" 
          soapAction="http://www.fedora.info/definitions/1/0/api/#withdrawDisseminator"/>
      			<input>
        				<soap:body use="encoded" 
            encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
            namespace="http://www.fedora.info/definitions/1/0/api/"/>
      			</input>
    		</operation>
    		-->
		<operation name="deleteDatastream">
			<soap:operation style="rpc" soapAction="http://www.fedora.info/definitions/1/0/api/#deleteDatastream"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
		</operation>
		<operation name="purgeDatastream">
			<soap:operation style="rpc" soapAction="http://www.fedora.info/definitions/1/0/api/#purgeDatastream"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="getDatastream">
			<soap:operation style="rpc" soapAction="http://www.fedora.info/definitions/1/0/api/#getDatastream"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<!--
    <operation name="getDatastreams">
      <soap:operation style="rpc" 
          soapAction="http://www.fedora.info/definitions/1/0/api/#getDatastreams"/>
      <input>
        <soap:body use="encoded" 
            encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
            namespace="http://www.fedora.info/definitions/1/0/api/"/>
      </input>
      <output>
        <soap:body use="encoded" 
            encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
            namespace="http://www.fedora.info/definitions/1/0/api/"/>
      </output>
    </operation>
-->
		<operation name="listDatastreamIDs">
			<soap:operation style="rpc" soapAction="http://www.fedora.info/definitions/1/0/api/#listDatastreamIDs"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="getDatastreamHistory">
			<soap:operation style="rpc" soapAction="http://www.fedora.info/definitions/1/0/api/#getDatastreamHistory"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<!--
    <operation name="addDisseminator">
      <soap:operation style="rpc" 
          soapAction="http://www.fedora.info/definitions/1/0/api/#addDisseminator"/>
      <input>
        <soap:body use="encoded" 
            encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
            namespace="http://www.fedora.info/definitions/1/0/api/"/>
      </input>
      <output>
        <soap:body use="encoded" 
            encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
            namespace="http://www.fedora.info/definitions/1/0/api/"/>
      </output>
    </operation>
    <operation name="modifyDisseminator">
      <soap:operation style="rpc" 
          soapAction="http://www.fedora.info/definitions/1/0/api/#modifyDisseminator"/>
      <input>
        <soap:body use="encoded" 
            encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
            namespace="http://www.fedora.info/definitions/1/0/api/"/>
      </input>
    </operation>
    <operation name="deleteDisseminator">
      <soap:operation style="rpc" 
          soapAction="http://www.fedora.info/definitions/1/0/api/#deleteDisseminator"/>
      <input>
        <soap:body use="encoded" 
            encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
            namespace="http://www.fedora.info/definitions/1/0/api/"/>
      </input>
    </operation>
    <operation name="purgeDisseminator">
      <soap:operation style="rpc" 
          soapAction="http://www.fedora.info/definitions/1/0/api/#purgeDisseminator"/>
      <input>
        <soap:body use="encoded" 
            encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
            namespace="http://www.fedora.info/definitions/1/0/api/"/>
      </input>
      <output>
        <soap:body use="encoded" 
            encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
            namespace="http://www.fedora.info/definitions/1/0/api/"/>
      </output>
    </operation>
    <operation name="getDisseminator">
      <soap:operation style="rpc" 
          soapAction="http://www.fedora.info/definitions/1/0/api/#getDisseminator"/>
      <input>
        <soap:body use="encoded" 
            encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
            namespace="http://www.fedora.info/definitions/1/0/api/"/>
      </input>
      <output>
        <soap:body use="encoded" 
            encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
            namespace="http://www.fedora.info/definitions/1/0/api/"/>
      </output>
    </operation>
    <operation name="getDisseminators">
      <soap:operation style="rpc" 
          soapAction="http://www.fedora.info/definitions/1/0/api/#getDisseminators"/>
      <input>
        <soap:body use="encoded" 
            encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
            namespace="http://www.fedora.info/definitions/1/0/api/"/>
      </input>
      <output>
        <soap:body use="encoded" 
            encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
            namespace="http://www.fedora.info/definitions/1/0/api/"/>
      </output>
    </operation>
    <operation name="listDisseminatorIDs">
      <soap:operation style="rpc" 
          soapAction="http://www.fedora.info/definitions/1/0/api/#listDisseminatorIDs"/>
      <input>
        <soap:body use="encoded" 
            encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
            namespace="http://www.fedora.info/definitions/1/0/api/"/>
      </input>
      <output>
        <soap:body use="encoded" 
            encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
            namespace="http://www.fedora.info/definitions/1/0/api/"/>
      </output>
    </operation>
    <operation name="getDisseminatorHistory">
      <soap:operation style="rpc" 
          soapAction="http://www.fedora.info/definitions/1/0/api/#getDisseminatorHistory"/>
      <input>
        <soap:body use="encoded" 
            encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
            namespace="http://www.fedora.info/definitions/1/0/api/"/>
      </input>
      <output>
        <soap:body use="encoded" 
            encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
            namespace="http://www.fedora.info/definitions/1/0/api/"/>
      </output>
    </operation>
-->
	</binding>
	<service name="Fedora-API-M-Service">
		<port name="Fedora-API-M-Port-SOAPHTTP" binding="fedora-api:Fedora-API-M-Binding-SOAPHTTP">
			<soap:address location="http://localhost:8080/fedora/management/soap"/>
		</port>
	</service>
</definitions>
