src/wsdl/Fedora-API-M-NEW.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.fedora.info/definitions/1/0/api/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdldoc="http://www.cs.cornell.edu/~cwilper/wsdldoc/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:fedora-api="http://www.fedora.info/definitions/1/0/api/" xmlns:fedora-auditing="http://www.fedora.info/definitions/1/0/auditing/" xmlns:fedora-types="http://www.fedora.info/definitions/1/0/types/" name="Fedora-API-M-WSDL">
	<import namespace="http://www.fedora.info/definitions/1/0/types/" location="fedora-types.xsd"/>
	<import namespace="http://www.fedora.info/definitions/1/0/auditing/" location="fedora-auditing.xsd"/>
	<types>
		<documentation>
			<wsdldoc:type name="xsd:string" url="http://www.w3.org/TR/2001/REC-xmlschema-2-20010502/#string"/>
			<wsdldoc:type name="xsd:base64Binary" url="http://www.w3.org/TR/2001/REC-xmlschema-2-20010502/#base64Binary"/>
			<wsdldoc:type name="fedora-types:ArrayOfString" url="http://www.fedora.info/definitions/1/0/types/#ArrayOfString"/>
			<wsdldoc:type name="fedora-types:ArrayOfDateTimeString" url="http://www.fedora.info/definitions/1/0/types/#ArrayOfDateTimeString"/>
			<wsdldoc:type name="fedora-types:Datastream" url="http://www.fedora.info/definitions/1/0/types/#Datastream"/>
			<wsdldoc:type name="fedora-types:ArrayOfDatastream" url="http://www.fedora.info/definitions/1/0/types/#ArrayOfDatastream"/>
			<wsdldoc:type name="fedora-types:DatastreamBindingMap" url="http://www.fedora.info/definitions/1/0/types/#DatastreamBindingMap"/>
			<wsdldoc:type name="fedora-types:Disseminator" url="http://www.fedora.info/definitions/1/0/types/#Disseminator"/>
			<wsdldoc:type name="fedora-types:ArrayOfDisseminator" url="http://www.fedora.info/definitions/1/0/types/#ArrayOfDisseminator"/>
			<wsdldoc:type name="fedora-types:UserInfo" url="http://www.fedora.info/definitions/1/0/types/#UserInfo"/>
			<wsdldoc:type name="fedora-types:ArrayOfProperty" url="http://www.fedora.info/definitions/1/0/types/#ArrayOfProperty"/>
			<wsdldoc:type name="fedora-auditing:ArrayOfAuditRecord" url="http://www.fedora.info/definitions/1/0/auditing/#ArrayOfAuditRecord"/>
		</documentation>
	</types>
	<message name="ingestRequest">
		<part name="XML" type="xsd:base64Binary">
			<documentation>the digital object in an XML submission format.</documentation>
		</part>
		<part name="format" type="xsd:string">
			<documentation>the XML format of the submission</documentation>
		</part>
		<part name="logMessage" type="xsd:string">
			<documentation>a log message.</documentation>
		</part>
	</message>
	<message name="ingestObjectRequest">
		<documentation> DEPRECATED IN FEDORA 2.0.  USE ingestRequest.</documentation>
		<part name="METSXML" type="xsd:base64Binary">
			<documentation>the digital object in the METS (Fedora Extension) XML submission format.</documentation>
		</part>
		<part name="logMessage" type="xsd:string">
			<documentation>a log message.</documentation>
		</part>
	</message>
	<message name="ingestObjectResponse">
		<part name="response" type="xsd:string">
			<documentation>the pid of the newly created object.</documentation>
		</part>
	</message>
	<message name="modifyObjectRequest">
		<part name="pid" type="xsd:string">
			<documentation>the pid of the object.</documentation>
		</part>
		<part name="state" type="xsd:string">
			<documentation>the new state, A, I or D.  Null means leave unchanged.</documentation>
		</part>
		<part name="label" type="xsd:string">
			<documentation>the new label.  Null means leave unchanged.</documentation>
		</part>
		<part name="logMessage" type="xsd:string">
			<documentation>a log message.</documentation>
		</part>
	</message>
	<message name="modifyObjectResponse">
		<part name="response" type="xsd:string">
			<documentation>The timestamp of the operation according to the server, in ISO8601 format.</documentation>
		</part>
	</message>
	<message name="getObjectPropertiesRequest">
		<part name="pid" type="xsd:string"/>
	</message>
	<message name="getObjectPropertiesResponse">
		<part name="response" type="fedora-types:ArrayOfProperty"/>
	</message>
	<message name="getObjectXMLRequest">
		<part name="pid" type="xsd:string">
			<documentation>the pid of the object.</documentation>
		</part>
	</message>
	<message name="getObjectXMLResponse">
		<part name="response" type="xsd:base64Binary">
			<documentation>the digital object in the Fedora XML internal storage format.</documentation>
		</part>
	</message>
	<message name="exportRequest">
		<part name="pid" type="xsd:string"/>
		<part name="format" type="xsd:string">
			<documentation>the desired XML format of the export file, either
			"foxml1.0" for Fedora Object XML (FOXML) or "metslikefedora1"
			for METS (Fedora extension of METS).</documentation>
		</part>
		<part name="context" type="xsd:string">
			<documentation>the export context, which indicates the intended
			use of the export file.  Valid options are (1) "public" which produces an
			export file that is appropriate for use outside of the repository (all datastream
			content can be obtained via public callback URLs), (2) "migrate" which produces
			an export file that is appropriate for migrating an object from one Fedora repository
			to another, or (3)"archive" which produces an export file that is a standalone entity, 
			where all datastream content is inlines (XML inline and binary base64-encoded inline).
			Note that the "archive" option is not available in Fedora 2.0.</documentation>
		</part>
	</message>
	<message name="exportObjectRequest">
		<documentation> DEPRECATED IN FEDORA 2.0.  USE exportRequest.</documentation>
		<part name="pid" type="xsd:string">
			<documentation>the pid of the object.</documentation>
		</part>
	</message>
	<message name="exportObjectResponse">
		<part name="response" type="xsd:base64Binary">
			<documentation>the digital object in the requested XML format.</documentation>
		</part>
	</message>
	<message name="purgeObjectRequest">
		<part name="pid" type="xsd:string">
			<documentation>the pid of the object.</documentation>
		</part>
		<part name="logMessage" type="xsd:string">
			<documentation>an explanation of the purge.</documentation>
		</part>
		<part name="force" type="xsd:boolean">
			<documentation>whether to force the change even if it would break a dependency.</documentation>
		</part>
	</message>
    <message name="purgeObjectResponse">
        <part name="response" type="xsd:string">
            <documentation>The timestamp of the operation according to the server, in ISO8601 format.</documentation>
        </part>
    </message>
	<message name="addDatastreamRequest">
		<part name="pid" type="xsd:string">
			<documentation>the pid of the object.</documentation>
		</part>
		<part name="dsID" type="xsd:string">
			<documentation>the ID of the datastream (64 characters max).  
			If given as null, Fedora will generate an id for you.</documentation>
		</part>
		<part name="dsLabel" type="xsd:string">
			<documentation>the label for the datastream.</documentation>
		</part>
		<part name="versionable" type="xsd:boolean">
			<documentation>Whether Fedora should maintain old versions of the datastream when it is modified,
			or it should just over-write the old content.</documentation>
		</part>
		<part name="MIMEType" type="xsd:string">
			<documentation>the mime type.</documentation>
		</part>
		<part name="formatURI" type="xsd:string">
			<documentation>the format URI (a more granular format identifier than mime type).  Optional.</documentation>
		</part>
		<part name="dsLocation" type="xsd:string">
			<documentation>the location of the datastream.  The content will be retrieved from this location.</documentation>
		</part>
		<part name="controlGroup" type="xsd:string">
			<documentation>the control group.  This must be one of "X", "M", "R", or "E".</documentation>
		</part>
		<part name="dsState" type="xsd:string">
			<documentation>the initial state of the datastream.</documentation>
		</part>
		<part name="logMessage" type="xsd:string">
			<documentation>a log message.</documentation>
		</part>
	</message>
	<message name="addDatastreamResponse">
		<part name="response" type="xsd:string">
			<documentation>the datastreamID of the newly added datastream.</documentation>
		</part>
	</message>
	<message name="addDisseminatorRequest">
		<part name="pid" type="xsd:string">
			<documentation>the pid of the object.</documentation>
		</part>
		<part name="bDefPid" type="xsd:string">
			<documentation>the pid of the behavior definition object.</documentation>
		</part>
		<part name="bMechPid" type="xsd:string">
			<documentation>the pid of the behavior mechanism object.</documentation>
		</part>
		<part name="dissLabel" type="xsd:string">
			<documentation>the label of the disseminator.</documentation>
		</part>
		<part name="bDefLabel" type="xsd:string">
			<documentation>the label assigned to the behavior definition of the disseminator.</documentation>
		</part>
		<part name="bMechLabel" type="xsd:string">
			<documentation>the label assigned to the behavior mechanism of the disseminator.</documentation>
		</part>
		<part name="bindingMap" type="fedora-types:DatastreamBindingMap">
			<documentation>the binding map.</documentation>
		</part>
		<part name="dissState" type="xsd:string">
			<documentation>the initial state of the disseminator.</documentation>
		</part>
		<part name="logMessage" type="xsd:string">
			<documentation>a log message.</documentation>
		</part>
	</message>
	<message name="addDisseminatorResponse">
		<part name="response" type="xsd:string">
			<documentation>the ID of the newly created disseminator.</documentation>
		</part>
	</message>
	<message name="describeUserRequest">
		<part name="id" type="xsd:string">
			<documentation>the id of the user.</documentation>
		</part>
	</message>
	<message name="describeUserResponse">
		<part name="response" type="fedora-types:UserInfo">
			<documentation>information about the user.</documentation>
		</part>
	</message>
	<message name="modifyDatastreamByReferenceRequest">
		<part name="pid" type="xsd:string">
			<documentation>the pid of the object.</documentation>
		</part>
		<part name="dsID" type="xsd:string">
			<documentation>the ID of the datastream.</documentation>
		</part>
		<part name="dsLabel" type="xsd:string">
			<documentation>the label for the datastream.</documentation>
		</part>
		<part name="logMessage" type="xsd:string">
			<documentation>a message about the change.</documentation>
		</part>
		<part name="dsLocation" type="xsd:string">
			<documentation>the url to the datastream.</documentation>
		</part>
		<part name="dsState" type="xsd:string">
			<documentation>the state of the datastream.</documentation>
		</part>
		<part name="MIMEType" type="xsd:string">
			<documentation>the mime type.</documentation>
		</part>
		<part name="formatURI" type="xsd:string">
			<documentation>the format URI (a more granular format identifier than mime type).  Optional.</documentation>
		</part>
		<part name="force" type="xsd:boolean">
			<documentation>whether to force the change even if it would break a data contract.</documentation>
		</part>
	</message>
    <message name="modifyDatastreamByReferenceResponse">
        <part name="response" type="xsd:string">
            <documentation>The timestamp of the operation according to the server, in ISO8601 format.</documentation>
        </part>
    </message>
	<message name="modifyDatastreamByValueRequest">
		<part name="pid" type="xsd:string">
			<documentation>the pid of the object.</documentation>
		</part>
		<part name="dsID" type="xsd:string">
			<documentation>the ID of the datastream.</documentation>
		</part>
		<part name="dsLabel" type="xsd:string">
			<documentation>the label for the datastream.</documentation>
		</part>
		<part name="logMessage" type="xsd:string">
			<documentation>a message about the change.</documentation>
		</part>
		<part name="dsContent" type="xsd:base64Binary">
			<documentation>the content of the datastream.</documentation>
		</part>
		<part name="dsState" type="xsd:string">
			<documentation>the state of the datastream.</documentation>
		</part>
		<part name="MIMEType" type="xsd:string">
			<documentation>the mime type.</documentation>
		</part>
		<part name="formatURI" type="xsd:string">
			<documentation>the format URI (a more granular format identifier than mime type).  Optional.</documentation>
		</part>
		<part name="force" type="xsd:boolean">
			<documentation>whether to force the change even if it would break a data contract.</documentation>
		</part>
	</message>
    <message name="modifyDatastreamByValueResponse">
        <part name="response" type="xsd:string">
            <documentation>The timestamp of the operation according to the server, in ISO8601 format.</documentation>
        </part>
    </message>
	<message name="modifyDisseminatorRequest">
		<part name="pid" type="xsd:string">
			<documentation>the pid of the object.</documentation>
		</part>
		<part name="dissID" type="xsd:string">
			<documentation>the ID of the disseminator.</documentation>
		</part>
		<part name="bMechPid" type="xsd:string">
			<documentation>the pid of the behavior mechanism object.</documentation>
		</part>
		<part name="dissLabel" type="xsd:string">
			<documentation>the label of the disseminator.</documentation>
		</part>
		<part name="bDefLabel" type="xsd:string">
			<documentation>the label assigned to the bDef of the disseminator.</documentation>
		</part>
		<part name="bMechLabel" type="xsd:string">
			<documentation>the label assigned to the bMech of the disseminator.</documentation>
		</part>
		<part name="bindingMap" type="fedora-types:DatastreamBindingMap">
			<documentation>the binding map.</documentation>
		</part>
		<part name="logMessage" type="xsd:string">
			<documentation>a message about the change.</documentation>
		</part>
		<part name="dissState" type="xsd:string">
			<documentation>the state of the disseminator.</documentation>
		</part>
	</message>
    <message name="modifyDisseminatorResponse">
        <part name="response" type="xsd:string">
            <documentation>The timestamp of the operation according to the server, in ISO8601 format.</documentation>
        </part>
    </message>
	<message name="setDatastreamStateRequest">
		<part name="pid" type="xsd:string">
			<documentation>the pid of the object.</documentation>
		</part>
		<part name="dsID" type="xsd:string">
			<documentation>the ID of the datastream.</documentation>
		</part>
		<part name="dsState" type="xsd:string">
			<documentation>the state to be set on the datastream.</documentation>
		</part>
		<part name="logMessage" type="xsd:string">
			<documentation>a message about the change.</documentation>
		</part>
	</message>
    <message name="setDatastreamStateResponse">
        <part name="response" type="xsd:string">
            <documentation>The timestamp of the operation according to the server, in ISO8601 format.</documentation>
        </part>
    </message>
	<message name="setDisseminatorStateRequest">
		<part name="pid" type="xsd:string">
			<documentation>the pid of the object.</documentation>
		</part>
		<part name="dissID" type="xsd:string">
			<documentation>the ID of the disseminator.</documentation>
		</part>
		<part name="dissState" type="xsd:string">
			<documentation>the state to be set on the disseminator.</documentation>
		</part>
		<part name="logMessage" type="xsd:string">
			<documentation>a message about the change.</documentation>
		</part>
	</message>
    <message name="setDisseminatorStateResponse">
        <part name="response" type="xsd:string">
            <documentation>The timestamp of the operation according to the server, in ISO8601 format.</documentation>
        </part>
    </message>
	<message name="getDatastreamRequest">
		<part name="pid" type="xsd:string">
			<documentation>the pid of the object.</documentation>
		</part>
		<part name="dsID" type="xsd:string">
			<documentation>the ID of the datastream.</documentation>
		</part>
		<part name="asOfDateTime" type="xsd:string">
			<documentation>the date/time stamp specifying the desired view of the 
      object.  If null, the current view of the object (the most recent time) 
      is assumed.</documentation>
		</part>
	</message>
	<message name="getDatastreamResponse">
		<part name="response" type="fedora-types:Datastream">
			<documentation>the datastream.</documentation>
		</part>
	</message>
	<message name="getDatastreamsRequest">
		<part name="pid" type="xsd:string">
			<documentation>the pid of the object.</documentation>
		</part>
		<part name="asOfDateTime" type="xsd:string">
			<documentation>the date/time stamp specifying the desired view of the 
      object.  If null, the current view of the object (the most recent time) 
      is assumed.</documentation>
		</part>
		<part name="dsState" type="xsd:string">
			<documentation>the state of the datastreams to get, null for all states.</documentation>
		</part>
	</message>
	<message name="getDatastreamsResponse">
		<part name="response" type="fedora-types:ArrayOfDatastream">
			<documentation>the datastreams.</documentation>
		</part>
	</message>
	<message name="getDatastreamHistoryRequest">
		<part name="pid" type="xsd:string">
			<documentation>the pid of the object.</documentation>
		</part>
		<part name="dsID" type="xsd:string">
			<documentation>the ID of the datastream.</documentation>
		</part>
	</message>
	<message name="getDatastreamHistoryResponse">
		<part name="response" type="fedora-types:ArrayOfDatastream">
			<documentation>each version of the datastream, sorted from most to least recent.</documentation>
		</part>
	</message>
	<message name="getDisseminatorRequest">
		<part name="pid" type="xsd:string">
			<documentation>the pid of the object.</documentation>
		</part>
		<part name="dissID" type="xsd:string">
			<documentation>the ID of the disseminator.</documentation>
		</part>
		<part name="asOfDateTime" type="xsd:string">
			<documentation>the date/time stamp specifying the desired view of the 
			      object.  If null, the current view of the object (the most recent time) 
			      is assumed.</documentation>
		</part>
	</message>
	<message name="getDisseminatorResponse">
		<part name="response" type="fedora-types:Disseminator"/>
	</message>
	<message name="getDisseminatorsRequest">
		<part name="pid" type="xsd:string">
			<documentation>the pid of the object.</documentation>
		</part>
		<part name="asOfDateTime" type="xsd:string">
			<documentation>the date/time stamp specifying the desired view of the 
				      object.  If null, the current view of the object (the most recent time) 
			     	 is assumed.</documentation>
		</part>
		<part name="dissState" type="xsd:string">
			<documentation>the state of the disseminatorss to get, null for all states.</documentation>
		</part>
	</message>
	<message name="getDisseminatorsResponse">
		<part name="response" type="fedora-types:ArrayOfDisseminator">
			<documentation>the disseminators.</documentation>
		</part>
	</message>
	<message name="getDisseminatorHistoryRequest">
		<part name="pid" type="xsd:string">
			<documentation>the pid of the object.</documentation>
		</part>
		<part name="dissID" type="xsd:string">
			<documentation>the ID of the disseminator.</documentation>
		</part>
	</message>
	<message name="getDisseminatorHistoryResponse">
		<part name="response" type="fedora-types:ArrayOfDisseminator">
			<documentation>creation dates for each version of the disseminator.</documentation>
		</part>
	</message>
	<message name="purgeDatastreamRequest">
		<part name="pid" type="xsd:string">
			<documentation>the pid of the object.</documentation>
		</part>
		<part name="dsID" type="xsd:string">
			<documentation>the ID of the datastream.</documentation>
		</part>
		<part name="endDT" type="xsd:string">
			<documentation>the (inclusive) ending date-time stamp of the range. If 
          null, this is taken to be the greatest possible value, and thus,
          the entire version history of the datastream will be purged.</documentation>
		</part>
		<part name="logMessage" type="xsd:string">
			<documentation>an explanation of the purge.</documentation>
		</part>
		<part name="force" type="xsd:boolean">
			<documentation>whether to force the change even if it would break a data contract.</documentation>
		</part>
	</message>
	<message name="purgeDatastreamResponse">
		<part name="response" type="fedora-types:ArrayOfDateTimeString">
			<documentation>the creation date/time of each deleted datastream.
        </documentation>
		</part>
	</message>
	<message name="purgeDisseminatorRequest">
		<part name="pid" type="xsd:string">
			<documentation>the pid of the object.</documentation>
		</part>
		<part name="dissID" type="xsd:string">
			<documentation>the ID of the disseminator.</documentation>
		</part>
		<part name="endDT" type="xsd:string">
			<documentation>the (inclusive) ending date-time stamp of the range. If 
      null, this is taken to be the greatest possible value.</documentation>
		</part>
		<part name="logMessage" type="xsd:string">
			<documentation>an explanation of the purge.</documentation>
		</part>
		<part name="force" type="xsd:boolean">
			<documentation>whether to force the change even if it would break a data contract.</documentation>
		</part>
	</message>
	<message name="purgeDisseminatorResponse">
		<part name="response" type="fedora-types:ArrayOfDateTimeString">
			<documentation>the creation date/time of each deleted disseminator, 
      earliest first.</documentation>
		</part>
	</message>
	<message name="getNextPIDRequest">
		<part name="numPids" type="xsd:nonNegativeInteger">
			<documentation>the number of pids requested.</documentation>
		</part>
		<part name="pidNamespace" type="xsd:string">
			<documentation>the namespace of the requested pid(s).</documentation>
		</part>
	</message>
	<message name="getNextPIDResponse">
		<part name="response" type="fedora-types:ArrayOfString">
			<documentation>an array of the requested next available pid(s).</documentation>
		</part>
	</message>
	<portType name="Fedora-API-M">
		<documentation>The Fedora Management service defines an open interface for
    administering the repository, including creating, modifying, and deleting
    digital objects, or components within digital objects.  The Management
    service interacts with the underlying repository system to read content from
    and write content to the digital object and datastream storage areas.  The
    Management service exposes a set of operations that enable a client to view
    and manipulate digital objects from an abstract perspective, meaning that
    a client does not need to know anything about underlying storage formats,
    storage media, or storage management schemes for objects.  Also, the
    underlying repository system handles the details of storing datastream
    content within the repository, as well as mediating connectivity for
    datastreams that reference external content.</documentation>
		<operation name="ingest">
			<documentation>Creates a new digital object in the repository, given the 
      data in the provided XML document, and a format indentifier for the XML document format.  
      The valid formats are currently: "foxml1.0" and "metslikefedora1".  The object's initial 
      state will be A (active).   If the XML document does not specify the
      OBJID attribute of the root element, the repository will generate and return a new pid 
      for the object resulting from this request.  That pid will have the namespace of 
      the repository.  If the XML document specifies a pid, it will be assigned 
      to the digital object provided that 1) it conforms to the Fedora pid 
      Syntax, 2) it does not specify the namespace of the repository, and 3) 
      it does not collide with an existing pid of an object in the repository.
      </documentation>
			<input message="fedora-api:ingestRequest"/>
			<output message="fedora-api:ingestObjectResponse"/>
		</operation>
		<operation name="ingestObject">
			<documentation>DEPRECATED IN FEDORA 2.0. USE ingest.  
			Creates a new digital object in the repository, given the data in the provided
			XML document, 	and a format indentifier for the METS document format.   
			The object's initial  state will be A (active).   If the XML document does not 
			specify a pid in the OBJID attribute of the  root element, the repository will 
			generate and return a new pid for the object resulting from this request.  
			That pid will have the namespace of the repository.  If the XML document 
			specifies a pid, it will be assigned to the digital object provided that 
			1) it conforms to the Fedora pid Syntax, 2) it does not specify the namespace 
			of the repository, and 3) it does not collide with an existing pid of an object in 
			the repository. </documentation>
			<input message="fedora-api:ingestObjectRequest"/>
			<output message="fedora-api:ingestObjectResponse"/>
		</operation>
		<operation name="describeUser">
			<documentation>Gets key information about the named user.</documentation>
			<input message="fedora-api:describeUserRequest"/>
			<output message="fedora-api:describeUserResponse"/>
		</operation>
		<operation name="modifyObject">
			<documentation>Changes the state and/or label of the object.</documentation>
			<input message="fedora-api:modifyObjectRequest"/>
			<output message="fedora-api:modifyObjectResponse"/>
		</operation>
		<operation name="getObjectXML">
			<documentation>Gets the XML portion of the entire METS-encoded 
      digital object for external use (viewing, editing, moving to another 
      repository).  XML metadata datastreams will be included inline, content 
      datastreams will not be included, and external datastreams will be 
      referenced by url.</documentation>
			<input message="fedora-api:getObjectXMLRequest"/>
			<output message="fedora-api:getObjectXMLResponse"/>
		</operation>
		<operation name="export">
			<documentation>Exports the entire digital object in the specified XML
			format ("foxml1.0" or "metslikefedora1"), and encoded appropriately 
			for the specified export context ("public", "migrate", or "archive").</documentation>
			<input message="fedora-api:exportRequest"/>
			<output message="fedora-api:exportObjectResponse"/>
		</operation>
		<operation name="exportObject">
			<documentation>DEPRECATED IN FEDORA 2.0. USE export.</documentation>
			<input message="fedora-api:exportObjectRequest"/>
			<output message="fedora-api:exportObjectResponse"/>
		</operation>
		<operation name="purgeObject">
			<documentation>Permanently removes an object from the repository.
      </documentation>
			<input message="fedora-api:purgeObjectRequest"/>
			<output message="fedora-api:purgeObjectResponse"/>
		</operation>
		<operation name="addDatastream">
			<documentation>Creates a new datastream in the object.</documentation>
			<input message="fedora-api:addDatastreamRequest"/>
			<output message="fedora-api:addDatastreamResponse"/>
		</operation>
		<operation name="addDisseminator">
			<documentation>Creates a disseminator in the object.</documentation>
			<input message="fedora-api:addDisseminatorRequest"/>
			<output message="fedora-api:addDisseminatorResponse"/>
		</operation>
		<operation name="modifyDatastreamByReference">
			<documentation>Modifies an existing datastream in an object, by reference.
			</documentation>
			<input message="fedora-api:modifyDatastreamByReferenceRequest"/>
			<output message="fedora-api:modifyDatastreamByReferenceResponse"/>
		</operation>
		<operation name="modifyDatastreamByValue">
			<documentation>Modifies an existing datastream in an object, by value.</documentation>
			<input message="fedora-api:modifyDatastreamByValueRequest"/>
			<output message="fedora-api:modifyDatastreamByValueResponse"/>
		</operation>
		<operation name="modifyDisseminator">
			<documentation>Modifies a disseminator in the object.</documentation>
			<input message="fedora-api:modifyDisseminatorRequest"/>
			<output message="fedora-api:modifyDisseminatorResponse"/>
		</operation>
		<operation name="setDatastreamState">
			<documentation>Sets the state of a datastream to the specified state value.</documentation>
			<input message="fedora-api:setDatastreamStateRequest"/>
			<output message="fedora-api:setDatastreamStateResponse"/>
		</operation>
		<operation name="setDisseminatorState">
			<documentation>Sets the state of a disseminator to the specified value.</documentation>
			<input message="fedora-api:setDisseminatorStateRequest"/>
			<output message="fedora-api:setDisseminatorStateResponse"/>
		</operation>
		<operation name="getDatastream">
			<documentation>Gets a datastream in an object.</documentation>
			<input message="fedora-api:getDatastreamRequest"/>
			<output message="fedora-api:getDatastreamResponse"/>
		</operation>
		<operation name="getDatastreams">
			<documentation>Gets all the datastreams in an object as of a certain date/time and in a certain state.</documentation>
			<input message="fedora-api:getDatastreamsRequest"/>
			<output message="fedora-api:getDatastreamsResponse"/>
		</operation>
		<operation name="getDatastreamHistory">
			<documentation>Gets all versions of a datastream, sorted from most to least recent.</documentation>
			<input message="fedora-api:getDatastreamHistoryRequest"/>
			<output message="fedora-api:getDatastreamHistoryResponse"/>
		</operation>
		<operation name="getDisseminator">
			<documentation>Gets a disseminator in an object.</documentation>
			<input message="fedora-api:getDisseminatorRequest"/>
			<output message="fedora-api:getDisseminatorResponse"/>
		</operation>
		<operation name="getDisseminators">
			<documentation>Gets all disseminators in an object.</documentation>
			<input message="fedora-api:getDisseminatorsRequest"/>
			<output message="fedora-api:getDisseminatorsResponse"/>
		</operation>
		<operation name="getDisseminatorHistory">
			<documentation>Gets the creation dates of each version of a disseminator.</documentation>
			<input message="fedora-api:getDisseminatorHistoryRequest"/>
			<output message="fedora-api:getDisseminatorHistoryResponse"/>
		</operation>
		<operation name="purgeDatastream">
			<documentation>Permanently removes one or more versions of a datastream from an object.</documentation>
			<input message="fedora-api:purgeDatastreamRequest"/>
			<output message="fedora-api:purgeDatastreamResponse"/>
		</operation>
		<operation name="purgeDisseminator">
			<documentation>Permanently removes one or more versions of a disseminator from an object.</documentation>
			<input message="fedora-api:purgeDisseminatorRequest"/>
			<output message="fedora-api:purgeDisseminatorResponse"/>
		</operation>
		<operation name="getNextPID">
			<documentation>Retrieves the specified number of next available pid(s) for a given pid namespace.</documentation>
			<input message="fedora-api:getNextPIDRequest"/>
			<output message="fedora-api:getNextPIDResponse"/>
		</operation>
	</portType>
	<binding name="Fedora-API-M-Binding-SOAPHTTP" type="fedora-api:Fedora-API-M">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ingest">
			<soap:operation style="rpc" soapAction="http://www.fedora.info/definitions/1/0/api/#ingest"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="ingestObject">
			<soap:operation style="rpc" soapAction="http://www.fedora.info/definitions/1/0/api/#ingestObject"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="describeUser">
			<soap:operation style="rpc" soapAction="http://www.fedora.info/definitions/1/0/api/#describeUser"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="modifyObject">
			<soap:operation style="rpc" soapAction="http://www.fedora.info/definitions/1/0/api/#modifyObject"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="getObjectXML">
			<soap:operation style="rpc" soapAction="http://www.fedora.info/definitions/1/0/api/#getObjectXML"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="export">
			<soap:operation style="rpc" soapAction="http://www.fedora.info/definitions/1/0/api/#export"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="exportObject">
			<soap:operation style="rpc" soapAction="http://www.fedora.info/definitions/1/0/api/#exportObject"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="purgeObject">
			<soap:operation style="rpc" soapAction="http://www.fedora.info/definitions/1/0/api/#purgeObject"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="addDatastream">
			<soap:operation style="rpc" soapAction="http://www.fedora.info/definitions/1/0/api/#addDatastream"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="addDisseminator">
			<soap:operation style="rpc" soapAction="http://www.fedora.info/definitions/1/0/api/#addDisseminator"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="modifyDatastreamByReference">
			<soap:operation style="rpc" soapAction="http://www.fedora.info/definitions/1/0/api/#modifyDatastreamByReference"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="modifyDatastreamByValue">
			<soap:operation style="rpc" soapAction="http://www.fedora.info/definitions/1/0/api/#modifyDatastreamByValue"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="modifyDisseminator">
			<soap:operation style="rpc" soapAction="http://www.fedora.info/definitions/1/0/api/#modifyDisseminator"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="setDatastreamState">
			<soap:operation style="rpc" soapAction="http://www.fedora.info/definitions/1/0/api/#setDatastreamState"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="setDisseminatorState">
			<soap:operation style="rpc" soapAction="http://www.fedora.info/definitions/1/0/api/#setDisseminatorState"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="getDatastream">
			<soap:operation style="rpc" soapAction="http://www.fedora.info/definitions/1/0/api/#getDatastream"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="getDatastreams">
			<soap:operation style="rpc" soapAction="http://www.fedora.info/definitions/1/0/api/#getDatastreams"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="getDatastreamHistory">
			<soap:operation style="rpc" soapAction="http://www.fedora.info/definitions/1/0/api/#getDatastreamHistory"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="getDisseminator">
			<soap:operation style="rpc" soapAction="http://www.fedora.info/definitions/1/0/api/#getDisseminator"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="getDisseminators">
			<soap:operation style="rpc" soapAction="http://www.fedora.info/definitions/1/0/api/#getDisseminators"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="getDisseminatorHistory">
			<soap:operation style="rpc" soapAction="http://www.fedora.info/definitions/1/0/api/#getDisseminatorHistory"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="purgeDatastream">
			<soap:operation style="rpc" soapAction="http://www.fedora.info/definitions/1/0/api/#purgeDatastream"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="purgeDisseminator">
			<soap:operation style="rpc" soapAction="http://www.fedora.info/definitions/1/0/api/#purgeDisseminator"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
		<operation name="getNextPID">
			<soap:operation style="rpc" soapAction="http://www.fedora.info/definitions/1/0/api/#getNextPID"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.fedora.info/definitions/1/0/api/"/>
			</output>
		</operation>
	</binding>
	<service name="Fedora-API-M-Service">
		<port name="Fedora-API-M-Port-SOAPHTTP" binding="fedora-api:Fedora-API-M-Binding-SOAPHTTP">
			<soap:address location="http://localhost:8080/fedora/management/soap"/>
		</port>
	</service>
</definitions>
