src/xsd/fedora-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.fedora.info/definitions/1/0/types/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:fedora-types="http://www.fedora.info/definitions/1/0/types/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema">
	<!--	  <import namespace="http://schemas.xmlsoap.org/wsdl/" schemaLocation="http://schemas.xmlsoap.org/wsdl/wsdl.xsd"/>
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/>
  <import namespace="http://www/fedora/info/definitions/1/0/types" schemaLocation="fedora-types.xsd"/> -->
	<complexType name="ArrayOfAuditRecord">
		<annotation>
			<documentation>an ordered list of AuditRecords</documentation>
		</annotation>
		<complexContent>
			<restriction base="soapenc:Array">
				<attribute ref="soapenc:arrayType" wsdl:arrayType="fedora-types:AuditRecord[]"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ArrayOfComponentInfo">
		<annotation>
			<documentation>an ordered list of ComponentInfos</documentation>
		</annotation>
		<complexContent>
			<restriction base="soapenc:Array">
				<attribute ref="soapenc:arrayType" wsdl:arrayType="fedora-types:ComponentInfo[]"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ArrayOfDatastream">
		<annotation>
			<documentation>an ordered list of Datastreams</documentation>
		</annotation>
		<complexContent>
			<restriction base="soapenc:Array">
				<attribute ref="soapenc:arrayType" wsdl:arrayType="fedora-types:Datastream[]"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ArrayOfDatastreamBinding">
		<annotation>
			<documentation>an ordered list of Datastream Bindings</documentation>
		</annotation>
		<complexContent>
			<restriction base="soapenc:Array">
				<attribute ref="soapenc:arrayType" wsdl:arrayType="fedora-types:DatastreamBinding[]"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ArrayOfDatastreamBindingMap">
		<annotation>
			<documentation>an ordered list of Datastream Binding Maps</documentation>
		</annotation>
		<complexContent>
			<restriction base="soapenc:Array">
				<attribute ref="soapenc:arrayType" wsdl:arrayType="fedora-types:DatastreamBindingMap[]"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ArrayOfDateTime">
		<annotation>
			<documentation>an ordered list of dateTimes</documentation>
		</annotation>
		<complexContent>
			<restriction base="soapenc:Array">
				<attribute ref="soapenc:arrayType" wsdl:arrayType="dateTime[]"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ArrayOfDisseminator">
		<annotation>
			<documentation>an ordered list of Disseminators</documentation>
		</annotation>
		<complexContent>
			<restriction base="soapenc:Array">
				<attribute ref="soapenc:arrayType" wsdl:arrayType="fedora-types:Disseminator[]"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ArrayOfMethodDef">
		<annotation>
			<documentation>an ordered list of Method Definitions</documentation>
		</annotation>
		<complexContent>
			<restriction base="soapenc:Array">
				<attribute ref="soapenc:arrayType" wsdl:arrayType="fedora-types:MethodDef[]"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ArrayOfMethodParmDef">
		<annotation>
			<documentation>an ordered list of Method Parameter Definitions</documentation>
		</annotation>
		<complexContent>
			<restriction base="soapenc:Array">
				<attribute ref="soapenc:arrayType" wsdl:arrayType="fedora-types:MethodParmDef[]"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ArrayOfObjectMethodsDef">
		<annotation>
			<documentation>an ordered list of Object Method Definitions</documentation>
		</annotation>
		<complexContent>
			<restriction base="soapenc:Array">
				<attribute ref="soapenc:arrayType" wsdl:arrayType="fedora-types:ObjectMethodsDef[]"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ArrayOfProperty">
		<annotation>
			<documentation>an ordered list of Properties.</documentation>
		</annotation>
		<complexContent>
			<restriction base="soapenc:Array">
				<attribute ref="soapenc:arrayType" wsdl:arrayType="fedora-types:Property[]"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ArrayOfString">
		<annotation>
			<documentation>an ordered list of Strings.</documentation>
		</annotation>
		<complexContent>
			<restriction base="soapenc:Array">
				<attribute ref="soapenc:arrayType" wsdl:arrayType="string[]"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AuditRecord">
		<annotation>
			<documentation>Audit information for a digital object</documentation>
		</annotation>
		<sequence>
			<element name="id" type="string"/>
			<element name="processType" type="string"/>
			<element name="action" type="string"/>
			<element name="responsibility" type="string"/>
			<element name="date" type="dateTime"/>
			<element name="justification" type="string"/>
		</sequence>
	</complexType>
	<simpleType name="ComponentInfo">
		<annotation>
			<documentation>data about a datastream or disseminator.
      </documentation>
		</annotation>
		<restriction base="string"/>
	</simpleType>
	<complexType name="Datastream">
		<annotation>
			<documentation>content stream of a digital object</documentation>
		</annotation>
		<sequence>
			<element name="controlGroup" type="fedora-types:DatastreamControlGroupType"/>
			<element name="ID" type="string"/>
			<element name="versionID" type="string"/>
			<element name="label" type="string"/>
			<element name="MIMEType" type="string"/>
			<element name="createDate" type="dateTime"/>
			<element name="size" type="long"/>
			<element name="infoType" type="string">
               <annotation>
                   <documentation>if inline xml, any mets-defined mdtype or anything else.  else unspecified.</documentation>
               </annotation>
           </element>
			<element name="class" type="string">
               <annotation>
                   <documentation>if inline xml, digiprov, rights, technical, source, or descriptive.  else unspecified.</documentation>
               </annotation>
           </element>
			<element name="role" type="string">
               <annotation>
                   <documentation>see fedora-development archives, oct 11 2002</documentation>
               </annotation>
           </element>
			<element name="state" type="string"/>
			<element name="location" type="string"/>
			<element name="contentStream" type="base64Binary"/>
		</sequence>
	</complexType>
	<complexType name="DatastreamBinding">
		<annotation>
			<documentation>content stream of a digital object</documentation>
		</annotation>
		<sequence>
			<element name="bindKeyName" type="string"/>
			<element name="bindLabel" type="string"/>
			<element name="datastreamID" type="string"/>
			<element name="seqNo" type="string"/>
		</sequence>
	</complexType>
	<complexType name="DatastreamBindingMap">
		<annotation>
			<documentation>ordered list of datastream binding maps</documentation>
		</annotation>
		<sequence>
			<element name="dsBindMapID" type="string"/>
			<element name="dsBindMechanismPID" type="string"/>
			<element name="dsBindMapLabel" type="string"/>
			<element name="state" type="string"/>
			<element name="dsBindings" type="fedora-types:ArrayOfDatastreamBinding"/>
		</sequence>
	</complexType>
	<simpleType name="DatastreamControlGroupType">
		<restriction base="xsd:string">
			<enumeration value="MANAGED_CONTENT"/>
			<enumeration value="XML_METADATA"/>
			<enumeration value="EXTERNAL_REF"/>
		</restriction>
	</simpleType>
	<complexType name="Disseminator">
		<annotation>
			<documentation>content stream of a digital object</documentation>
		</annotation>
		<sequence>
			<element name="bDefPID" type="string"/>
			<element name="bMechPID" type="string"/>
			<element name="dissCreateDT" type="dateTime"/>
			<element name="DissID" type="string"/>
			<element name="DissLabel" type="string"/>
			<element name="dissVersionID" type="string"/>
			<element name="dsBindMap" type="string"/>
			<element name="dsBindMapID" type="string"/>
			<element name="parentPID" type="string"/>
			<element name="dissState" type="string"/>
		</sequence>
	</complexType>
	<simpleType name="Fault">
		<annotation>
			<documentation>a message indicating what went wrong</documentation>
		</annotation>
		<restriction base="string"/>
	</simpleType>
	<complexType name="MethodDef">
		<annotation>
			<documentation>method definitions</documentation>
		</annotation>
		<sequence>
			<element name="methodLabel" type="string"/>
			<element name="methodName" type="string"/>
			<element name="methodParms" type="fedora-types:ArrayOfMethodParmDef"/>
			<!--		
			<xsd:element name="httpBindingAddress" type="string"/>
			<xsd:element name="httpBindingOperationLocation" type="string"/>
			<xsd:element name="httpBindingURL" type="string"/>
			-->
		</sequence>
	</complexType>
	<complexType name="MethodParmDef">
		<annotation>
			<documentation>a Fedora data structure containing method parameter definition information
            a dissemination</documentation>
		</annotation>
		<sequence>
			<element name="parmName" type="string"/>
			<element name="parmDefaultValue" type="string"/>
			<element name="parmRequired" type="boolean"/>
			<element name="parmLabel" type="string"/>
		</sequence>
	</complexType>
	<complexType name="MIMETypedStream">
		<annotation>
			<documentation>a base-64 encoded stream of data with an associated MIME-type</documentation>
		</annotation>
		<sequence>
			<element name="MIMEType" type="string"/>
			<element name="stream" type="base64Binary"/>
		</sequence>
	</complexType>
	<complexType name="ObjectMethodsDef">
		<annotation>
			<documentation>a Fedora data structure containing all method definitions for a digital object</documentation>
		</annotation>
		<sequence>
			<element name="PID" type="string"/>
			<element name="bDefPID" type="string"/>
			<element name="MethodName" type="string"/>
			<element name="asOfDate" type="dateTime"/>
		</sequence>
	</complexType>
	<complexType name="Property">
		<annotation>
			<documentation>a name-value pair.</documentation>
		</annotation>
		<sequence>
			<element name="name" type="string"/>
			<element name="value" type="string"/>
		</sequence>
	</complexType>
</schema>
