src/xsd/fedora-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.fedora.info/definitions/1/0/types/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:fedora-types="http://www.fedora.info/definitions/1/0/types/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
	<!--	  <import namespace="http://schemas.xmlsoap.org/wsdl/" schemaLocation="http://schemas.xmlsoap.org/wsdl/wsdl.xsd"/>
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/>
  <import namespace="http://www/fedora/info/definitions/1/0/types" schemaLocation="fedora-types.xsd"/> -->
	<xsd:complexType name="ArrayOfComponentInfo">
		<xsd:annotation>
			<xsd:documentation>an ordered list of ComponentInfos</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="soapenc:Array">
				<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="fedora-types:ComponentInfo[]"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfDatastream">
		<xsd:annotation>
			<xsd:documentation>an ordered list of Datastreams</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="soapenc:Array">
				<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="fedora-types:Datastream[]"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfBMechDSBindRule">
		<xsd:annotation>
			<xsd:documentation>an ordered list of Datastream Binding Rules</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="soapenc:Array">
				<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="fedora-types:BMechDSBindRule[]"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfDSBindingAugmented">
		<xsd:annotation>
			<xsd:documentation>an ordered list of Augmented Datastream Bindings</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="soapenc:Array">
				<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="fedora-types:DSBindingAugmented[]"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfDatastreamBinding">
		<xsd:annotation>
			<xsd:documentation>an ordered list of Datastream Bindings</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="soapenc:Array">
				<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="fedora-types:DatastreamBinding[]"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfDatastreamBindingMap">
		<xsd:annotation>
			<xsd:documentation>an ordered list of Datastream Binding Maps</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="soapenc:Array">
				<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="fedora-types:DatastreamBindingMap[]"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfDateTime">
		<xsd:annotation>
			<xsd:documentation>an ordered list of dateTimes</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="soapenc:Array">
				<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="dateTime[]"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfDisseminator">
		<xsd:annotation>
			<xsd:documentation>an ordered list of Disseminators</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="soapenc:Array">
				<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="fedora-types:Disseminator[]"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfDisseminationBindingInfo">
		<xsd:annotation>
			<xsd:documentation>an ordered list of dissemination binding information</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="soapenc:Array">
				<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="fedora-types:DisseminationBindingInfo[]"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfMethodDef">
		<xsd:annotation>
			<xsd:documentation>an ordered list of Method Definitions</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="soapenc:Array">
				<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="fedora-types:MethodDef[]"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfMethodParmDef">
		<xsd:annotation>
			<xsd:documentation>an ordered list of Method Parameter Definitions</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="soapenc:Array">
				<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="fedora-types:MethodParmDef[]"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfObjectMethodsDef">
		<xsd:annotation>
			<xsd:documentation>an ordered list of Object Method Definitions</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="soapenc:Array">
				<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="fedora-types:ObjectMethodsDef[]"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfProperty">
		<xsd:annotation>
			<xsd:documentation>an ordered list of Properties.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="soapenc:Array">
				<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="fedora-types:Property[]"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfString">
		<xsd:annotation>
			<xsd:documentation>an ordered list of Strings.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="soapenc:Array">
				<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="string[]"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="ComponentInfo">
		<xsd:annotation>
			<xsd:documentation>data about a datastream or disseminator.
      </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="string"/>
	</xsd:simpleType>
	<xsd:complexType name="BMechDSBindRule">
		<xsd:annotation>
			<xsd:documentation>Datastream binding rules of Behavior Mechanism</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="bindingInstruction" type="string"/>
			<xsd:element name="bindingKeyName" type="string"/>
			<xsd:element name="dindingLabel" type="string"/>
			<xsd:element name="bindingMIMETypes" type="fedora-types:ArrayOfString"/>
			<xsd:element name="maxNumBindings" type="integer"/>
			<xsd:element name="minNumBindings" type="integer"/>
			<xsd:element name="ordinality" type="boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BMechDSBindingSpec">
		<xsd:annotation>
			<xsd:documentation>Datastream binding specification of Behavior Mechanism</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="bDefPID" type="string"/>
			<xsd:element name="bindSpecLabel" type="string"/>
			<xsd:element name="bMechPID" type="string"/>
			<xsd:element name="dsBindRules" type="fedora-types:ArrayOfBMechDSBindRule"/>
			<xsd:element name="state" type="string"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- still needs some wrok; will eventually replace current definition
	<complexType name="Datastream">
		<annotation>
			<documentation>content stream of a digital object</documentation>
		</annotation>
		<sequence>
			<element name="MANAGED_CONTENT" type="string" fixed="true"/>
			<element name="XML_METADATA" type="string" fixed="true"/>
			<element name="EXTERNAL_REF" type="string" fixed="true"/>
			<element name="DatastreamID" type="string"/>
			<element name="DSversionID" type="string"/>
			<element name="DSLabel" type="string"/>
			<element name="DSMIME" type="string"/>
			<element name="DSCreateDT" type="string"/>
			<element name="DSSize" type="string"/>
			<element name="DSControlGrp" type="string"/>
			<element name="DSInfoType" type="string"/>
			<element name="DSState" type="string"/>
			<element name="DSLocation" type="string"/>
		</sequence>
	</complexType>
	-->
	<xsd:simpleType name="Datastream">
		<xsd:annotation>
			<xsd:documentation>arbitrary data (either referenced as a url or maintained
      as content) has: id, controlGroup 
      (INTERNAL=0/INLINEMETA=1/EXTERNAL=2/EXREQUEST=3), label, versionId,
      mimeType, infoType?, createDate, size.
      </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="string"/>
	</xsd:simpleType>
	<xsd:complexType name="DatastreamXMLMetadata">
		<xsd:annotation>
			<xsd:documentation>XML metadata datastream</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="xmlContent" type="base64Binary"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DisseminationBindingInfo">
		<xsd:annotation>
			<xsd:documentation>dissemination binding information</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DSBindKey" type="string"/>
			<xsd:element name="methodParms" type="fedora-types:ArrayOfMethodParmDef"/>
			<xsd:element name="DSLocation" type="string"/>
			<xsd:element name="AddressLocation" type="string"/>
			<xsd:element name="OperationLocation" type="string"/>
			<xsd:element name="ProtocolType" type="string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DatastreamBinding">
		<xsd:annotation>
			<xsd:documentation>content stream of a digital object</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="bindKeyName" type="string"/>
			<xsd:element name="bindLabel" type="string"/>
			<xsd:element name="datastreamID" type="string"/>
			<xsd:element name="seqNo" type="string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DSBindingAugmented">
		<xsd:annotation>
			<xsd:documentation>content stream of a digital object</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DSLabel" type="string"/>
			<xsd:element name="DSLocation" type="string"/>
			<xsd:element name="DSMIME" type="string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DatastreamBindingMap">
		<xsd:annotation>
			<xsd:documentation>ordered list of datastream binding maps</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="dsBindMapID" type="string"/>
			<xsd:element name="dsBindMechanismPID" type="string"/>
			<xsd:element name="dsBindMapLabel" type="string"/>
			<xsd:element name="state" type="string"/>
			<xsd:element name="dsBindings" type="fedora-types:ArrayOfDatastreamBinding"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DSBindingMapAugmented">
		<xsd:annotation>
			<xsd:documentation>content stream of a digital object</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="dsBindingsAugmented" type="fedora-types:ArrayOfDSBindingAugmented"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Disseminator">
		<xsd:annotation>
			<xsd:documentation>content stream of a digital object</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="bDefPID" type="string"/>
			<xsd:element name="bMechPID" type="string"/>
			<xsd:element name="dissCreateDT" type="dateTime"/>
			<xsd:element name="DissID" type="string"/>
			<xsd:element name="DissLabel" type="string"/>
			<xsd:element name="dissVersionID" type="string"/>
			<xsd:element name="dsBindMap" type="string"/>
			<xsd:element name="dsBindMapID" type="string"/>
			<xsd:element name="parentPID" type="string"/>
			<xsd:element name="dissState" type="string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Fault">
		<xsd:annotation>
			<xsd:documentation>a message indicating what went wrong</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="string"/>
	</xsd:simpleType>
	<xsd:complexType name="MethodDef">
		<xsd:annotation>
			<xsd:documentation>method definitions</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<!--		
			<xsd:element name="httpBindingAddress" type="string"/>
			<xsd:element name="httpBindingOperationLocation" type="string"/>
			<xsd:element name="httpBindingURL" type="string"/>
			-->
			<xsd:element name="methodLabel" type="string"/>
			<xsd:element name="methodName" type="string"/>
			<xsd:element name="methodParms" type="fedora-types:ArrayOfMethodParmDef"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MethodParmDef">
		<xsd:annotation>
			<xsd:documentation>a Fedora data structure containing method parameter definition information
            a dissemination</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="parmName" type="string"/>
			<xsd:element name="parmDefaultValue" type="string"/>
			<xsd:element name="parmRequired" type="boolean"/>
			<xsd:element name="parmLabel" type="string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MIMETypedStream">
		<xsd:annotation>
			<xsd:documentation>a base-64 encoded stream of data with an associated MIME-type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="MIMEType" type="string"/>
			<xsd:element name="stream" type="base64Binary"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ObjectMethodsDef">
		<xsd:annotation>
			<xsd:documentation>a Fedora data structure containing all method definitions for a digital object</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PID" type="string"/>
			<xsd:element name="bDefPID" type="string"/>
			<xsd:element name="MethodName" type="string"/>
			<xsd:element name="asOfDate" type="dateTime"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Property">
		<xsd:annotation>
			<xsd:documentation>a name-value pair.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="string"/>
			<xsd:element name="value" type="string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
