src/xsd/fedora-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.fedora.info/definitions/1/0/types/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:fedora-types="http://www.fedora.info/definitions/1/0/types/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema">
	<!--	  <import namespace="http://schemas.xmlsoap.org/wsdl/" schemaLocation="http://schemas.xmlsoap.org/wsdl/wsdl.xsd"/>
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/>
  <import namespace="http://www/fedora/info/definitions/1/0/types" schemaLocation="fedora-types.xsd"/> -->
	<complexType name="ArrayOfAuditRecord">
		<annotation>
			<documentation>an ordered list of AuditRecords</documentation>
		</annotation>
		<complexContent>
			<restriction base="soapenc:Array">
				<attribute ref="soapenc:arrayType" wsdl:arrayType="fedora-types:AuditRecord[]"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ArrayOfComponentInfo">
		<annotation>
			<documentation>an ordered list of ComponentInfos</documentation>
		</annotation>
		<complexContent>
			<restriction base="soapenc:Array">
				<attribute ref="soapenc:arrayType" wsdl:arrayType="fedora-types:ComponentInfo[]"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ArrayOfCondition">
		<annotation>
			<documentation>an ordered list of Conditions for searching, with the implied AND boolean operator.</documentation>
		</annotation>
		<complexContent>
			<restriction base="soapenc:Array">
				<attribute ref="soapenc:arrayType" wsdl:arrayType="fedora-types:Condition[]"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ArrayOfDatastream">
		<annotation>
			<documentation>an ordered list of Datastreams</documentation>
		</annotation>
		<complexContent>
			<restriction base="soapenc:Array">
				<attribute ref="soapenc:arrayType" wsdl:arrayType="fedora-types:Datastream[]"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ArrayOfDatastreamBinding">
		<annotation>
			<documentation>an ordered list of Datastream Bindings</documentation>
		</annotation>
		<complexContent>
			<restriction base="soapenc:Array">
				<attribute ref="soapenc:arrayType" wsdl:arrayType="fedora-types:DatastreamBinding[]"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ArrayOfDatastreamBindingMap">
		<annotation>
			<documentation>an ordered list of Datastream Binding Maps</documentation>
		</annotation>
		<complexContent>
			<restriction base="soapenc:Array">
				<attribute ref="soapenc:arrayType" wsdl:arrayType="fedora-types:DatastreamBindingMap[]"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ArrayOfDateTime">
		<annotation>
			<documentation>an ordered list of dateTimes</documentation>
		</annotation>
		<complexContent>
			<restriction base="soapenc:Array">
				<attribute ref="soapenc:arrayType" wsdl:arrayType="dateTime[]"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ArrayOfDisseminator">
		<annotation>
			<documentation>an ordered list of Disseminators</documentation>
		</annotation>
		<complexContent>
			<restriction base="soapenc:Array">
				<attribute ref="soapenc:arrayType" wsdl:arrayType="fedora-types:Disseminator[]"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ArrayOfMethodDef">
		<annotation>
			<documentation>an ordered list of Method Definitions</documentation>
		</annotation>
		<complexContent>
			<restriction base="soapenc:Array">
				<attribute ref="soapenc:arrayType" wsdl:arrayType="fedora-types:MethodDef[]"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ArrayOfMethodParmDef">
		<annotation>
			<documentation>an ordered list of Method Parameter Definitions</documentation>
		</annotation>
		<complexContent>
			<restriction base="soapenc:Array">
				<attribute ref="soapenc:arrayType" wsdl:arrayType="fedora-types:MethodParmDef[]"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ArrayOfObjectMethodsDef">
		<annotation>
			<documentation>an ordered list of Object Method Definitions</documentation>
		</annotation>
		<complexContent>
			<restriction base="soapenc:Array">
				<attribute ref="soapenc:arrayType" wsdl:arrayType="fedora-types:ObjectMethodsDef[]"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ArrayOfObjectFields">
		<annotation>
			<documentation>an ordered list of ObjectFields records.</documentation>
		</annotation>
		<complexContent>
			<restriction base="soapenc:Array">
				<attribute ref="soapenc:arrayType" wsdl:arrayType="fedora-types:ObjectFields[]"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ArrayOfProperty">
		<annotation>
			<documentation>an ordered list of Properties.</documentation>
		</annotation>
		<complexContent>
			<restriction base="soapenc:Array">
				<attribute ref="soapenc:arrayType" wsdl:arrayType="fedora-types:Property[]"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ArrayOfString">
		<annotation>
			<documentation>an ordered list of Strings.</documentation>
		</annotation>
		<complexContent>
			<restriction base="soapenc:Array">
				<attribute ref="soapenc:arrayType" wsdl:arrayType="string[]"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="AuditRecord">
		<annotation>
			<documentation>Audit information for a digital object</documentation>
		</annotation>
		<sequence>
			<element name="id" type="string"/>
			<element name="processType" type="string"/>
			<element name="action" type="string"/>
			<element name="responsibility" type="string"/>
			<element name="date" type="dateTime"/>
			<element name="justification" type="string"/>
		</sequence>
	</complexType>
	<simpleType name="ComparisonOperator">
		<annotation>
			<documentation>An operator for comparing a property to a value.</documentation>
		</annotation>
		<restriction base="xsd:string">
			<enumeration value="has"/>
			<enumeration value="eq"/>
			<enumeration value="lt"/>
			<enumeration value="le"/>
			<enumeration value="gt"/>
			<enumeration value="ge"/>
		</restriction>
	</simpleType>
	<simpleType name="ComponentInfo">
		<annotation>
			<documentation>data about a datastream or disseminator.
      </documentation>
		</annotation>
		<restriction base="string"/>
	</simpleType>
	<complexType name="Condition">
		<annotation>
			<documentation>A property,operator,value expression that evaluates to true or false.</documentation>
		</annotation>
		<sequence>
			<element name="property" type="string"/>
			<element name="operator" type="fedora-types:ComparisonOperator"/>
			<element name="value" type="string"/>
		</sequence>
	</complexType>
	<complexType name="Datastream">
		<annotation>
			<documentation>content stream of a digital object</documentation>
		</annotation>
		<sequence>
			<element name="controlGroup" type="fedora-types:DatastreamControlGroup"/>
			<element name="ID" type="string"/>
			<element name="versionID" type="string"/>
			<element name="label" type="string"/>
			<element name="MIMEType" type="string"/>
			<element name="createDate" type="dateTime"/>
			<element name="size" type="long"/>
			<element name="infoType" type="string">
				<annotation>
					<documentation>If inline xml, may be any string.
                   this is intended to identify the schema to which the
                   datastream conforms, by label.  It's based on
                   the mets "mdType" attribute.
                   </documentation>
				</annotation>
			</element>
			<element name="class" type="string">
				<annotation>
					<documentation>if inline xml, digiprov, rights, technical, 
                   source, or descriptive.  else unspecified.</documentation>
				</annotation>
			</element>
			<element name="role" type="fedora-types:DatastreamRole" minOccurs="0">
				<annotation>
					<documentation>A string indicating, for an inline technical 
                   xml metatdata datastream inside a behavior definition or
                   mechanism object, what role it plays.  Valid roles are
                   "METHOD_DEFINITIONS" (for a behavior definition object), 
                   "DATASTREAM_BINDING_SPEC" or "SERVICE_BINDING" (for a 
                   behavior mechanism object).  This element has the following 
                   validity constraints:
                   1) When the Datastream is not XMLMetadata: 
                      must not be specified
                   2) When the Datastream is XMLMetadata:
                        i) When the fedoraObjectType is "O": 
                           must not be specified
                       ii) When the fedoraObjectType is "D"
                           a) When the class is "technical": 
                           "METHOD_DEFINITIONS" or unspecified
                           b) When the class is not "technical": 
                           must not be specified
                      iii) When the fedoraObjectType is "M"
                           a) when the class is "technical": 
                           "DATASTREAM_BINDING_SPEC" or "SERVICE_BINDING"
                           or unspecified.
                           b) When the class is not "technical": 
                           must not be specified
                 </documentation>
				</annotation>
			</element>
			<element name="state" type="string"/>
			<element name="location" type="string"/>
			<element name="contentStream" type="base64Binary"/>
		</sequence>
	</complexType>
	<complexType name="DatastreamBinding">
		<annotation>
			<documentation>content stream of a digital object</documentation>
		</annotation>
		<sequence>
			<element name="bindKeyName" type="string"/>
			<element name="bindLabel" type="string"/>
			<element name="datastreamID" type="string"/>
			<element name="seqNo" type="string"/>
		</sequence>
	</complexType>
	<complexType name="DatastreamBindingMap">
		<annotation>
			<documentation>ordered list of datastream binding maps</documentation>
		</annotation>
		<sequence>
			<element name="dsBindMapID" type="string"/>
			<element name="dsBindMechanismPID" type="string"/>
			<element name="dsBindMapLabel" type="string"/>
			<element name="state" type="string"/>
			<element name="dsBindings" type="fedora-types:ArrayOfDatastreamBinding"/>
		</sequence>
	</complexType>
	<simpleType name="DatastreamControlGroup">
		<annotation>
			<documentation>Control group indicating the nature of the repository's control of the datastream content:
			   P : Protected-External-Ref.  The datastream content is external to the repository and 
			   referenced by a URL.  The content is not under the direct custodianship of the repository.  
			   However,  the datastream content is protected by the repository.  The repository will not 
			   reveal the underlying location of the  datastream content and will mediate all access to the 
			   content  by collaborating services (e.g., a behavior mechanism service). 
			   E : External-Ref.  The datastream content is external to the repository  and referenced by URL.
			   The content is not under the direct custodianship of the repository.  The URL is considered
			   public so the repository does not worry about whether it exposes the datastream location to
			   collaborating services.
			   M : Managed-Internal.  The datastream content is stored and managed  by the repository.  
			   The content is considered under the direct custodianship of the repository.  
			   The repository does not expose  the underlying storage location to collaborating services 
			   and  it mediates all access to the content by collaborating services.
			   X : Inline-XML-User-Metadata.  The datastream content is user-defined  XML metadata that
			    is stored within the digital object XML file itself.   As such, it is intrinsically bound to the 
			    digital object, and by  implication, it is stored and managed by the repository.  The content
			    considered under the custodianship of the repository.</documentation>
		</annotation>
		<restriction base="xsd:string">
			<enumeration value="E"/>
			<enumeration value="M"/>
			<enumeration value="X"/>
			<enumeration value="R"/>"
		</restriction>
	</simpleType>
	<simpleType name="DatastreamRole">
		<restriction base="xsd:string">
			<enumeration value="METHOD_DEFINITIONS"/>
			<enumeration value="DATASTREAM_BINDING_SPEC"/>
			<enumeration value="SERVICE_BINDING"/>
		</restriction>
	</simpleType>
	<complexType name="Disseminator">
		<annotation>
			<documentation>content stream of a digital object</documentation>
		</annotation>
		<sequence>
			<element name="bDefPID" type="string"/>
			<element name="bMechPID" type="string"/>
			<element name="dissCreateDT" type="dateTime"/>
			<element name="DissID" type="string"/>
			<element name="DissLabel" type="string"/>
			<element name="dissVersionID" type="string"/>
			<element name="dsBindMap" type="string"/>
			<element name="dsBindMapID" type="string"/>
			<element name="parentPID" type="string"/>
			<element name="dissState" type="string"/>
			<element name="bDefLabel" type="string"/>
			<element name="bMechLabel" type="string"/>
			<!-- missing bDefLabel and bMechLabel-->
		</sequence>
	</complexType>
	<complexType name="MethodDef">
		<annotation>
			<documentation>method definitions</documentation>
		</annotation>
		<sequence>
			<element name="methodLabel" type="string"/>
			<element name="methodName" type="string"/>
			<element name="methodParms" type="fedora-types:ArrayOfMethodParmDef"/>
			<!--		
			<xsd:element name="httpBindingAddress" type="string"/>
			<xsd:element name="httpBindingOperationLocation" type="string"/>
			<xsd:element name="httpBindingURL" type="string"/>
			-->
		</sequence>
	</complexType>
	<simpleType name="passByRef">
		<restriction base="xsd:string">
			<enumeration value="URL_REF"/>
		</restriction>
	</simpleType>
	<simpleType name="passByValue">
		<restriction base="xsd:string">
			<enumeration value="VALUE"/>
		</restriction>
	</simpleType>
	<simpleType name="datastreamInputType">
		<restriction base="xsd:string">
			<enumeration value="fedora:datastreamInputType"/>
		</restriction>
	</simpleType>
	<simpleType name="userInputType">
		<restriction base="xsd:string">
			<enumeration value="fedora:userInputType"/>
		</restriction>
	</simpleType>
	<simpleType name="defaultInputType">
		<restriction base="xsd:string">
			<enumeration value="fedora:defaultInputType"/>
		</restriction>
	</simpleType>
	<complexType name="MethodParmDef">
		<annotation>
			<documentation>a Fedora data structure containing method parameter definition information
            a dissemination</documentation>
		</annotation>
		<sequence>
			<element name="parmName" type="string"/>
			<element name="parmType" type="string"/>
			<element name="parmDefaultValue" type="string"/>
			<element name="parmDomainValues" type="fedora-types:ArrayOfString"/>
			<element name="parmRequired" type="boolean"/>
			<element name="parmLabel" type="string"/>
			<element name="parmPassBy" type="string"/>
			<element name="PASS_BY_REF" type="fedora-types:passByRef"/>
			<element name="PASS_BY_VALUE" type="fedora-types:passByValue"/>
			<element name="DATASTREAM_INPUT" type="fedora-types:datastreamInputType"/>
			<element name="USER_INPUT" type="fedora-types:userInputType"/>
			<element name="DEFAULT_INPUT" type="fedora-types:defaultInputType"/>
		</sequence>
	</complexType>
	<complexType name="MIMETypedStream">
		<annotation>
			<documentation>a base-64 encoded stream of data with an associated MIME-type</documentation>
		</annotation>
		<sequence>
			<element name="MIMEType" type="string"/>
			<element name="stream" type="base64Binary"/>
		</sequence>
	</complexType>
	<complexType name="ObjectFields">
		<annotation>
			<documentation>a summary of a digital object that includes
            zero or one of each of the repository key metadata fields, 
            and any number of each of the 15 dublin core elements.</documentation>
		</annotation>
		<sequence>
			<element name="pid" type="string" minOccurs="0"/>
			<element name="label" type="string" minOccurs="0"/>
			<element name="fType" type="string" minOccurs="0"/>
			<element name="cModel" type="string" minOccurs="0"/>
			<element name="state" type="string" minOccurs="0"/>
			<element name="locker" type="string" minOccurs="0"/>
			<element name="cDate" type="dateTime" minOccurs="0"/>
			<element name="mDate" type="dateTime" minOccurs="0"/>
			<element name="title" type="string" minOccurs="0" maxOccurs="unbounded"/>
			<element name="creator" type="string" minOccurs="0" maxOccurs="unbounded"/>
			<element name="subject" type="string" minOccurs="0" maxOccurs="unbounded"/>
			<element name="description" type="string" minOccurs="0" maxOccurs="unbounded"/>
			<element name="publisher" type="string" minOccurs="0" maxOccurs="unbounded"/>
			<element name="contributor" type="string" minOccurs="0" maxOccurs="unbounded"/>
			<element name="date" type="string" minOccurs="0" maxOccurs="unbounded"/>
			<element name="type" type="string" minOccurs="0" maxOccurs="unbounded"/>
			<element name="format" type="string" minOccurs="0" maxOccurs="unbounded"/>
			<element name="identifier" type="string" minOccurs="0" maxOccurs="unbounded"/>
			<element name="source" type="string" minOccurs="0" maxOccurs="unbounded"/>
			<element name="language" type="string" minOccurs="0" maxOccurs="unbounded"/>
			<element name="relation" type="string" minOccurs="0" maxOccurs="unbounded"/>
			<element name="coverage" type="string" minOccurs="0" maxOccurs="unbounded"/>
			<element name="rights" type="string" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="ObjectInfo">
		<annotation>
			<documentation>a Fedora data structure containing key information about a digital object</documentation>
		</annotation>
		<sequence>
			<element name="label" type="string"/>
			<element name="foType" type="string"/>
			<element name="contentModelId" type="string"/>
			<element name="state" type="string"/>
			<element name="lockedBy" type="string"/>
			<element name="createDate" type="dateTime"/>
			<element name="lastModDate" type="dateTime"/>
		</sequence>
	</complexType>
	<complexType name="ObjectMethodsDef">
		<annotation>
			<documentation>a Fedora data structure containing all method definitions for a digital object</documentation>
		</annotation>
		<sequence>
			<element name="PID" type="string"/>
			<element name="bDefPID" type="string"/>
			<element name="methodName" type="string"/>
			<element name="methodParmDefs" type="fedora-types:ArrayOfMethodParmDef"/>
			<element name="asOfDate" type="dateTime"/>
		</sequence>
	</complexType>
	<complexType name="Property">
		<annotation>
			<documentation>a name-value pair.</documentation>
		</annotation>
		<sequence>
			<element name="name" type="string"/>
			<element name="value" type="string"/>
		</sequence>
	</complexType>
</schema>
