inc/server/xsd/wsdl.xsd

<?xml version="1.0" encoding="UTF-8" ?> 
<!-- 
 
Copyright 2001-2002 International Business Machines Corporation, Microsoft Corporation. All rights reserved.  

--> 
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        targetNamespace="http://schemas.xmlsoap.org/wsdl/"
        elementFormDefault="qualified">
   
	<complexType mixed = "true" name = "tDocumentation">
		<sequence>
        		<any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>         
		</sequence>
	</complexType>
      	<complexType name = "tDocumented">
		<annotation>
         		<documentation>
         			This type is extended by  component types
         			to allow them to be documented
         		</documentation>
      		</annotation>
      		<sequence>
         		<element name = "documentation" type = "wsdl:tDocumentation" minOccurs="0"/>
      		</sequence>
	</complexType>
	 
      	<complexType name="tExtensibleAttributesDocumented" abstract="true">
		<complexContent>
		<extension base = "wsdl:tDocumented">
			<annotation>
         			<documentation>
         				This type is extended by  component types
         				to allow attributes from other namespaces to be added.
         			</documentation>
	      		</annotation>
      			<anyAttribute namespace="##other"/>		
		</extension>
		</complexContent>
   	</complexType>

	<complexType name="tExtensibleDocumented" abstract="true">
		<complexContent>
		<extension base = "wsdl:tDocumented">
      			<annotation>
         			<documentation>
         				This type is extended by  component types
         				to allow attributes from other namespaces to be added.
         			</documentation>
      			</annotation>
			<sequence>
				<any namespace="##other" minOccurs = "0" maxOccurs = "unbounded"/>
			</sequence>
		</extension>
		</complexContent>
   	</complexType>

   	<element name="definitions" type="wsdl:tDefinitions">
   		<key name="message">
         		<selector xpath="wsdl:message"/>
         		<field xpath="@name"/>
      		</key>
      		<key name="portType">
         		<selector xpath="wsdl:portType"/>
         		<field xpath="@name"/>
      		</key>
      		<key name="binding">
         		<selector xpath="wsdl:binding"/>
         		<field xpath="@name"/>
      		</key>
      		<key name="service">
         		<selector xpath="wsdl:service"/>
         		<field xpath="@name"/>
      		</key>
      		<key name="import">
            		<selector xpath="wsdl:import"/>
            		<field xpath="@namespace"/>
         	</key>
      		<key name="port">
         		<selector xpath="wsdl:service/wsdl:port"/>
         		<field xpath="@name"/>
      		</key>
   	</element>
	<group name = "anyTopLevelOptionalElement">
		<annotation>
         		<documentation>
         			Any top level optional element allowed to appear more then once- 
				any child of definitions element except wsdl:types. 
				Any extensibility element is allowed in any place 
         		</documentation>
      		</annotation>
		<choice>
			<element name = "import"   type = "wsdl:tImport"/>
			<element name = "types"    type = "wsdl:tTypes"/>               			
	               	<element name = "message"  type = "wsdl:tMessage">
        	       		<unique name="part">
         				<selector xpath="wsdl:part"/>
         				<field xpath="@name"/>
      				</unique>
	   		</element>
			<element name = "portType" type = "wsdl:tPortType" />
               		<element name = "binding"  type = "wsdl:tBinding"/>
	               	<element name = "service"  type = "wsdl:tService"/>
		</choice>
	</group>
	<complexType name = "tDefinitions">
		<complexContent>
      			<extension base="wsdl:tExtensibleDocumented">
				<sequence>
					<group ref = "wsdl:anyTopLevelOptionalElement"  minOccurs="0"   maxOccurs = "unbounded"/>
				</sequence>
	            		<attribute name="targetNamespace" type="anyURI" use="optional"/>
        	    		<attribute name="name"            type="NCName" use="optional"/>
         		</extension>
		</complexContent>
 	</complexType>
   
	<complexType name="tImport">
	<complexContent>
      		<extension base = "wsdl:tExtensibleAttributesDocumented">
      			<attribute name="namespace" type="anyURI" use="required"/>
      			<attribute name="location" type="anyURI" use="required"/>
      		</extension>
	</complexContent>
 	</complexType>
   
   	<complexType name="tTypes">
		<complexContent>   
     			<extension base="wsdl:tExtensibleDocumented"/>
 		</complexContent>   
	</complexType>
   	
	<complexType name="tMessage">
		<complexContent>   
        	<extension base="wsdl:tExtensibleDocumented">
   			<sequence>
   				<element name = "part" type = "wsdl:tPart" minOccurs="0" maxOccurs="unbounded"/>
  			</sequence>
      			<attribute name="name" type="NCName" use="required"/>
   		</extension>
		</complexContent>   
  	</complexType>

	<complexType name="tPart">
		<complexContent>   
        	<extension base="wsdl:tExtensibleAttributesDocumented">
			<attribute name="name" type="NCName" use="required"/>      			
      			<attribute name="element" type="QName" use="optional"/>
			<attribute name="type" type="QName" use="optional"/>		
   		</extension>
		</complexContent>   
  	</complexType>
   	

   	<complexType name="tPortType">
		<complexContent>   
      		<extension base="wsdl:tExtensibleAttributesDocumented">
   			<sequence>
   				<element name = "operation" type = "wsdl:tOperation" minOccurs="0" maxOccurs="unbounded"/>
  			</sequence>
      			<attribute name="name" type="NCName" use="required"/>			
   		</extension>
		</complexContent>   
    	</complexType>
   
   	<complexType name="tOperation">
		<complexContent>   
        	<extension base="wsdl:tExtensibleDocumented">
      			<choice>
         			<group ref="wsdl:request-response-one-way-operation"/>
         			<group ref="wsdl:solicit-response-notification-operation"/>
      			</choice>
      			<attribute name="name" type="NCName" use="required"/>
			<attribute name="parameterOrder" type="NMTOKENS" use="optional"/>
   		</extension>
		</complexContent>   
  	</complexType>
		
    	<group name = "optional-response-fault">
		<choice>
			<sequence/>
			<sequence>
				<element name = "output" type = "wsdl:tParam"/>
				<element name = "fault"  type = "wsdl:tFault" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</choice>
    	</group>
    	<group name="request-response-one-way-operation">
      		<sequence>
			<element name = "input" type = "wsdl:tParam"/>
			<group   ref = "wsdl:optional-response-fault"/>
      		</sequence>
    	</group>

    	<group name = "optional-solicit-fault">
		<choice>
			<sequence/>
			<sequence>
				<element name = "input" type = "wsdl:tParam"/>
				<element name = "fault"  type = "wsdl:tFault" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</choice>
    	</group>
   	<group name="solicit-response-notification-operation">
      		<sequence>
	 		<element name = "output" type = "wsdl:tParam"/>
	 		<group   ref = "wsdl:optional-solicit-fault"/>
      		</sequence>
   	</group>
      	
   	<complexType name="tParam">
      		<complexContent>
   			<extension base="wsdl:tExtensibleAttributesDocumented">
   				<attribute name="name" type="NCName" use="optional"/>
      				<attribute name="message" type="QName" use="required"/>
   			</extension>
  		</complexContent>
  	</complexType>
   	<complexType name="tFault">
      		<complexContent>
   			<extension base="wsdl:tExtensibleAttributesDocumented">
   				<attribute name="name" type="NCName"  use="required"/>
      				<attribute name="message" type="QName" use="required"/>
   			</extension>
  		</complexContent>
  	</complexType>
   	
	<complexType name="tBinding">
      		<complexContent>
   			<extension base="wsdl:tExtensibleDocumented">
   				<sequence>
   					<element name="operation" type="wsdl:tBindingOperation" minOccurs="0" maxOccurs="unbounded"/>
  				</sequence>
      				<attribute name="name" type="NCName" use="required"/>
      				<attribute name="type" type="QName" use="required"/>
   			</extension>
  		</complexContent>
  	</complexType>
  	
	<complexType name = "tBindingOperationMessage">
  		<complexContent>
        		<extension base="wsdl:tExtensibleDocumented">
        			<attribute name="name" type="NCName" use="optional"/>
	    		</extension>
		</complexContent>
  	</complexType>
  
	<complexType name = "tBindingOperationFault">
  		<complexContent>
            		<extension base="wsdl:tExtensibleDocumented">
        			<attribute name="name" type="NCName" use="required"/>
	    		</extension>
		</complexContent>
  	</complexType>

  	<complexType name="tBindingOperation">
      		<complexContent>
   			<extension base="wsdl:tExtensibleDocumented">
   				<sequence>
      					<element name="input"  type="wsdl:tBindingOperationMessage" minOccurs="0"/>
      					<element name="output" type="wsdl:tBindingOperationMessage" minOccurs="0"/>
      					<element name="fault"  type="wsdl:tBindingOperationFault"   minOccurs="0" maxOccurs = "unbounded"/>         		
				</sequence>
      				<attribute name="name" type="NCName" use="required"/>
			</extension>
      		</complexContent>
   	</complexType>
   	
   	<complexType name="tService">
      		<complexContent>
   			<extension base="wsdl:tExtensibleDocumented">
				<sequence>
					<element name = "port" type = "wsdl:tPort" minOccurs="0" maxOccurs="unbounded"/>
			        </sequence>
        			<attribute name="name" type="NCName" use="required"/>
   			</extension>
      		</complexContent>
  	</complexType>
   	
	<complexType name="tPort">
      		<complexContent>
	   		<extension base="wsdl:tExtensibleDocumented">		
	       			<attribute name="name" type="NCName" use="required"/>
	       			<attribute name="binding" type="QName" use="required"/>
	   		</extension>
     		</complexContent>
   	</complexType>

  	<attribute name="arrayType" type="string"/>
	<attribute name="required" type = "boolean"/>
	<complexType name="tExtensibilityElement" abstract = "true">
		<sequence/>
		<attribute ref="wsdl:required" use="optional"/>
	</complexType>
</schema>